.DateTime10YearSlider {
  --date-time-cell-width:
    calc(
      var(--control-height-s) + (var(--space-3xs) * 2)
    );
  --item-width:
    calc(
      (var(--date-time-cell-width) * 14 - var(--control-height-m) * 2) / 11
    );
  --parent-width: calc(var(--item-width) * 10);
}
