.Popover {
  position: absolute;
  visibility: var(--popover-visibility);
  width: var(--popover-width);
  pointer-events: var(--popover-pointer-events);
  top: var(--popover-top);
  left: var(--popover-left);
}
