.popover {
  position: absolute;
  visibility: hidden;
  z-index: 1001;
  margin: -9999px 0 0 -9999px;

  &__children {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  &_visible {
    visibility: visible;
    margin: 0;
  }
}
