.TagBase.Tag {
  &_mode {
    &_cancel {
      cursor: auto;

      &:hover {
        --bg-color: var(--color-control-bg-ghost);
      }
    }

    &_link {
      text-decoration: none;
      cursor: pointer;
    }
  }
}
