@define-mixin breakpoint {
  &col {
    &_1 {
      --grid-item-col-end: 1;
    }

    &_2 {
      --grid-item-col-end: 2;
    }

    &_3 {
      --grid-item-col-end: 3;
    }

    &_4 {
      --grid-item-col-end: 4;
    }

    &_5 {
      --grid-item-col-end: 5;
    }

    &_6 {
      --grid-item-col-end: 6;
    }

    &_7 {
      --grid-item-col-end: 7;
    }

    &_8 {
      --grid-item-col-end: 8;
    }

    &_9 {
      --grid-item-col-end: 9;
    }

    &_10 {
      --grid-item-col-end: 10;
    }

    &_11 {
      --grid-item-col-end: 11;
    }

    &_12 {
      --grid-item-col-end: 12;
    }
  }

  &colStart {
    &_1 {
      --grid-item-col-start: 1 / span;
    }

    &_2 {
      --grid-item-col-start: 2 / span;
    }

    &_3 {
      --grid-item-col-start: 3 / span;
    }

    &_4 {
      --grid-item-col-start: 4 / span;
    }

    &_5 {
      --grid-item-col-start: 5 / span;
    }

    &_6 {
      --grid-item-col-start: 6 / span;
    }

    &_7 {
      --grid-item-col-start: 7 / span;
    }

    &_8 {
      --grid-item-col-start: 8 / span;
    }

    &_9 {
      --grid-item-col-start: 9 / span;
    }

    &_10 {
      --grid-item-col-start: 10 / span;
    }

    &_11 {
      --grid-item-col-start: 11 / span;
    }

    &_12 {
      --grid-item-col-start: 12 / span;
    }
  }

  &row {
    &_1 {
      --grid-item-row-end: 1;
    }

    &_2 {
      --grid-item-row-end: 2;
    }

    &_3 {
      --grid-item-row-end: 3;
    }

    &_4 {
      --grid-item-row-end: 4;
    }
  }

  &rowStart {
    &_1 {
      --grid-item-row-start: 1 / span;
    }

    &_2 {
      --grid-item-row-start: 2 / span;
    }

    &_3 {
      --grid-item-row-start: 3 / span;
    }

    &_4 {
      --grid-item-row-start: 4 / span;
    }
  }

  &order {
    &_-1 {
      --gird-item-order: -1;
    }

    &_0 {
      --gird-item-order: 0;
    }

    &_1 {
      --gird-item-order: 1;
    }
  }
}

.GridItem {
  min-width: 0;

  &[class*='col_'] {
    grid-column: var(--grid-item-col-start, span) var(--grid-item-col-end, 1);
  }

  &[class*='row_'],
  &[class*='rowStart_'] {
    grid-row: var(--grid-item-row-start, span) var(--grid-item-row-end, 1);
  }

  &[class*='order_'] {
    order: var(--gird-item-order);
  }

  &_ {
    @mixin breakpoint;
  }

  @media screen and (min-width: 360px) {
    &_xs\: {
      @mixin breakpoint;
    }
  }

  @media screen and (min-width: 640px) {
    &_s\: {
      @mixin breakpoint;
    }
  }

  @media screen and (min-width: 1024px) {
    &_m\: {
      @mixin breakpoint;
    }
  }

  @media screen and (min-width: 1280px) {
    &_l\: {
      @mixin breakpoint;
    }
  }

  @media screen and (min-width: 1440px) {
    &_xl\: {
      @mixin breakpoint;
    }
  }

  @media screen and (min-width: 1920px) {
    &_2xl\: {
      @mixin breakpoint;
    }
  }
}
