.GridItem {
  &[class*='GridItem_col_'],
  &[class*='GridItem_colStart_'] {
    grid-column: var(--grid-item-col-start, span) var(--grid-item-col-end, 1);
  }

  &[class*='GridItem_row_'],
  &[class*='GridItem_rowStart_'] {
    grid-row: var(--grid-item-row-start, span) var(--grid-item-row-end, 1);
  }

  &[class*='GridItem_order_'] {
    order: var(--gird-item-order);
  }
}
