/* --text-field-textarea-height: свойство для указания высоты котрола */

.TextFieldTypeTextArea {
  --text-field-textarea-padding: calc(
    (var(--text-field-textarea-slot-sizes-lenght) + 1) *
      var(--field-control-layout-space) +
      var(--text-field-textarea-slot-sizes-width)
  );
  --text-field-textarea-vertical-padding: calc(
    (
        var(--field-control-layout-slot-height) -
          var(--field-control-layout-text-line-height)
      ) / 2
  );
  --text-field-textarea-control-heigth: var(
    --text-field-heigth,
    var(--field-control-layout-height)
  );
  --text-field-textarea-heigth: calc(
    var(--text-field-textarea-control-heigth) -
      var(--field-control-layout-border-width) * 2
  );
  &-TextArea {
    padding-right: var(--text-field-textarea-padding, 0px);
    width: calc(100% + var(--text-field-textarea-padding));
    padding-top: var(--text-field-textarea-vertical-padding);
    padding-bottom: var(--text-field-textarea-vertical-padding);
    min-height: var(--text-field-textarea-heigth);
    height: var(--text-field-textarea-heigth);
    line-height: var(--field-control-layout-text-line-height);
    resize: none;
    &_resize {
      resize: vertical;
    }
  }
}
