.TextFieldTypeTextArea {
  --text-field-textarea-padding: calc(
    (var(--text-field-textarea-slot-sizes-lenght) + 1) *
      var(--field-control-layout-space) +
      var(--text-field-textarea-slot-sizes-width)
  );
  --text-field-textarea-vertical-padding: calc(
    (
        var(--field-control-layout-slot-height) -
          var(--field-control-layout-text-line-height)
      ) / 2
  );
  --text-field-textarea-control-heigth: var(
    --text-field-heigth,
    var(--field-control-layout-height)
  );
  --text-field-textarea-heigth-calc: calc(
    var(--text-field-textarea-control-heigth) -
      var(--field-control-layout-border-width) * 2
  );
  --text-field-textarea-min-heigth: var(--text-field-textarea-heigth-calc);

  &_resize {
    --text-field-textarea-resize: vertical;
    &_auto {
      --text-field-textarea-heigth: var(--text-field-textarea-heigth-calc);
    }
  }

  &-TextArea {
    padding-right: var(--text-field-textarea-padding, 0px);
    width: calc(100% + var(--text-field-textarea-padding));
    padding-top: var(--text-field-textarea-vertical-padding);
    padding-bottom: var(--text-field-textarea-vertical-padding);
    min-height: var(--text-field-textarea-min-heigth);
    height: var(--text-field-textarea-heigth, auto);
    line-height: var(--field-control-layout-text-line-height);
    resize: var(--text-field-textarea-resize, none);
  }
}
