.SnackBarItem {
  position: relative;
  color: var(--color-typo-primary);
  background-color: var(--snack-bar-item-bg);
  border-radius: var(--snack-bar-item-radius);
  box-shadow: var(--shadow-group);

  &_showProgress {
    &_line {
      padding-bottom: calc(var(--space-m) + var(--space-2xs));
    }
  }

  &_form {
    &_default {
      --snack-bar-item-radius: var(--space-xs);
    }

    &_round {
      --snack-bar-item-radius: var(--space-m);
    }

    &_brick {
      --snack-bar-item-radius: 0;
    }
  }

  &-Content,
  &-Actions,
  &-ActionButtons {
    width: 100%;
  }

  &-Line {
    position: absolute;
    left: 0%;
    bottom: 0;
  }

  &-Icon {
    flex: none;
  }

  &-CloseButton.Button {
    position: absolute;
    top: var(--space-2xs);
    right: var(--space-2xs);
  }
}
