.snackBarItem {
  position: relative;
  box-sizing: border-box;
  padding: var(--space-m) var(--space-2xl) var(--space-m) var(--space-m);
  margin-bottom: var(--space-s);
  width: 100%;
  border-radius: 8px;

  &__icon {
    color: var(--color-typo-primary);
  }

  &__text {
    display: -webkit-box;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-typo-primary);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  &__action {
    margin-top: var(--space-s);
  }

  &__close {
    position: absolute;
    top: var(--space-2xs);
    right: var(--space-2xs);
    color: var(--color-control-typo-ghost);
  }

  &_view_system {
    background-color: var(--color-bg-normal);
  }

  &_view_success {
    background-color: var(--color-bg-success);
  }

  &_view_warning {
    background-color: var(--color-bg-warning);
  }

  &_view_alert {
    background-color: var(--color-bg-alert);
  }
}
