.snackbarItem {
  position: relative;
  box-sizing: border-box;
  padding: var(--space-m) var(--space-2xl) var(--space-m) var(--space-m);
  margin-bottom: var(--space-s);
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07), 0 2px 2px rgba(0, 0, 0, 0.07),
    0 4px 4px rgba(0, 0, 0, 0.07), 0 6px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07);
  border-radius: 8px;

  &__icon {
    color: var(--color-typo-primary);
  }

  &__text {
    display: -webkit-box;
    font-size: var(--size-text-m);
    line-height: var(--line-height-text-s);
    color: var(--color-typo-primary);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  &__action {
    margin-top: var(--space-s);
  }

  &__close {
    position: absolute;
    top: var(--space-2xs);
    right: var(--space-2xs);
    color: var(--color-control-typo-ghost);
  }

  &_view_system {
    background-color: var(--color-bg-normal);
  }

  &_view_success {
    background-color: var(--color-bg-success);
  }

  &_view_warning {
    background-color: var(--color-bg-warning);
  }

  &_view_alert {
    background-color: var(--color-bg-alert);
  }
}
