.ContextMenuLevelCanary {
  box-sizing: border-box;
  width: 240px;
  padding: var(--space-xs) 0;
  background: var(--color-bg-default);
  border: var(--control-border-width) solid var(--color-control-bg-border-default);
  border-radius: var(--control-radius);
  box-shadow: var(--shadow-layer);

  &:not(&_firstLevel)&_direction {
    &_rightStartUp,
    &_leftStartUp {
      transform: translateY(calc(-1 * (var(--space-xs) + 1px)));
    }

    &_rightStartDown,
    &_leftStartDown {
      transform: translateY(calc(var(--space-xs) + 1px));
    }
  }

  &-Divider {
    --vertical-space: 0;
    height: var(--control-border-width);
    margin: var(--vertical-space) var(--space-s);
    background: var(--color-control-bg-border-default);

    &_size {
      &_l {
        --vertical-space: var(--space-xs);
      }

      &_m,
      &_s,
      &_xs {
        --vertical-space: var(--space-2xs);
      }
    }
  }

  &-Group {
    &_size_xs > .ContextMenuLevel-Item:not(:last-child) {
      margin-bottom: var(--space-2xs);
    }
  }

  &-Header {
    --top-space: 0;
    --bottom-space: 0;
    margin: 0 var(--space-s);
    padding: var(--top-space) 0 var(--bottom-space) 0;
    border-bottom: solid var(--control-border-width) var(--color-control-bg-border-default);
    letter-spacing: 0.05em;

    &_size {
      &_xs,
      &_s {
        --top-space: var(--space-xs);
        --bottom-space: var(--space-2xs);
      }

      &_m {
        --top-space: var(--space-s);
        --bottom-space: var(--space-xs);
      }

      &_l {
        --top-space: var(--space-s);
        --bottom-space: var(--space-s);
      }
    }

    &_first {
      padding: calc(var(--top-space) - var(--space-xs)) 0 var(--bottom-space) 0;
    }
  }
}
