.stand--DocLayout {
  --doc-layout-header-height: 60px;
  --doc-layout-side-width: 320px;
  --doc-layout-leftside-z-index: 1010;
  position: relative;
  min-height: 100vh;
  padding-top: var(--doc-layout-header-height);
  background: var(--color-bg-secondary);

  &-LeftSide {
    position: fixed;
    z-index: var(--doc-layout-leftside-z-index);
    top: var(--doc-layout-header-height);
    top: 0;
    left: 0;
    overflow-y: auto;
    width: calc(100vw - var(--space-2xl));
    max-width: var(--doc-layout-side-width);
    height: 100vh;
    padding: var(--space-2xl) var(--space-xl);
    background: var(--color-bg-default);
    border-right: 1px solid var(--color-bg-border);
    box-shadow: 0 0 0 var(--color-shadow-modal-1);
    transition: transform 0.2s, box-shadow 0.2s;
    transform: translateX(calc(var(--doc-layout-side-width) * -1));

    &::-webkit-scrollbar-track {
      background-color: var(--color-bg-default);
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 0;

      @media screen and (min-width: 1024px) {
        width: 8;
        height: 8;
      }
    }

    &_open {
      box-shadow: var(--shadow-modal);
      transform: translateX(0);
    }

    @media screen and (min-width: 1364px) {
      z-index: auto;
      top: var(--doc-layout-header-height);
      height: calc(100vh - var(--doc-layout-header-height));
      transform: translateX(0);
    }
  }

  &-Owerlay {
    position: fixed;
    z-index: calc(var(--doc-layout-leftside-z-index) - 1);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    background: var(--color-bg-tone);
    border: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;

    &_open {
      opacity: 1;
      pointer-events: all;
    }
  }

  &-RightSide {
    position: fixed;
    top: var(--doc-layout-header-height);
    right: 0;
    overflow-y: auto;
    width: var(--doc-layout-side-width);
    height: calc(100vh - var(--doc-layout-header-height));
    padding: var(--space-2xl) var(--space-2xl) var(--space-xl) 0;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &-Content {
    padding: var(--space-2xl);

    @media screen and (min-width: 1364px) {
      padding-right: var(--space-2xl);
      padding-left: calc(var(--doc-layout-side-width) + var(--space-2xl));
    }

    @media screen and (min-width: 1690px) {
      padding-right: calc(var(--doc-layout-side-width) + var(--space-2xl));
    }
  }

  &-Paper {
    max-width: 980px;
    min-height: 100%;
    margin: 0 auto;
    padding: var(--space-2xl) var(--space-3xl);
    background: var(--color-bg-default);
    border-radius: 10px;
  }

  &-Header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
