.PaginationNumberInput {
  --pagination-input-field-size: var(--space-2xl);

  &_size {
    &_xs {
      --pagination-input-field-size: calc(var(--space-xl) + var(--space-3xs));
    }

    &_s {
      --pagination-input-field-size: calc(var(--space-2xl) - var(--space-3xs));
    }

    &_m {
      --pagination-input-field-size: calc(var(--space-2xl) + var(--space-3xs));
    }

    &_l {
      --pagination-input-field-size: calc(var(--space-3xl) - var(--space-3xs));
    }
  }

  &-Input {
    & .TextField-Input {
      width: var(--pagination-input-field-size);
      min-width: var(--pagination-input-field-size);
    }

    & .TextField-Body {
      width: auto;
    }
  }

  &-Total.Text {
    color: var(--color-control-typo-ghost);
    line-height: var(--space-m);
  }
}
