.LayoutExampleBasic {
  width: 100%;
  height: 300px;

  & > .LayoutExampleBasic-Block:first-child {
    border-right: 2px solid var(--color-bg-default);
  }

  &-Block {
    justify-content: center;
    align-items: center;
    background: var(--color-bg-success);
  }
}
