.ContextMenuLevelCanary {
  visibility: hidden;
  width: 240px;

  &:not(&_firstLevel)&_direction {
    &_rightStartUp,
    &_leftStartUp {
      transform: translateY(calc(-1 * (var(--space-xs) + 1px)));
    }

    &_rightStartDown,
    &_leftStartDown {
      transform: translateY(calc(var(--space-xs) + 1px));
    }
  }

  &_visible {
    visibility: visible;
  }
}
