.TabsMoreItems {
  &-Button {
    display: flex;
    align-items: center;
  }

  &-Content {
    white-space: nowrap;
  }

  &-Item {
    padding: 0 var(--space-s);

    &_active {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 2px;
        background: var(--color-bg-brand);
      }
    }

    & > * {
      width: 100%;
    }
  }
}
