.ListItem.canary--SelectCreateButton {
  &:hover:not(.ListItem_active) {
    background: transparent;
  }

  .ListItemGrid-Slot_position_center {
    overflow: hidden;
  }
}

.canary--SelectCreateButton {
  &-CreateLabel {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
