.FieldSelectControlLayout {
  &-Separator {
    width: 1px;
    height: 100%;
    background-color: var(--color-control-bg-border-default);
  }
  &-DropDownIcon {
    &_open {
      transform: rotate(180deg);
    }
  }
}
