.loader {
  position: relative;
  left: 50%;
  top: 50%;
  height: calc(100% - var(--loader-size));
  width: 100%;
  transform: translate(-50%, -50%);

  &::before {
    content: '';
    position: absolute;
    top: calc(50% - (var(--loader-size) * 0.5));
    left: calc(50% - (var(--loader-size) * 2.5));
    height: var(--loader-size);
    width: var(--loader-size);
    border-radius: 50%;
    background: var(--color-control-bg-primary);
    animation: loader 1s ease infinite;
  }
  &::after {
    content: '';
    position: absolute;
    top: calc(50% - (var(--loader-size) * 0.5));
    left: calc(50% + (var(--loader-size) * 1.5));
    height: var(--loader-size);
    width: var(--loader-size);
    border-radius: 50%;
    background: var(--color-control-bg-primary);
    animation: loader 1s -0.36s ease infinite;
  }

  &__dot {
    position: absolute;
    top: calc(50% - (var(--loader-size) * 0.5));
    left: calc(50% - (var(--loader-size) * 0.5));
    height: var(--loader-size);
    width: var(--loader-size);
    border-radius: 50%;
    background: var(--color-control-bg-primary);
    animation: loader 1s -0.18s ease infinite;
  }

  &_size {
    &_s {
      --loader-size: var(--space-2xs);
    }
    &_m {
      --loader-size: var(--space-xs);
    }
  }
}

@keyframes loader {
  50% {
    transform: scale(1.5);
  }
}
