.Radio {
  position: relative;
  display: inline-flex;
  font-family: var(--font-sans);
  cursor: pointer;

  &-Input {
    position: relative;
    box-sizing: border-box;
    width: var(--box-size);
    height: var(--box-size);
    margin: 0;
    border: var(--control-border-width) solid var(--color-control-bg-border-default);
    border-radius: 50%;
    cursor: pointer;
    transition: border-color 0.15s, background-color 0.15s;
    -webkit-appearance: none;
    flex-shrink: 0;

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - var(--box-size) / 2);
      left: calc(50% - var(--box-size) / 2);
      box-sizing: border-box;
      width: var(--box-size);
      height: var(--box-size);
      background-color: var(--color-control-bg-primary);
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.15s, transform 0.15s;
      transform: scale(0, 0);
    }
  }

  &-Label {
    margin-left: var(--offset);
    color: var(--color-control-typo-default);
    font-size: var(--radio-font-size);
  }

  &:hover &-Input {
    border-color: var(--color-control-bg-border-default-hover);
  }

  &_size {
    &_m {
      --radio-font-size: var(--control-text-size-m);
      --box-size: var(--control-box-size-m);
      --offset: var(--space-xs);
    }

    &_l {
      --radio-font-size: var(--control-text-size-l);
      --box-size: var(--control-box-size-l);
      --offset: var(--space-s);
    }
  }

  &-Input:checked {
    border-color: var(--color-control-bg-primary);

    &::before {
      opacity: 1;
      transform: scale(0.4, 0.4);
    }
  }

  &_disabled {
    pointer-events: none;

    .Radio-Input:disabled {
      background-color: var(--color-control-bg-disable);
      border-color: transparent;

      &::before {
        background-color: var(--color-control-typo-disable);
      }
    }

    .Radio-Input:disabled ~ .Radio-Label {
      color: var(--color-control-typo-disable);
    }
  }

  &_align {
    &_center {
      align-items: center;
    }

    &_top {
      align-items: top;

      .Radio-Input {
        margin-top: var(--space-3xs);
      }
    }
  }
}
