.radio {
  position: relative;
  align-items: center;
  display: inline-flex;
  font-family: var(--font-sans);
  cursor: pointer;

  &__box {
    position: relative;
    width: var(--box-size);
    height: var(--box-size);
    box-sizing: border-box;
    border-radius: 50%;
    border: var(--control-border-width) solid var(--color-control-bg-border-default);
    transition: border-color 0.15s, background-color 0.15s;

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - var(--box-size) / 2);
      left: calc(50% - var(--box-size) / 2);
      width: var(--box-size);
      height: var(--box-size);
      box-sizing: border-box;
      border-radius: 50%;
      background-color: var(--color-control-bg-primary);
      opacity: 0;
      transform: scale(0, 0);
      transition: opacity 0.15s, transform 0.15s;
    }
  }

  &__text {
    margin-left: var(--offset);
    color: var(--color-control-typo-default);
    font-size: var(--radio-font-size);
  }

  &:hover {
    .radio__box {
      border-color: var(--color-control-bg-border-default-hover);
    }
  }

  &_size_m {
    --radio-font-size: var(--control-text-size-m);
    --box-size: var(--control-box-size-m);
    --offset: var(--space-xs);
  }

  &_size_l {
    --radio-font-size: var(--control-text-size-l);
    --box-size: var(--control-box-size-l);
    --offset: var(--space-s);
  }

  &__input {
    position: absolute;
    appearance: none;

    &:checked + .radio__box {
      border-color: var(--color-control-bg-primary);

      &::before {
        opacity: 1;
        transform: scale(0.4, 0.4);
      }
    }
  }

  &_disabled {
    pointer-events: none;
    .radio__input:disabled + .radio__box {
      border-color: transparent;
      background-color: var(--color-control-bg-disable);

      &::before {
        background-color: var(--color-control-typo-disable);
      }
    }
    .radio__input:disabled ~ .radio__text {
      color: var(--color-control-typo-disable);
    }
  }
}
