.FieldTextArea {
  --field-textarea-resive-space: calc(
    var(--field-control-layout-right-slots-width, 0px) +
      var(--field-control-layout-space)
  );

  color: var(--field-control-layout-input-color);
  font-size: var(--field-control-layout-text-size);
  background: transparent;
  border: none;
  outline: none;
  min-height: var(--field-control-layout-slot-height);
  resize: var(--field-textarea-resize, 'both');
  min-height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  padding-right: var(--field-textarea-resive-space, 0px);
  width: calc(100% + var(--field-textarea-resive-space));
  resize: vertical;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--field-control-layout-input-color);
  }

  &::placeholder {
    color: var(--field-control-layout-placeholder-color);
  }
}
