.File {
  position: relative;

  &-Loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--loader-size);
    height: var(--loader-size);
    background-color: var(--color-control-bg-ghost);
    border-radius: 50%;

    &_size {
      &_s {
        --loader-size: 16px;
      }

      &_m {
        --loader-size: 24px;
      }
    }
  }

  &-Progress {
    display: block;
    color: #575b5e;
  }
}
