.SelectCreateButton {
  position: relative;
  display: block;
  padding: var(--vertical-space) var(--horizontal-space);
  color: var(--color-control-typo-default);
  background-color: var(--color-control-bg-clear);
  border: none;
  font-size: var(--font-size);
  cursor: pointer;

  &_size {
    &_xs {
      --horizontal-space: calc(var(--control-space-xs) * 0.5);
      --vertical-space: calc(var(--control-space-s) * 0.25);
      --font-size: var(--control-text-size-xs);
    }

    &_s {
      --horizontal-space: calc(var(--control-space-s) * 0.5);
      --vertical-space: calc(var(--control-space-s) * 0.25);
      --font-size: var(--control-text-size-s);
    }

    &_m {
      --horizontal-space: calc(var(--control-space-m) * 0.5);
      --vertical-space: calc(var(--control-space-s) * 0.5);
      --font-size: var(--control-text-size-m);
    }

    &_l {
      --horizontal-space: calc(var(--control-space-l) * 0.5);
      --vertical-space: calc(var(--control-space-s) * 0.5);
      --font-size: var(--control-text-size-l);
    }
  }

  &_hovered {
    background-color: var(--color-control-bg-clear-hover);
  }

  &_active {
    color: var(--color-control-typo-secondary);
  }

  &_indent {
    &_increased {
      padding-left: calc(var(--horizontal-space) * 2.6);
    }
  }
}
