.MixFocus {
  --mix-focus-color-one: var(--color-control-bg-focus);
  --mix-focus-color-two: var(--color-control-bg-active);
  --mix-focus-animation: Animation--MixFocus 0.5s ease-in;

  &:not(.MixFocus_before):focus,
  &:not(.MixFocus_before):focus:hover,
  &:not(.MixFocus_before)[class*='_focus'],
  &:not(.MixFocus_before)[class*='_focus']:hover,
  &_before:focus::before,
  &_before:focus:hover::before,
  &_before[class*='_focus']::before,
  &_before[class*='_focus']:hover::before {
    outline: none;
    box-shadow: 0 0 0 3px var(--mix-focus-color-one);
    animation: var(--mix-focus-animation);
  }

  &:not(.MixFocus_before):focus:active,
  &:not(.MixFocus_before):focus:active:hover,
  &:not(.MixFocus_before)[class*='_focus']:active,
  &:not(.MixFocus_before)[class*='_focus']:active:hover,
  &_before:focus:active::before,
  &_before:focus:active:hover::before,
  &_before[class*='_focus']:active::before,
  &_before[class*='_focus']:active:hover::before {
    animation: none;
  }
}

@keyframes Animation--MixFocus {
  from {
    box-shadow:
      0 0 0 0 var(--mix-focus-color-one),
      0 0 0 0 var(--mix-focus-color-two);
  }

  to {
    box-shadow: 0 0 0 3px var(--mix-focus-color-one), 0 0 0 6px transparent;
  }
}
