.ProgressStepBar {
  position: relative;
  display: inline-flex;
  justify-content: space-between;

  &_direction {
    &_horizontal {
      flex-direction: row;
      width: 100%;
    }

    &_vertical {
      flex-direction: column;
      height: 100%;

      & .ProgressStepBar-Point {
        margin-right: var(--space-xs);
      }
    }
  }

  &-Line {
    position: absolute;
    background-color: var(--color-bg-system);

    &_direction {
      &_horizontal {
        top: var(--step-line-padding);
        left: 0;
        width: var(--line-size);
        height: var(--step-line-size);
      }

      &_vertical {
        top: 0;
        left: var(--step-line-padding);
        width: var(--step-line-size);
        height: var(--line-size);
      }
    }

    &_size {
      &_xs {
        --step-line-size: var(--space-3xs);
        --step-line-padding: calc((var(--space-xs) - var(--space-3xs)) * 0.5);
      }

      &_s {
        --step-line-size: var(--space-2xs);
        --step-line-padding: calc((var(--space-m) - var(--space-2xs)) * 0.5);
      }

      &_m {
        --step-line-size: var(--space-2xs);
        --step-line-padding: calc((var(--space-xl) - var(--space-2xs)) * 0.5);
      }
    }
  }

  &-ProgressLine {
    position: absolute;
    z-index: var(--progress-line-index);
    top: 0;
    left: 0;
    background-color: var(--progress-line-color);
    transition: width var(--progress-line-resize), height var(--progress-line-resize);

    &_direction {
      &_horizontal {
        width: var(--progress-line-size);
        height: 100%;
      }

      &_vertical {
        width: 100%;
        height: var(--progress-line-size);
      }
    }

    &_status {
      &_normal {
        --progress-line-color: var(--color-bg-normal);
      }

      &_success {
        --progress-line-color: var(--color-bg-success);
      }

      &_warning {
        --progress-line-color: var(--color-bg-warning);
      }

      &_alert {
        --progress-line-color: var(--color-bg-alert);
      }
    }
  }

  &-Step {
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;

    &_direction {
      &_horizontal {
        flex-direction: column;
      }

      &_vertical {
        flex-direction: row;

        & .ProgressStepBar-Content_size_xs .ProgressStepBar-Label {
          margin-bottom: var(--space-2xs);
        }

        & .ProgressStepBar-Content_size_s .ProgressStepBar-Label {
          margin-bottom: var(--space-xs);
        }

        & .ProgressStepBar-Content_size_m .ProgressStepBar-Label {
          margin-bottom: var(--space-s);
        }
      }
    }

    &_position {
      &_start {
        flex: 1;

        &.ProgressStepBar-Step_direction_horizontal,
        & .ProgressStepBar-Content {
          align-items: flex-start;
          text-align: left;
        }
      }

      &_center {
        flex: 2;

        &.ProgressStepBar-Step_direction_horizontal,
        & .ProgressStepBar-Content {
          align-items: center;
          text-align: center;
        }
      }

      &_end {
        flex: 1;

        &.ProgressStepBar-Step_direction_horizontal,
        & .ProgressStepBar-Content {
          align-items: flex-end;
          text-align: right;
        }
      }
    }

    &_status {
      &_system {
        --point-background: var(--color-bg-system);
        --point-content-color: var(--color-typo-secondary);
      }

      &_normal {
        --point-background: var(--color-bg-normal);
        --point-content-color: var(--color-bg-default);
      }

      &_success {
        --point-background: var(--color-bg-success);
        --point-content-color: var(--color-bg-default);
      }

      &_warning {
        --point-background: var(--color-bg-warning);
        --point-content-color: var(--color-bg-default);
      }

      &_alert {
        --point-background: var(--color-bg-alert);
        --point-content-color: var(--color-bg-default);
      }
    }

    & .ProgressStepBar-Point-Text {
      color: var(--point-content-color);
    }

    & .ProgressSpin {
      stroke: var(--point-content-color);
    }
  }

  &-Point {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--point-size);
    height: var(--point-size);
    padding: 0;
    color: var(--color-bg-default);
    background-color: var(--point-background);
    border: none;
    border-radius: calc(var(--point-size) * 0.5);
    cursor: pointer;
    transition: background-color 0.3s;

    &-Text {
      color: var(--color-typo-secondary);
      transition: color 0.3s;
    }

    & .ProgressSpin {
      transition: stroke 0.3s;
    }

    & .Timer-Counter {
      display: none;
    }

    &_size {
      &_xs {
        --point-size: var(--space-xs);
      }

      &_s {
        --point-size: var(--space-m);
      }

      &_m {
        --point-size: var(--space-xl);
      }
    }
  }

  &-Content {
    &_size_xs {
      margin-top: -4px;
    }
  }
}
