.ProgressStepBar {
  /* Необходимо для того чтобы stylelint не приобразовывал 0px в 0 */
  --progress-step-bar-offset: calc(1px - 1px);
  display: inline-flex;
  width: 100%;
  max-width: 100%;

  &_isOverflow {
    --progress-step-bar-offset: var(--space-2xs);

    & .ProgressStepBar-List_direction_horizontal {
      overflow-x: scroll;
      overflow-y: visible;
    }
  }

  &-List {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: var(--progress-step-bar-offset);

    &::-webkit-scrollbar {
      display: none;
    }

    &_direction {
      &_horizontal {
        flex-direction: row;

        &:not(.ProgressStepBar-List_overflow) {
          min-width: 100%;
        }

        & .ProgressStepBar-Item:not(:last-child) {
          padding-right: var(--space-xs);
        }
      }

      &_vertical {
        flex-direction: column;

        &:not(.ProgressStepBar-List_overflow) {
          min-height: 100%;
        }
      }
    }
  }

  &-Button {
    &_side {
      &_left {
        margin-right: var(--space-2xs);
      }

      &_right {
        margin-left: var(--space-2xs);
      }
    }
  }
}
