.ModalLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &-Slot {
    background-color: var(--color-bg-default);
    transition: box-shadow 0.3s;

    &_border {
      &_top {
        padding-top: 1px;
        box-shadow:
          0 1px 0 0 var(--color-bg-border) inset,
          0 -2px 3px var(--modal-layout-slot-color-shadow, transparent);

        &[class*='MixSpace_pT'] {
          padding-top: calc(var(--space-padding-top) + 1px);
        }
      }

      &_bottom {
        padding-bottom: 1px;
        box-shadow:
          0 -1px 0 0 var(--color-bg-border) inset,
          0 2px 3px var(--modal-layout-slot-color-shadow, transparent);

        &[class*='MixSpace_pB'] {
          padding-bottom: calc(var(--space-padding-bottom) + 1px);
        }
      }
    }

    &_fixed {
      &_top {
        --modal-layout-slot-color-shadow:
          var(
            --modal-layout-header-color-shadow
          );
        position: sticky;
        top: 0;
      }

      &_bottom {
        --modal-layout-slot-color-shadow:
          var(
            --modal-layout-footer-color-shadow
          );
        position: sticky;
        bottom: 0;
      }
    }
  }
}
