.Badge {
  position: relative;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  height: var(--badge-size);
  font-size: var(--badge-text-size);
  font-weight: var(--font-weight-text-semibold);
  line-height: var(--badge-size);
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  flex-wrap: nowrap;
  gap: var(--space-2xs);

  &_size {
    &_xs {
      --badge-padding-round: var(--space-xs);
      --badge-padding-default: var(--space-2xs);
      --badge-size: var(--control-box-size-m);
      --badge-text-size: calc(var(--size-text-m) / 2);
      --badge-border-size: 2px;
      --badge-size-minified: 10px;
    }

    &_s {
      --badge-padding-round: var(--space-xs);
      --badge-padding-default: var(--space-2xs);
      --badge-size: var(--control-box-size-l);
      --badge-text-size: var(--size-text-2xs);
      --badge-size-minified: 16px;
      --badge-border-size: 3px;
    }

    &_m {
      --badge-padding-round: var(--space-s);
      --badge-padding-default: var(--space-xs);
      --badge-size: var(--control-height-xs);
      --badge-text-size: var(--size-text-xs);
      --badge-size-minified: 24px;
      --badge-border-size: 4px;
    }

    &_l {
      --badge-padding-round: var(--space-m);
      --badge-padding-default: var(--space-xs);
      --badge-size: var(--control-height-s);
      --badge-text-size: var(--size-text-s);
      --badge-size-minified: 32px;
      --badge-border-size: 5px;
    }
  }

  &:not(.Badge_counter.Badge_minified) {
    &.Badge_form_round {
      padding: 0 var(--badge-padding-round);
    }

    &.Badge_form_default {
      padding: 0 var(--badge-padding-default);
    }
  }

  &_form {
    &_default {
      border-radius: var(--control-radius);
    }

    &_round {
      border-radius: 99em;
    }
  }

  &_status {
    &_success {
      --badge-bg-color: var(--color-bg-success);
      --badge-text-color: var(--color-typo-success);
      --badge-border-color: var(--color-bg-success);
    }

    &_error {
      --badge-bg-color: var(--color-bg-alert);
      --badge-text-color: var(--color-typo-alert);
      --badge-border-color: var(--color-bg-alert);
    }

    &_warning {
      --badge-bg-color: var(--color-bg-warning);
      --badge-text-color: var(--color-typo-warning);
      --badge-border-color: var(--color-bg-warning);
    }

    &_normal {
      --badge-bg-color: var(--color-bg-normal);
      --badge-text-color: var(--color-typo-normal);
      --badge-border-color: var(--color-bg-normal);
    }

    &_system {
      --badge-bg-color: var(--color-bg-system);
      --badge-border-color: var(--color-bg-system);
    }
  }

  &_view {
    &_filled {
      color: var(--color-typo-primary);
      background: var(--badge-bg-color);

      &.Badge_status_system {
        color: var(--color-typo-secondary);
      }
    }

    &_stroked {
      color: var(--badge-text-color);
      box-shadow: inset 0 0 0 1px var(--badge-border-color);

      &.Badge_status_system {
        --badge-text-color: var(--color-typo-system);
      }
    }
  }

  &_counter {
    justify-content: center;
    width: var(--badge-size);
    padding: 0;
    text-align: center;
  }

  &_minified {
    width: var(--badge-size-minified);
    height: var(--badge-size);
    padding: 0;
    background: transparent;
    border: var(--badge-border-size) solid transparent;
    border-radius: 50%;
    box-shadow: inset 0 0 0 var(--badge-size) var(--badge-bg-color);
    line-height: var(--badge-size-minified);
  }

  &-Icon {
    font-size: 0;
    line-height: 1em;
    flex-shrink: 0;
  }
}
