.Badge {
  position: relative;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  height: var(--badge-size);
  font-size: var(--badge-text-size);
  font-weight: var(--font-weight-text-semibold);
  line-height: var(--badge-size);
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  flex-wrap: nowrap;
  gap: var(--space-2xs);

  &_size {
    &_xs {
      --badge-size: var(--control-box-size-m);
      --badge-text-size: calc(var(--size-text-m) / 2);
      padding: 0 var(--space-2xs);
    }

    &_s {
      --badge-size: var(--control-box-size-l);
      --badge-text-size: var(--size-text-2xs);
      padding: 0 var(--space-2xs);
    }

    &_m {
      --badge-size: var(--control-height-xs);
      --badge-text-size: var(--size-text-xs);
      padding: 0 var(--space-xs);
    }

    &_l {
      --badge-size: var(--control-height-s);
      --badge-text-size: var(--size-text-s);
      padding: 0 var(--space-xs);
    }
  }

  &_form {
    &_default {
      border-radius: var(--control-radius);
    }

    &_round {
      border-radius: 99em;

      &.Badge_size_xs {
        padding: 0 var(--space-xs);
      }

      &.Badge_size_s {
        padding: 0 var(--space-xs);
      }

      &.Badge_size_m {
        padding: 0 var(--space-s);
      }

      &.Badge_size_l {
        padding: 0 var(--space-m);
      }
    }
  }

  &_status {
    &_success {
      --badge-bg-color: var(--color-bg-success);
      --badge-text-color: var(--color-typo-success);
      --badge-border-color: var(--color-bg-success);
    }

    &_error {
      --badge-bg-color: var(--color-bg-alert);
      --badge-text-color: var(--color-typo-alert);
      --badge-border-color: var(--color-bg-alert);
    }

    &_warning {
      --badge-bg-color: var(--color-bg-warning);
      --badge-text-color: var(--color-typo-warning);
      --badge-border-color: var(--color-bg-warning);
    }

    &_normal {
      --badge-bg-color: var(--color-bg-normal);
      --badge-text-color: var(--color-typo-normal);
      --badge-border-color: var(--color-bg-normal);
    }

    &_system {
      --badge-bg-color: var(--color-bg-system);
      --badge-border-color: var(--color-bg-system);
    }
  }

  &_view {
    &_filled {
      color: var(--color-typo-primary);
      background: var(--badge-bg-color);

      &.Badge_status {
        &_system {
          color: var(--color-typo-secondary);
        }
      }
    }

    &_stroked {
      color: var(--badge-text-color);
      box-shadow: inset 0 0 0 1px var(--badge-border-color);

      &.Badge_status {
        &_system {
          --badge-text-color: var(--color-typo-system);
        }
      }
    }
  }

  &_minified {
    --badge-text-size: 0;
    background: transparent;
    border-radius: 50%;

    &.Badge_size_xs {
      width: 10px;
      height: 10px;
      padding: 0;
      border: 2px solid transparent;
      box-shadow: inset 0 0 0 10px var(--badge-bg-color);
    }

    &.Badge_size_s {
      width: 16px;
      height: 16px;
      padding: 0;
      border: 3px solid transparent;
      box-shadow: inset 0 0 0 10px var(--badge-bg-color);
    }

    &.Badge_size_m {
      width: 24px;
      height: 24px;
      padding: 0;
      border: 4px solid transparent;
      box-shadow: inset 0 0 0 12px var(--badge-bg-color);
    }

    &.Badge_size_l {
      width: 32px;
      height: 32px;
      padding: 0;
      border: 5px solid transparent;
      box-shadow: inset 0 0 0 14px var(--badge-bg-color);
    }
  }

  &-Icon {
    font-size: 0;
    line-height: 1em;
    flex-shrink: 0;
  }
}
