.MixPopoverAnimateExample {
  &-Button {
    margin-bottom: var(--space-m);
  }

  &-Popover {
    padding: var(--space-m);
    background: var(--color-bg-default);
    box-shadow: var(--shadow-layer);
  }
}
