.UiKit--ColorPreview {
  &-Circle {
    position: relative;
    z-index: 0;
    overflow: hidden;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    /* border: 1px solid var(--color-bg-border); */
    box-shadow: var(--shadow-group);

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: currentColor;
      border-radius: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      background-image:
        linear-gradient(
          45deg,
          rgba(0, 0, 0, 0.5) 25%,
          transparent 25%,
          transparent 75%,
          rgba(0, 0, 0, 0.5) 75%,
          rgba(0, 0, 0, 0.5)
        ),
        linear-gradient(
          45deg,
          rgba(0, 0, 0, 0.5) 25%,
          transparent 25%,
          transparent 75%,
          rgba(0, 0, 0, 0.5) 75%,
          rgba(0, 0, 0, 0.5)
        );
      background-position: 0 0, 5px 5px;
      background-size: 10px 10px;
      border-radius: 0 99em 99em 0;
      transform: rotate(45deg);
      transform-origin: left center;
    }
  }

  &-ColorCode {
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: var(--control-radius);
    cursor: pointer;

    & > .Icon {
      margin-right: var(--space-xs);
      color: var(--color-typo-secondary);
    }

    &:hover {
      color: var(--color-typo-primary);
      background-color: var(--color-bg-stripe);
    }
  }
}
