.Attach {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: var(--space-2xs) var(--space-xs);
  background: var(--color-control-bg-clear);
  border-radius: var(--control-radius);
  box-sizing: border-box;
  &_withAction {
    cursor: pointer;
    transition: background 0.2s ease;
    &:hover {
      background: var(--color-control-bg-clear-hover);
    }
  }
  &-File,
  &-Button {
    flex: none;
    margin: var(--space-2xs) var(--space-xs) var(--space-2xs) 0;
  }
  &-Content {
    flex: 1;
    margin-right: var(--space-xs);
    overflow: hidden;
  }
  &-Button,
  &-Content {
    word-wrap: break-word;
    &:last-child {
      margin-right: 0;
    }
  }
}
