.Attach {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: var(--space-2xs) var(--space-xs);
  background: var(--color-control-bg-clear);
  border-radius: var(--control-radius);
  box-sizing: border-box;
  &_withAction {
    cursor: pointer;
    transition: background 0.2s ease;
    &:hover {
      background: var(--color-control-bg-clear-hover);
    }
  }
  &-File {
    flex: none;
    transition: opacity 0.2s;
    margin: var(--space-2xs) var(--space-xs) var(--space-2xs) 0;
    &_error {
      opacity: 0.4;
    }
  }
  &-Button {
    flex: none;
  }
  &-Content {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    &:not(:last-child) {
      margin-right: var(--space-xs);
    }
  }
}
