.TableRowsCollapse {
  position: relative;
  padding-left: calc((var(--cell-padding-horizontal) + var(--space-s)) * var(--nesting-level));

  &-button {
    position: absolute;
    top: 0;
    bottom: 0;
    display: grid;
    width: var(--graphics-size-s);
    cursor: pointer;
    place-items: center;
  }

  &-cellContainer_withExpanderPadding {
    padding-left: calc(var(--cell-padding-horizontal) + var(--graphics-size-s));
  }
}
