.Informer {
  color: var(--color-typo-primary);
  background-color: var(--informer-bg);
  border-radius: var(--space-xs);

  &_view {
    &_bordered {
      --informer-bg: var(--color-bg-default);
      border-left: var(--space-xs) solid var(--informer-bg-color);
      box-shadow: var(--shadow-layer);
    }

    &_filled {
      --informer-bg: var(--informer-bg-color);
    }

    &_outline {
      --informer-icon-color: var(--informer-typo-color);
      --informer-bg:
        color-mix(
          in srgb,
          var(--informer-bg-color) var(--informer-bg-opacity),
          var(--color-bg-default)
        );
      border: var(--control-border-width) solid var(--informer-border-color);
    }
  }

  &-Icon {
    flex: 1;
    color: var(--informer-icon-color, inherit);
  }
}
