.informer {
  padding: var(--space-s) var(--space-m);
  border-radius: var(--control-radius);
  font-size: var(--size-text-m);
  color: var(--color-typo-primary);

  &_status {
    &_system {
      --informer-status-color: var(--color-bg-system);
    }
    &_alert {
      --informer-status-color: var(--color-bg-alert);
    }
    &_warning {
      --informer-status-color: var(--color-bg-warning);
    }
    &_success {
      --informer-status-color: var(--color-bg-success);
    }
  }

  &_view {
    &_bordered {
      border-left: var(--space-xs) solid var(--informer-status-color);

      /* DOTO: Надо вынести */
      box-shadow: 0 2px 2px rgba(var(--color-nums-shadow), 0.07),
        0 4px 4px rgba(var(--color-nums-shadow), 0.07),
        0 8px 8px rgba(var(--color-nums-shadow), 0.07),
        0 12px 16px rgba(var(--color-nums-shadow), 0.07),
        0 16px 32px rgba(var(--color-nums-shadow), 0.07);
    }
    &_filled {
      background-color: var(--informer-status-color);
    }
  }

  &__icon {
    transform: translateY(var(--space-3xs));
  }
}
