.CheckboxGroup {
  display: flex;

  &_direction {
    &_column {
      flex-direction: column;

      .CheckboxGroup-Item:not(:last-child) {
        margin-bottom: var(--offset);
      }
    }

    &_row {
      flex-direction: row;

      .CheckboxGroup-Item:not(:last-child) {
        margin-right: var(--offset);
      }
    }
  }

  &_size {
    &_m {
      --offset: var(--space-xs);
    }

    &_l {
      --offset: var(--space-s);
    }
  }
}
