.TableFiltersResult {
  &-Container {
    display: flex;
    align-items: center;
    padding: var(--cell-padding-vertical) var(--cell-padding-horizontal);
    border-bottom: var(--table-border);
  }

  &-Text {
    margin-right: var(--space-xl);
  }
}
