.button {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: var(--button-height);
  padding: 0 var(--button-space);
  margin: initial;
  box-sizing: border-box;
  border: none;
  border-radius: var(--control-radius);
  background: transparent;
  font-size: var(--button-font-size);
  font-weight: normal;
  font-family: var(--font-primary);
  line-height: var(--button-height);
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: background 0.15s ease, box-shadow 0.15s ease, color 0.15s ease, fill 0.15s ease;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: var(--control-radius);
    transition: box-shadow 0.15s, background-color 0.15s, transform 0.2s;
  }

  &:hover {
    color: var(--color-hover);
  }

  &:focus {
    outline: none;
  }

  &_form_brick {
    border-radius: 0;
    &::before {
      border-radius: 0;
    }
  }

  &_form_round::before {
    border-radius: 99rem;
  }

  &_form_brick-default {
    border-radius: 0 var(--control-radius) var(--control-radius) 0;
    &::before {
      border-radius: 0 var(--control-radius) var(--control-radius) 0;
    }
  }

  &_form_default-brick {
    border-radius: var(--control-radius) 0 0 var(--control-radius);
    &::before {
      border-radius: var(--control-radius) 0 0 var(--control-radius);
    }
  }

  &_form_brick-round {
    border-radius: 0 99rem 99rem 0;
    &::before {
      border-radius: 0 99rem 99rem 0;
    }
  }

  &_form_round-brick {
    border-radius: 99rem 0 0 99rem;
    &::before {
      border-radius: 99rem 0 0 99rem;
    }
  }

  &_size_xs {
    --button-height: var(--control-height-xs);
    --button-font-size: var(--control-text-size-xs);
    --button-space: var(--control-space-xs);
  }

  &_size_s {
    --button-height: var(--control-height-s);
    --button-font-size: var(--control-text-size-s);
    --button-space: var(--control-space-s);
  }

  &_size_m {
    --button-height: var(--control-height-m);
    --button-font-size: var(--control-text-size-m);
    --button-space: var(--control-space-m);
  }

  &_size_l {
    --button-height: var(--control-height-l);
    --button-font-size: var(--control-text-size-l);
    --button-space: var(--control-space-l);
  }

  &_view_clear {
    --color-hover: var(--color-control-typo-clear-hover);

    color: var(--color-control-typo-clear);

    &::before {
      background-color: var(--color-control-bg-clear);
    }

    &:hover&::before {
      background-color: var(--color-control-bg-clear-hover);
    }
    &:active&::before {
      transform: var(--control-press-scale);
    }
  }

  &_view_ghost {
    --color-hover: var(--color-control-typo-ghost-hover);

    color: var(--color-control-typo-ghost);

    &::before {
      background-color: var(--color-control-bg-ghost);
    }

    &:hover&::before {
      background-color: var(--color-control-bg-ghost-hover);
    }
    &:active&::before {
      transform: var(--control-press-scale);
    }
  }

  &_view_primary {
    --color-hover: var(--color-control-typo-primary-hover);

    color: var(--color-control-typo-primary);

    &::before {
      background-color: var(--color-control-bg-primary);
    }

    &:hover&::before {
      background-color: var(--color-control-bg-primary-hover);
    }
    &:active&::before {
      transform: var(--control-press-scale);
    }
  }

  &_view_secondary {
    --color-hover: var(--color-control-typo-secondary-hover);

    color: var(--color-control-typo-secondary);

    &::before {
      border: var(--control-border-width) solid var(--color-control-bg-border-secondary);
      background-color: var(--color-control-bg-secondary);
    }

    &:hover&::before {
      border-color: var(--color-control-bg-border-secondary-hover);
      background-color: var(--color-control-bg-secondary-hover);
    }
    &:active&::before {
      transform: var(--control-press-scale);
    }
  }

  &:disabled,
  &_disabled {
    pointer-events: none;
    color: var(--color-control-typo-disable);
    &::before {
      border-color: transparent;
      background-color: var(--color-control-bg-disable);
    }
  }

  &__label {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_width_full {
    width: 100%;
    & .button__label {
      flex: 1;
    }
  }

  &_icon-only {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: var(--button-height);
    padding: 0;
  }

  &_with-icon {
    --icon-indent: calc(var(--button-space) * 0.5);

    display: inline-flex;
    align-items: center;
  }
}
