.Button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 100%;
  height: var(--button-height);
  padding: 0 var(--button-space);
  background: transparent;
  border: none;
  border-radius: var(--control-radius);
  font-family: var(--font-primary);
  font-size: var(--button-font-size);
  font-weight: normal;
  line-height: var(--button-height);
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease,
    color 0.15s ease, fill 0.15s ease;
  flex-shrink: 0;
  -webkit-appearance: none;

  &:hover {
    color: var(--color-hover);
  }

  &-Label {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    flex-grow: 1;
    flex-shrink: 1;
  }

  &_loading &-Loader {
    --loaderBackgroundColor: var(--color-control-typo-disable);
    position: absolute;
  }
}
