.Button {
  --button-loader-color: var(--button-color);
  --button-cursor: pointer;
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 100%;
  height: var(--button-height);
  padding: 0 var(--button-space);
  color: var(--button-color);
  background: var(--button-bg-color);
  border: none;
  border-radius: var(--control-radius);
  font-family: var(--font-primary);
  font-size: var(--button-font-size);
  font-weight: var(--font-weight-text-regular);
  line-height: var(--button-height);
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  cursor: var(--button-cursor);
  transition:
    background-color 0.15s ease,
    border-color 0.15s ease,
    box-shadow 0.15s ease,
    color 0.15s ease,
    fill 0.15s ease;
  flex-shrink: 0;
  -webkit-appearance: none;

  &:not(.Button_loading):hover,
  &:not(.Button_disabled):hover,
  &:not(.Button_disabled):not(.Button_loading):hover {
    color: var(--button-color-hover);
    background: var(--button-bg-color-hover);
  }

  &_form {
    &_brick {
      border-radius: 0;
    }

    &_round {
      padding-right: calc(var(--button-space) * 1.2);
      padding-left: calc(var(--button-space) * 1.2);
      border-radius: 99rem;
    }

    &_brickDefault {
      border-radius: 0 var(--control-radius) var(--control-radius) 0;
    }

    &_defaultBrick {
      border-radius: var(--control-radius) 0 0 var(--control-radius);
    }

    &_brickRound {
      padding-right: calc(var(--button-space) * 1.2);
      border-radius: 0 99rem 99rem 0;
    }

    &_roundBrick {
      padding-left: calc(var(--button-space) * 1.2);
      border-radius: 99rem 0 0 99rem;
    }
  }

  &_size {
    &_xs {
      --button-height: var(--control-height-xs);
      --button-font-size: var(--control-text-size-xs);
      --button-space: var(--control-space-xs);
    }

    &_s {
      --button-height: var(--control-height-s);
      --button-font-size: var(--control-text-size-s);
      --button-space: var(--control-space-s);
    }

    &_m {
      --button-height: var(--control-height-m);
      --button-font-size: var(--control-text-size-m);
      --button-space: var(--control-space-m);
    }

    &_l {
      --button-height: var(--control-height-l);
      --button-font-size: var(--control-text-size-l);
      --button-space: var(--control-space-l);
    }
  }

  &_view {
    &_clear {
      --button-bg-color: var(--color-control-bg-clear);
      --button-bg-color-hover: var(--color-control-bg-clear-hover);
      --button-color: var(--color-control-typo-clear);
      --button-color-hover: var(--color-control-typo-clear-hover);
      --button-border: transparent;
      --button-bg-color-disable: var(--color-control-bg-border-disable);
      --button-color-disable: var(--color-control-typo-disable);
    }

    &_ghost {
      --button-bg-color: var(--color-control-bg-ghost);
      --button-bg-color-hover: var(--color-control-bg-ghost-hover);
      --button-color: var(--color-control-typo-ghost);
      --button-color-hover: var(--color-control-typo-ghost-hover);
      --button-border: transparent;
      --button-bg-color-disable: var(--color-control-bg-disable);
      --button-color-disable: var(--color-control-typo-disable);
    }

    &_primary {
      --button-bg-color: var(--color-control-bg-primary);
      --button-bg-color-hover: var(--color-control-bg-primary-hover);
      --button-color: var(--color-control-typo-primary);
      --button-color-hover: var(--color-control-typo-primary-hover);
      --button-border: transparent;
      --button-bg-color-disable: var(--color-control-bg-disable);
      --button-color-disable: var(--color-control-typo-disable);
    }

    &_secondary {
      --button-bg-color: var(--color-control-bg-secondary);
      --button-bg-color-hover: var(--color-control-bg-clear);
      --button-color: var(--color-control-typo-secondary);
      --button-color-hover: var(--color-control-typo-secondary-hover);
      --button-border: var(--color-control-bg-border-secondary);
      --button-border-hover: var(--color-control-bg-border-secondary-hover);
      --button-bg-color-disable: var(--color-control-bg-secondary);
      --button-color-disable: var(--color-control-typo-disable);
      --button-border-disable: var(--color-control-typo-disable);
      border: var(--control-border-width) solid var(--button-border);
      line-height: calc(var(--button-height) - var(--control-border-width) * 2);

      &:not(.Button_loading):hover,
      &:not(.Button_disabled):hover,
      &:not(.Button_disabled):not(.Button_loading):hover {
        border-color: var(--button-border-hover);
      }
    }
  }

  &_width {
    &_full {
      width: 100%;
    }
  }

  &_disabled {
    --button-loader-color: var(--button-color-disable);
    --button-cursor: not-allowed;
    --button-color-hover: var(--button-color-disable);
    --button-bg-color-hover: var(--button-bg-color-disable);
    color: var(--button-color-disable);
    background-color: var(--button-bg-color-disable);
    border-color: var(--button-border-disable);
  }

  &_onlyIcon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: var(--button-height);
    padding: 0;
  }

  &_withIcon {
    --icon-indent: calc(var(--button-space) * 0.7);
    display: inline-flex;
    align-items: center;
  }

  &_disabled,
  &_loading {
    &.MixFocus:not(.MixFocus_before) {
      &:focus,
      &:focus:hover {
        box-shadow: none;
      }
    }
  }

  &-Icon {
    display: block;
    flex-shrink: 0;

    &_position {
      &_left {
        margin-right: var(--icon-indent);
      }

      &_right {
        margin-left: var(--icon-indent);
      }
    }
  }

  &-Label {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    flex-grow: 1;
    flex-shrink: 1;
  }

  &_loading {
    --button-cursor: wait;
    color: transparent;

    &:not(.Button_disabled) {
      --button-color-hover: transparent;
      --button-bg-color-hover: var(--button-bg-color);
    }

    &.Button_disabled {
      --button-cursor: not-allowed;
      color: transparent;
    }

    & .Button-Loader {
      --loaderBackgroundColor: var(--button-loader-color);
      position: absolute;
    }
  }
}
