import React from 'react';

import { Data } from './types';

#imports#

export const data: Data = #data#

export const imageMap: Record<string, React.FC<React.SVGProps<SVGSVGElement>>> = {
  #imageMap#
};
