import React from 'react';

#imports#

import { IconGridItem } from './IconGridItem';

const icons = {
  #icons#
} as const;

type Name = keyof typeof icons;

const names = Object.keys(icons).sort() as Name[];

export function Playground() {
  return (
    <div className="tpl-grid tpl-grid_s-ratio_1-1-1-1-1 tpl-grid_row-gap_full">
      {names.map((name) => (
        <IconGridItem key={name} name={name} icon={icons[name]} />
      ))}
    </div>
  );
}


