.ProgressStepBarItem {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;

  &_direction {
    &_horizontal {
      flex-direction: column;

      & .ProgressStepBarItem-Point_size_xs {
        margin-bottom: var(--space-2xs);
      }

      & .ProgressStepBarItem-Point_size_s,
      & .ProgressStepBarItem-Point_size_m {
        margin-bottom: var(--space-xs);
      }
    }

    &_vertical {
      flex-direction: row;

      & .ProgressStepBarItem-Point {
        margin-right: var(--space-xs);
      }

      & .ProgressStepBarItem-Content {
        &_size_xs {
          margin-top: -4px;
        }
      }
    }
  }

  &_size {
    &_xs {
      --progress-step-bar-item-point-size: var(--space-xs);
      --progress-step-bar-item-label-margin: var(--space-2xs);
    }

    &_s {
      --progress-step-bar-item-point-size: var(--space-m);
      --progress-step-bar-item-label-margin: var(--space-xs);
    }

    &_m {
      --progress-step-bar-item-point-size: var(--space-xl);
      --progress-step-bar-item-label-margin: var(--space-xs);
    }
  }

  &_position {
    &_start {
      flex: 1;

      &.ProgressStepBarItem_direction_horizontal,
      & .ProgressStepBarItem-Content {
        align-items: flex-start;
        text-align: left;
      }
    }

    &_center {
      flex: 2;

      &.ProgressStepBarItem_direction_horizontal,
      & .ProgressStepBarItemr-Content {
        align-items: center;
        text-align: center;
      }
    }

    &_end {
      flex: 1;

      &.ProgressStepBarItem_direction_horizontal,
      & .ProgressStepBarItem-Content {
        align-items: flex-end;
        text-align: right;
      }
    }
  }

  &_status {
    &_system {
      --progress-step-bar-item-point-background: var(--color-bg-system);
      --progress-step-bar-item-point-content-color: var(--color-typo-secondary);
    }

    &_normal {
      --progress-step-bar-item-point-background: var(--color-bg-normal);
      --progress-step-bar-item-point-content-color: var(--color-bg-default);
    }

    &_success {
      --progress-step-bar-item-point-background: var(--color-bg-success);
      --progress-step-bar-item-point-content-color: var(--color-bg-default);
    }

    &_warning {
      --progress-step-bar-item-point-background: var(--color-bg-warning);
      --progress-step-bar-item-point-content-color: var(--color-bg-default);
    }

    &_alert {
      --progress-step-bar-item-point-background: var(--color-bg-alert);
      --progress-step-bar-item-point-content-color: var(--color-bg-default);
    }
  }

  & .ProgressStepBarItem-PointText,
  & .Icon {
    color: var(--progress-step-bar-item-point-content-color);
  }

  & .ProgressSpin {
    stroke: var(--progress-step-bar-item-point-content-color);
  }

  &-Point {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: var(--progress-step-bar-item-point-size);
    min-height: var(--progress-step-bar-item-point-size);
    margin: 0;
    padding: 0;
    color: var(--color-bg-default);
    background-color: var(--progress-step-bar-item-point-background);
    border: none;
    border-radius: calc(var(--progress-step-bar-item-point-size) * 0.5);
    cursor: pointer;
    transition: background-color 0.3s;
  }

  &-PointText {
    color: var(--color-typo-secondary);
    transition: color 0.3s;
  }

  &-Tooltip {
    z-index: 11;
  }

  &-Label {
    margin-bottom: var(--progress-step-bar-item-label-margin);
  }
}
