.MixCaption {
  display: inline-flex;
  flex-direction: column;

  & .FieldCaption {
    margin-top: var(--space-2xs);
  }

  &_size {
    &_xs .FieldCaption {
      margin-left: 7px;
    }

    &_s .FieldCaption {
      margin-left: 9px;
    }

    &_m .FieldCaption {
      margin-left: 11px;
    }

    &_l .FieldCaption {
      margin-left: 13px;
    }
  }
}
