.stand--Ol {
    margin-bottom: var(--space-m);
    
    & .stand--Ol{
        margin-left: var(--space-xl);
    }

    & li {
        list-style: inherit;
        list-style-position: inside;
    }
}