.SnackBar {
  &-Item {
    position: relative;
    display: flex;
    margin-bottom: var(--space-s);
    padding: var(--space-m) var(--space-2xl) var(--space-m) var(--space-m);
    color: var(--color-typo-primary);
    border-radius: var(--space-xs);
    box-shadow: var(--shadow-group);

    &_status {
      &_system {
        background-color: var(--color-bg-system);
      }

      &_normal {
        background-color: var(--color-bg-normal);
      }

      &_success {
        background-color: var(--color-bg-success);
      }

      &_warning {
        background-color: var(--color-bg-warning);
      }

      &_alert {
        background-color: var(--color-bg-alert);
      }
    }
  }

  &-Icon {
    flex: none;
    margin-right: var(--space-m);
  }

  &-Content {
    flex: 1;
  }

  &-CloseButton {
    position: absolute;
    top: var(--space-2xs);
    right: var(--space-2xs);
  }
}
