.SnackBar {
  &-Item {
    display: flex;
    padding: var(--space-m) var(--space-2xl) var(--space-m) var(--space-m);
    margin-bottom: var(--space-s);
    color: var(--color-typo-primary);
    border-radius: var(--space-xs);
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07), 0 2px 2px rgba(0, 0, 0, 0.07),
      0 4px 4px rgba(0, 0, 0, 0.07), 0 6px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07);
    &_status {
      &_system {
        background-color: var(--color-bg-system);
      }
      &_normal {
        background-color: var(--color-bg-normal);
      }
      &_success {
        background-color: var(--color-bg-success);
      }
      &_warning {
        background-color: var(--color-bg-warning);
      }
      &_alert {
        background-color: var(--color-bg-alert);
      }
    }
    &_clickable {
      cursor: pointer;
    }
  }
  &-Icon {
    margin-right: var(--space-m);
    flex: none;
  }
  &-Content {
    flex: 1;
  }
  &-CloseButton {
    position: absolute;
    right: var(--space-2xs);
    top: var(--space-2xs);
  }
}
