.SliderLine {
  display: flex;
  align-items: center;
  width: 100%;

  &_view {
    &_division {
      gap: var(--space-2xs);

      & .SliderLine-Line {
        border-radius: var(--control-radius);
      }
    }

    &_default {
      & > div:first-child {
        border-radius: var(--control-radius) 0 0 var(--control-radius);
      }

      & > div:last-child {
        border-radius: 0 var(--control-radius) var(--control-radius) 0;
      }
    }
  }

  &-Line {
    --slider-line-color: var(--color-control-bg-ghost);
    width: var(--slider-line-size);
    height: var(--space-2xs);
    background-color: var(--slider-line-color);
    transition: background-color 0.3s, width 0.3s;

    &_active {
      --slider-line-color: var(--color-control-bg-primary);
    }

    &_hovered.SliderLine-Line_active {
      --slider-line-color: var(--color-control-bg-primary-hover);
    }

    &_disabled {
      --slider-line-color: var(--color-control-bg-disable);
    }
  }
}
