.SliderLine {
  --slider-line-radius: 0;
  display: flex;
  overflow: hidden;
  align-items: center;
  width: 100%;
  border-radius: var(--control-radius);

  &_view_division {
    --slider-line-radius: var(--control-radius);
    gap: var(--space-2xs);
  }

  &-Line {
    --slider-line-color: var(--color-control-bg-ghost);
    width: var(--slider-line-size);
    height: var(--space-2xs);
    background-color: var(--slider-line-color);
    border-radius: var(--slider-line-radius);
    transition: background-color 0.3s;

    &_active {
      --slider-line-color: var(--color-control-bg-primary);

      &.SliderLine-Line_disabled {
        --slider-line-color: var(--color-bg-border);
      }
    }

    &_hovered.SliderLine-Line_active {
      --slider-line-color: var(--color-control-bg-primary-hover);
    }

    &_disabled {
      --slider-line-color: var(--color-control-bg-disable);
    }
  }
}
