.SwitchGroup {
  display: flex;
  gap: var(--offset);

  &_direction {
    &_column {
      flex-direction: column;
    }

    &_row {
      flex-direction: row;
    }
  }

  &_size {
    &_s,
    &_xs {
      --offset: var(--space-2xs);
    }

    &_m {
      --offset: var(--space-xs);
    }

    &_l {
      --offset: var(--space-s);
    }
  }
}
