.TableSelectedOption {
  display: flex;
  align-items: center;
  padding: 0 var(--space-2xs);
  background: var(--color-control-bg-ghost);
  border-radius: 2px;
  white-space: nowrap;
  user-select: none;

  &-Label {
    overflow: hidden;
    margin-top: 0;
    margin-right: var(--space-xs);
    margin-bottom: 0;
    color: var(--color-control-typo-ghost);
    text-overflow: ellipsis;
  }

  &-Button {
    position: relative;
    color: var(--color-control-typo-clear);
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
      color: var(--color-control-typo-clear-hover);
    }

    &::before {
      --click-offset: calc(-1 * var(--space-2xs));
      content: '';
      position: absolute;
      top: var(--click-offset);
      right: var(--click-offset);
      left: var(--click-offset);
      bottom: var(--click-offset);
    }
  }

  &-Icon {
    display: block;
  }
}
