.SelectLoader {
  --loader-height: 0;
  width: 100%;
  height: 100%;
  cursor: wait;

  &_size {
    &_xs {
      --loader-height:
        calc(
          var(--control-space-xs) + var(--control-text-size-xs)
        );
    }

    &_s {
      --loader-height:
        calc(
          var(--control-space-s) + var(--control-text-size-s)
        );
    }

    &_m {
      --loader-height:
        calc(
          var(--control-space-m) + var(--control-text-size-m)
        );
    }

    &_l {
      --loader-height:
        calc(
          var(--control-space-l) + var(--control-text-size-l)
        );
    }
  }

  &-Loader {
    --backgroundColor: var(--color-control-typo-disable);
    z-index: 1;
  }

  &_mode {
    &_empty {
      height: var(--loader-height);

      & .SelectLoader-Loader {
        left: calc(var(--space-s) + 10px);
      }
    }

    &_blur {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--color-bg-default);
        opacity: 0.7;
      }
    }
  }
}
