.color-preview {
  &__circle {
    position: relative;
    z-index: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--color-bg-border);
    box-shadow:
      /* inset 0 0 0 1px var(--color-bg-border), */ 0 1px 2px
        rgba(var(--color-nums-shadow), 0.03),
      0 2px 8px rgba(var(--color-nums-shadow), 0.05),
      0 8px 24px rgba(var(--color-nums-shadow), 0.16);

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 50%;
      background-color: currentColor;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      border-radius: 0 99em 99em 0;
      background-image: linear-gradient(
          45deg,
          rgba(0, 0, 0, 0.5) 25%,
          transparent 25%,
          transparent 75%,
          rgba(0, 0, 0, 0.5) 75%,
          rgba(0, 0, 0, 0.5)
        ),
        linear-gradient(
          45deg,
          rgba(0, 0, 0, 0.5) 25%,
          transparent 25%,
          transparent 75%,
          rgba(0, 0, 0, 0.5) 75%,
          rgba(0, 0, 0, 0.5)
        );
      background-size: 10px 10px;
      background-position: 0 0, 5px 5px;
      transform: rotate(45deg);
      transform-origin: left center;
    }
  }
}
