.Grid {
  display: grid;

  &[class*='Grid_cols_'] {
    grid-template-columns: repeat(var(--grid-cols, 1), minmax(0, 1fr));
  }

  &[class*='Grid_xAlign_'] {
    justify-items: var(--grid-x-align);
  }

  &[class*='Grid_yAlign_'] {
    align-items: var(--grid-y-align);
  }

  &[class*='Grid_gap_'],
  &[class*='Grid_rowGap_'] {
    row-gap: var(--grid-row-gap);
  }

  &[class*='Grid_gap_'],
  &[class*='Grid_colGap_'] {
    column-gap: var(--grid-col-gap);
  }
}
