.SnackBarStories {
  display: flex;
  flex-direction: row;
  margin-left: calc(-1 * var(--space-xs));
  margin-right: calc(-1 * var(--space-xs));
  height: calc(100vh - var(--space-3xl));
  &_example {
    &_1 {
      min-height: 300px;
    }
    &_2 {
      min-height: 500px;
    }
  }
  &-SnackBar {
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
    width: 400px;
    flex: none;
    overflow: auto;
  }
  &-Buttons {
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
    flex: 1;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
  }
  &-ButtonAdd {
    margin-bottom: var(--space-m);
  }
}

iframe[src='iframe.html?id=ui-kit-examples-snackbar--example2&embeded=true'] {
  height: 600px;
}
