.tabs {
  position: relative;
  display: block;

  &__button {
    border: none;
    font-family: var(--font-primary);
    color: var(--color-typo-secondary);
    cursor: pointer;
    transition: color 0.15s;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: var(--space-xs);
    background-color: transparent;
    margin-right: 0;

    &:not(:last-child) {
      margin-right: var(--size-text-m);
    }

    &_active,
    &:hover {
      color: var(--color-typo-primary);
    }
  }

  &__header {
    position: relative;
    display: flex;
    width: 100%;
    border-bottom: 1px solid transparent;
    padding-left: 0;
    list-style-type: none;

    &_wpSize_m {
      .tabs__button {
        font-size: var(--size-text-m);
        line-height: var(--line-height-text-xs);
      }
    }

    &_wpSize_s {
      .tabs__button {
        font-size: var(--size-text-s);
        line-height: var(--line-height-text-s);
      }
    }

    &_view_bordered {
      border-color: var(--color-bg-border);
    }

    &_view_clear {
      border-bottom: none;
    }
  }

  &__line {
    width: 100%;
    height: 2px;
    background-color: var(--color-control-bg-border-checked);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.25s;
  }

  &__body {
    color: var(--color-typo-primary);
  }
}
