.tabs {
  display: block;
  overflow: hidden;

  &__inner {
    display: inline-flex;
    min-width: 100%;
    position: relative;
    border-bottom: 1px solid transparent;
  }

  &__item {
    text-decoration: none;
    font-family: var(--font-primary);
    color: var(--color-typo-secondary);
    cursor: pointer;
    transition: color 0.15s;
    padding-bottom: var(--space-xs);
    margin-right: 0;
    white-space: nowrap;
    flex-shrink: 0;
    user-select: none;

    &:not(:last-child) {
      margin-right: var(--size-text-m);
    }

    &_active,
    &:hover {
      color: var(--color-typo-primary);
    }
  }

  &__line {
    width: 100%;
    height: 2px;
    background-color: var(--color-control-bg-border-checked);
    position: absolute;
    bottom: -1px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.25s;
  }

  &_wpSize_m & {
    &__item {
      font-size: var(--size-text-m);
      line-height: var(--line-height-text-xs);
    }
  }

  &_wpSize_s & {
    &__item {
      font-size: var(--size-text-s);
      line-height: var(--line-height-text-s);
    }
  }

  &_view_bordered & {
    &__inner {
      border-color: var(--color-bg-border);
    }
  }

  &_view_clear & {
    &__inner {
      border-color: transparent;
    }
  }
}
