.Tabs {
  position: relative;
  width: 100%;

  &::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  &_view {
    &_bordered::before {
      content: '';
      height: 1px;
      background-color: var(--color-bg-border);
    }
  }

  &_size {
    &_s {
      --only-icon-size: var(--space-l);
      --tab-font-size: var(--size-text-s);
    }

    &_m {
      --only-icon-size: var(--space-xl);
      --tab-font-size: var(--size-text-m);
    }
  }

  &-List {
    width: 100%;
  }

  &-Tab {
    &:not(:last-child) {
      margin-right: var(--space-m);
    }
  }

  &-RunningLine {
    position: absolute;
    left: 0;
    bottom: 0;
    width: var(--tabSize);
    height: 2px;
    background-color: var(--color-bg-brand);
    transition: transform 0.25s, width 0.25s;
    transform: translateX(var(--tabOffset));
    transform-origin: left center;
  }
}
