.DatePickerRangesSelector {
  display: flex;
  justify-content: space-between;
}

.DatePickerRangesSelector-Ranges {
  display: flex;
  align-items: baseline;
}

.DatePickerRangesSelector-Range {
  & + & {
    margin-left: var(--space-xs);
  }
}
