.Attachment {
  --attachment-file-opacity: 1;
  --attachment-actions-opacity: 0;
  box-sizing: border-box;
  width: 100%;
  padding: var(--space-xs);
  background: var(--color-control-bg-clear);
  border-radius: var(--control-radius);
  text-decoration: none;
  transition: background-color 0.2s ease;

  &_hoverEffect {
    &:hover {
      --attachment-actions-opacity: 1;
      background: var(--color-control-bg-clear-hover);
    }
  }

  &_cursor {
    &_pointer {
      cursor: pointer;
    }
  }

  &_error {
    --attachment-file-opacity: 0.4;
  }

  &-File,
  &-Actions {
    flex: none;
    transition: opacity 0.2s ease;
  }

  &-File {
    opacity: var(--attachment-file-opacity);
  }

  &-Actions {
    opacity: var(--attachment-actions-opacity);
  }

  &-Content {
    overflow: hidden;
    flex: 1;
  }

  &-FileName,
  &-FileDescription,
  &-LoadingText,
  &-ErrorText {
    width: 100%;
    word-wrap: break-word;
  }
}
