.PortalMenuMenuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: var(--space-s);
  background: transparent;
  border: none;
  border-radius: var(--control-radius);
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background: var(--color-control-bg-clear-hover);
  }

  &_active {
    background: var(--color-bg-stripe);
  }

  &-Text {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &-Description {
    margin-top: var(--space-2xs);
  }
}
