.ContextMenuItem {
  --vertical-space: 0;
  display: flex;
  align-items: center;
  padding: var(--vertical-space) var(--space-s);
  text-decoration: none;
  word-break: break-word;
  cursor: pointer;
  transition: background 0.2s;

  &:hover,
  &_active {
    background: var(--color-control-bg-clear-hover);
  }

  &_size {
    &_s {
      --vertical-space: var(--space-xs);
    }

    &_m {
      --vertical-space: var(--space-s);
    }

    &_l {
      --vertical-space: var(--space-m);
    }
  }

  &_disabled.Text {
    color: var(--color-control-typo-disable);
    cursor: default;

    &:hover {
      background: transparent;
    }
  }

  &-Side {
    display: flex;
    align-items: center;

    &_position {
      &_left,
      &_right {
        flex: 0;

        &:not(:last-child) {
          margin-right: var(--space-xs);
        }
      }

      &_center {
        flex: 1;

        &:not(:last-child) {
          margin-right: var(--space-s);
        }
      }
    }
  }
}
