.User {
  display: inline-flex;
  align-items: center;
  border: 0;
  border-radius: 99em;
  text-align: left;
  text-decoration: none;
  transition: background-color 0.25s ease;

  &-Block {
    flex: 1;
  }

  &-Icon {
    flex: none;
    color: var(--color-control-typo-clear);
  }

  &-IconRightButton {
    --indent-r: var(--space-xs);
    margin-left: var(--space-2xs);
  }

  &-AvatarWrapper {
    flex: none;
    box-sizing: content-box;
    margin-right: var(--indent);
    padding: var(--avatar-space);
    border-radius: 50%;

    &_status {
      &_available {
        box-shadow: inset 0 0 0 var(--space-3xs) var(--color-bg-success);
      }

      &_remote {
        box-shadow: inset 0 0 0 var(--space-3xs) var(--color-bg-warning);
      }

      &_out {
        box-shadow: inset 0 0 0 var(--space-3xs) var(--color-bg-alert);
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &_view {
    &_clear {
      background-color: var(--color-control-bg-clear);

      &:hover {
        background-color: var(--color-control-bg-clear-hover);
      }
    }

    &_ghost {
      background-color: var(--color-control-bg-ghost);

      &:hover {
        background-color: var(--color-control-bg-ghost-hover);
      }
    }
  }

  &-Name,
  &-Info {
    display: -webkit-box;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &-Name {
    max-width: 20ch;
  }

  &-Info {
    max-width: 28ch;
  }

  &_size {
    &_s {
      --avatar-space: var(--space-3xs);
      --indent-r: var(--space-xs);
      --indent: var(--space-xs);
      --icon-indent: var(--space-s);
    }

    &_m {
      --avatar-space: var(--space-2xs);
      --indent-r: var(--space-s);
      --indent: var(--space-xs);
      --icon-indent: var(--space-m);
    }

    &_l {
      --avatar-space: var(--space-2xs);
      --indent-r: var(--space-m);
      --indent: var(--space-s);
      --icon-indent: var(--space-l);
    }
  }

  &:not(.user_minified)&_width_full {
    width: 100%;

    .User-Name,
    .User-Info {
      max-width: none;
    }
  }

  &:not(.User_minified) &-Icon {
    margin-left: var(--icon-indent);
  }

  > *:last-child:not(:first-child) {
    margin-right: var(--indent-r);
  }
}
