.user {
  display: inline-flex;
  border-radius: 99em;
  border: 0;
  text-decoration: none;
  text-align: left;
  transition: background-color 0.25s ease;
  align-items: center;

  &__block {
    margin-right: var(--space-2xs);
    &:last-child {
      margin-right: 0;
    }
  }

  &__avatar-wrapper {
    padding: var(--space-2xs);
    box-sizing: content-box;
    border-radius: 50%;
    margin-right: var(--indent);

    &_status {
      &_available {
        box-shadow: inset 0 0 0 var(--space-3xs) var(--color-bg-success);
      }
      &_remote {
        box-shadow: inset 0 0 0 var(--space-3xs) var(--color-bg-warning);
      }
      &_out {
        box-shadow: inset 0 0 0 var(--space-3xs) var(--color-bg-alert);
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &_view {
    &_clear {
      background-color: var(--color-control-bg-clear);

      &:hover {
        background-color: var(--color-control-bg-clear-hover);
      }
    }
    &_secondary {
      background-color: var(--color-control-bg-ghost);

      &:hover {
        background-color: var(--color-control-bg-ghost-hover);
      }
    }
  }
  &_size {
    &_s {
      --indent-r: var(--space-s);
      --indent: var(--space-xs);
    }
    &_m {
      --indent-r: var(--space-m);
      --indent: var(--space-s);
    }
    &_s:not(.user_with-arrow) {
      --indent-r: var(--space-m);
    }
    &_m:not(.user_with-arrow) {
      --indent-r: var(--space-l);
    }
  }
  > *:last-child:not(:first-child) {
    margin-right: var(--indent-r);
  }
}
