.ExampleUseHideElementsInLine {
  max-width: 700px;

  &-Tag {
    margin-right: var(--space-xs);

    &_display {
      &_hidden.TagBase {
        position: absolute;
        left: -300vw;
        visibility: hidden;
      }

      &_none.TagBase {
        display: none;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
