.SnackBar {
  &-ActionButtonsWrapper {
    padding-top: var(--space-2xs);
  }
  &-ActionButton {
    margin-top: var(--space-xs);
    margin-right: var(--space-xs);
    filter: drop-shadow(0px 0px 0px var(--color-bg-soft));
  }
}
