.LayoutExampleFixed {
  width: calc(100% + 2 * var(--space-3xl));
  height: 2000px;
  margin: calc(var(--space-3xl) * -1);

  &-Container {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
  }

  &-Header {
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50px;
    background: var(--color-bg-normal);
    border-bottom: 2px solid var(--color-bg-default);
  }

  &-Content {
    width: 100%;
    height: 100%;

    &_direction {
      &_row {
        & > div:first-child {
          border-right: 2px solid #fff;
        }
      }

      &_column {
        & > div:first-child {
          border-bottom: 2px solid #fff;
        }
      }
    }
  }

  &-Block {
    justify-content: center;
    align-items: center;
    height: 100%;
    background: var(--color-bg-success);
  }
}
