.login {
  position: relative;
  z-index: 0;
  padding: var(--space-2xs);
  padding-right: 0;
  border: none;
  background: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 99rem;
  cursor: pointer;
  text-align: left;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: calc(100% + var(--space-l));
    height: 100%;
    border-radius: 99rem;
    background-color: var(--control-color-bg-default-hover);
    opacity: 0;
    transform: scale(1.1);
    transition: opacity 0.24s, transform 0.24s;
  }

  &__avatar {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px rgba(var(--color-nums-shadow), 0.12);

    &_status {
      &_active::before,
      &_remote::before,
      &_out::before {
        content: '';
        position: absolute;
        display: block;
        left: -4px;
        right: -4px;
        bottom: -4px;
        top: -4px;
        border-radius: 50%;
        border: 2px solid;
      }

      &_active::before {
        border-color: var(--color-bg-success);
      }
      &_remote::before {
        border-color: var(--color-bg-caution);
      }
      &_out::before {
        border-color: var(--color-bg-alert);
      }
    }
  }

  &__photo {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  &__name {
    display: block;
  }

  &__name,
  &__info {
    line-height: var(--line-height-typo-xs);
  }

  &:hover::before {
    opacity: 1;
    transform: scale(1);
  }

  &__arrow {
    display: none;
    color: var(--color-typo-secondary);
  }

  &_minified {
    &::before {
      width: calc(100% + var(--space-s));
    }
    .login__arrow {
      display: block;
    }
    .login__info {
      display: none;
    }
  }
}
