.switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-family: var(--font-primary);
  cursor: pointer;

  &__box {
    position: relative;
    display: inline-block;
    width: var(--box-width);
    height: var(--box-height);
    border-radius: 99rem;
    background-color: var(--color-control-bg-ghost);
    transition: background-color 0.15s;

    &::before {
      content: '';
      position: absolute;
      top: 4px;
      right: 4px;
      height: calc(var(--box-height) - var(--control-border-width) * 4);
      width: calc(var(--box-height) - var(--control-border-width) * 4);
      box-sizing: border-box;
      border-radius: 999rem;
      background-color: var(--color-control-bg-default);
      transition: transform 0.15s;
    }

    /* TODO: Добавить галочку */

    /* &::after {
  		content: '';
  		position: absolute;
  		box-sizing: border-box;
  		z-index: 1;
  		background-color: var(--color-control-bg-affect);
  		border-bottom: 2px solid var(--color-control-bg-default-affect);
  		border-left: 2px solid var(--color-control-bg-default-affect);
  		opacity: 0;
  		transform-origin: 0 0;
  		transform: rotate(-50deg) scale(0, 1);
  		transition: opacity .15s, transform .15s;
  	} */
  }

  &_size {
    &_m {
      --switch-height: var(--control-height-m);
      --box-width: 36px;
      --box-height: 20px;
      --switch-font-size: var(--control-text-size-m);
      --offset: var(--space-xs);

      .switch__box {
        &::before {
          box-shadow: inset 0 0 1px var(--color-control-bg-border-default),
            0 0 1px rgba(var(--color-nums-shadow), 0.33),
            0 1px 2px rgba(var(--color-nums-shadow), 0.28);
          transform: translateX(-16px);
        }
      }
    }

    &_l {
      --switch-height: var(--control-height-m);
      --box-width: 44px;
      --box-height: 24px;
      --switch-font-size: var(--control-text-size-l);
      --offset: var(--space-s);

      .switch__box {
        &::before {
          box-shadow: inset 0 0 1px var(--color-control-bg-border-default),
            0 0 2px rgba(var(--color-nums-shadow), 0.33),
            0 2px 4px rgba(var(--color-nums-shadow), 0.24);
          transform: translateX(-20px);
        }
      }
    }
  }

  &__input {
    position: absolute;
    appearance: none;

    &:checked {
      + .switch__box {
        background-color: var(--color-control-bg-checked);

        &::before {
          transform: translateX(0);
        }
      }
    }
  }

  &__text {
    margin-left: var(--offset);
    color: var(--color-control-typo-default);
    font-size: var(--switch-font-size);
  }

  &:hover {
    .switch__box {
      background-color: var(--color-control-bg-ghost-hover);
    }
    .switch__input:checked + .switch__box {
      background-color: var(--color-control-bg-checked-hover);
    }
  }

  /* stylelint-disable  no-descending-specificity  */
  &_disabled {
    pointer-events: none;
    .switch__input:disabled + .switch__box {
      background-color: var(--color-control-bg-disable);
      &::before {
        background-color: var(--color-control-typo-disable);
        box-shadow: none;
        opacity: 0.4;
      }
    }
    .switch__input:disabled ~ .switch__text {
      color: var(--color-control-typo-disable);
    }
  }
  /* stylelint-enable  no-descending-specificity  */
}
