.switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-family: var(--font-primary);
  cursor: pointer;

  &__box {
    position: relative;
    display: inline-block;
    width: var(--box-width);
    height: var(--box-height);
    box-sizing: border-box;
    border-radius: 99rem;
    border: var(--control-border-width) solid var(--background-color);
    transition: background-color 0.15s, border-color 0.15s;

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      right: 2px;
      height: calc(var(--box-height) - var(--control-border-width) * 4);
      width: calc(var(--box-height) - var(--control-border-width) * 4);
      box-sizing: border-box;
      border-radius: 999rem;
      background-color: var(--content-color);
      transition: transform 0.15s, background-color 0.15s;
    }
  }

  &_size {
    &_m {
      --switch-height: var(--control-height-m);
      --box-width: 36px;
      --box-height: 20px;
      --switch-font-size: var(--control-text-size-m);
      --offset: var(--space-xs);

      .switch__box::before {
        transform: translateX(-16px);
      }
    }

    &_l {
      --switch-height: var(--control-height-m);
      --box-width: 44px;
      --box-height: 24px;
      --switch-font-size: var(--control-text-size-l);
      --offset: var(--space-s);

      .switch__box::before {
        transform: translateX(-20px);
      }
    }
  }

  &__input {
    position: absolute;
    appearance: none;

    &:checked + .switch__box {
      --background-color: var(--color-control-bg-primary);
      --content-color: var(--color-control-typo-primary);

      background-color: var(--background-color);

      &::before {
        transform: translateX(0);
      }
    }

    &:not(:checked) + .switch__box {
      --background-color: var(--color-control-bg-border-default);
      --content-color: var(--color-control-bg-border-default);
    }
  }

  &__label {
    margin-left: var(--offset);
    color: var(--color-control-typo-default);
    font-size: var(--switch-font-size);
  }

  &:hover {
    .switch__input:not(:checked) + .switch__box {
      --background-color: var(--color-control-bg-border-default-hover);
      --content-color: var(--color-control-bg-border-default-hover);
    }
    .switch__input:checked + .switch__box {
      --background-color: var(--color-control-bg-primary-hover);
      --content-color: var(--color-control-typo-primary-hover);
    }
  }

  /* stylelint-disable  no-descending-specificity  */
  &_disabled {
    pointer-events: none;
    .switch__input:not(:checked):disabled + .switch__box {
      --background-color: var(--color-control-bg-border-disable);
      --content-color: var(--color-control-typo-disable);
    }
    .switch__input:checked:disabled + .switch__box {
      --background-color: var(--color-control-bg-border-disable);
      --content-color: var(--color-control-typo-disable);

      background-color: var(--background-color);
    }
    .switch__input:disabled ~ .switch__label {
      color: var(--color-control-typo-disable);
    }
  }
  /* stylelint-enable  no-descending-specificity  */
}
