.Switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-family: var(--font-primary);
  cursor: pointer;

  &_size {
    &_m {
      --switch-height: var(--control-height-m);
      --box-width: 36px;
      --box-height: 20px;
      --switch-font-size: var(--control-text-size-m);
      --offset: var(--space-xs);

      .Switch-Input::before {
        transform: translateX(-16px);
      }
    }

    &_l {
      --switch-height: var(--control-height-m);
      --box-width: 44px;
      --box-height: 24px;
      --switch-font-size: var(--control-text-size-l);
      --offset: var(--space-s);

      .Switch-Input::before {
        transform: translateX(-20px);
      }
    }
  }

  &-Input {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: var(--box-width);
    height: var(--box-height);
    margin: 0;
    border: var(--control-border-width) solid var(--background-color);
    border-radius: 99rem;
    cursor: pointer;
    transition: background-color 0.15s, border-color 0.15s;
    -webkit-appearance: none;

    &::before {
      content: '';
      position: absolute;
      top: 1px;
      right: 1px;
      box-sizing: border-box;
      width: calc(var(--box-height) - var(--control-border-width) * 4);
      height: calc(var(--box-height) - var(--control-border-width) * 4);
      background-color: var(--content-color);
      border-radius: 999rem;
      transition: transform 0.15s, background-color 0.15s;
    }

    &:focus,
    &:focus:hover {
      outline: none;
      box-shadow: 0 0 0 2px var(--color-control-bg-focus);
      animation: switchFocusAnimation 0.4s ease-in;
    }

    &:focus:active,
    &:focus:active:hover {
      animation-name: none !important;
    }

    &:checked {
      --background-color: var(--color-control-bg-primary);
      --content-color: var(--color-control-typo-primary);
      background-color: var(--background-color);

      &::before {
        transform: translateX(0);
      }
    }

    &:not(:checked) {
      --background-color: var(--color-control-bg-border-default);
      --content-color: var(--color-control-bg-border-default);
    }
  }

  &-Label {
    margin-left: var(--offset);
    color: var(--color-control-typo-default);
    font-size: var(--switch-font-size);
  }

  &:hover {
    .Switch-Input:not(:checked) {
      --background-color: var(--color-control-bg-border-default-hover);
      --content-color: var(--color-control-bg-border-default-hover);
    }

    .Switch-Input:checked {
      --background-color: var(--color-control-bg-primary-hover);
      --content-color: var(--color-control-typo-primary-hover);
    }
  }

  &_disabled {
    pointer-events: none;

    .Switch-Input:not(:checked):disabled {
      --background-color: var(--color-control-bg-border-disable);
      --content-color: var(--color-control-typo-disable);
    }

    .Switch-Input:checked:disabled {
      --background-color: var(--color-control-bg-border-disable);
      --content-color: var(--color-control-typo-disable);
      background-color: var(--background-color);
    }

    .Switch-Input:disabled ~ .switch__label {
      color: var(--color-control-typo-disable);
    }
  }
}

@keyframes switchFocusAnimation {
  from {
    box-shadow: 0 0 0 0 var(--color-control-bg-focus), 0 0 0 0 var(--color-control-bg-active);
  }

  to {
    box-shadow: 0 0 0 2px var(--color-control-bg-focus), 0 0 0 6px transparent;
  }
}
