.UseResizableContentGrid {
  position: relative;
  width: 600px;
  height: 600px;

  &-Row {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 50%;
  }

  &-Block {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    border: 1px solid var(--color-bg-border);
  }

  & p {
    user-select: none;
  }

  &-Toddler {
    position: absolute;
    background: var(--color-bg-brand);

    &_direction {
      &_vertical {
        left: 0;
        bottom: -4px;
        width: 100%;
        height: var(--space-xs);
        cursor: row-resize;
      }

      &_horizontal {
        top: 0;
        right: -4px;
        width: var(--space-xs);
        height: 100%;
        cursor: col-resize;
      }
    }
  }
}
