.HeaderMinifyLoginExample {
  &-Login {
    cursor: pointer;

    &_authorized {
      padding: 0;

      &:focus {
        outline: none;
      }
    }
  }

  & .HeaderMenu {
    &-Link {
      line-height: var(--header-height);
    }

    &-List {
      margin-bottom: 0;
      padding-left: 0;
    }
  }
}
