.ModalStories {
  &-title {
    margin: var(--space-m);
  }

  &-body {
    margin: var(--space-m);
  }

  &-action {
    display: flex;
    justify-content: flex-end;
    margin: var(--space-m);
  }

  &-Modal {
    width: 400px;
  }
}
