.LayoutStories {
  position: relative;
  overflow: scroll;
  width: 100%;
  max-height: 500px;

  &-Block {
    justify-content: center;
    align-items: center;
    background: var(--color-bg-success);
  }

  &-Content {
    width: 100%;
    min-height: 700px;
  }

  &-Fixed {
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 40px;
    background: var(--color-bg-normal);
  }
}
