.TextFieldTypeTextArray {
  --text-field-textarray-padding-right:
    calc(
      (var(--field-control-layout-right-slots-length)) *
      var(--field-control-layout-space) +
      var(--field-control-layout-right-slot-contents-width) +
      var(--field-control-layout-padding-right)
    );
  overflow: hidden;

  & .FieldControlLayout-Container,
  & .FieldControlLayout-Children,
  & &-ScrollWrapper {
    height: inherit;
    max-height: inherit;
  }

  &-ScrollWrapper {
    overflow: auto;
    width: calc(100% + var(--text-field-textarray-padding-right));
    padding-right: var(--text-field-textarray-padding-right, 0);
  }
}
