.TextFieldTypeTextArray {
  --text-field-textarray-padding: calc(
    (var(--field-control-layout-right-slots-length) + 1) *
      var(--field-control-layout-space) +
      var(--field-control-layout-right-slot-contents-width)
  );
  --text-field-textarray-scroll-wrapper-height: calc(
    var(--text-field-textarray-max-height) -
      (var(--field-control-layout-border-width) * 2)
  );

  &-ScrollWrapper {
    overflow: auto;
    width: calc(100% + var(--text-field-textarray-padding));
    max-height: var(--text-field-textarray-scroll-wrapper-height);
    padding-right: var(--text-field-textarray-padding, 0);
  }
}
