.stand--StandPageFooter {
  width: 100%;

  & a {
    text-decoration: none;
  }

  &-SPA {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: var(--space-2xl);
    padding-bottom: var(--space-2xl);
    border-top: 1px solid var(--color-bg-border);
  }

  &-Container {
    width: 100%;
    padding-top: var(--space-2xl);
    border-top: 1px solid var(--color-bg-border);
  }

  &-Links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: var(--space-s);
  }

  &-Buttons {
    & > *:not(:last-child) {
      margin-right: var(--space-l);
    }
  }
}
