.CalendarDay {
  --day-bg-color: transparent;
  --day-bg-color-hover: transparent;
  --day-border-color: var(--color-control-bg-primary);
  --day-border-color-hover: var(--color-control-bg-primary-hover);
  --day-event-color: var(--color-control-bg-primary);
  --day-event-color-hover: var(--color-control-bg-primary-hover);
  --day-text-color: var(--color-typo-primary);
  --day-text-color-hover: var(--color-control-bg-primary-hover);
  --bg-color: var(--day-bg-color);
  --event-color: var(--day-event-color);
  --border-color: var(--day-border-color);
  --text-color: var(--day-text-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--control-height-s);
  height: var(--control-height-s);
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 50%;
  font-size: var(--size-text-s);
  line-height: var(--control-height-s);
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;

  &:hover {
    --bg-color: var(--day-bg-color-hover);
    --event-color: var(--day-event-color-hover);
    --border-color: var(--day-border-color-hover);
    --text-color: var(--day-text-color-hover);
  }

  &_selected {
    --day-bg-color: var(--color-control-bg-primary);
    --day-bg-color-hover: var(--color-control-bg-primary-hover);
    --day-border-color: transparent;
    --day-border-color-hover: transparent;
    --day-event-color: var(--color-control-typo-primary);
    --day-event-color-hover: var(--color-control-typo-primary);
    --day-text-color: var(--color-typo-primary);
    --day-text-color-hover: var(--color-typo-primary);
  }

  &:not(&_disabled) {
    cursor: pointer;
  }

  &_disabled {
    --day-bg-color: transparent;
    --day-bg-color-hover: transparent;
    --day-border-color: var(--color-control-bg-primary);
    --day-border-color-hover: var(--color-control-bg-primary);
    --day-event-color: var(--color-control-typo-disable);
    --day-event-color-hover: var(--color-control-typo-disable);
    --day-text-color: var(--color-control-typo-disable);
    --day-text-color-hover: var(--color-control-typo-disable);
  }

  &_selected.CalendarDay_disabled {
    --day-bg-color: var(--color-control-bg-disable);
    --day-bg-color-hover: var(--color-control-bg-disable);
    --day-border-color: transparent;
    --day-border-color-hover: transparent;
    --day-event-color: var(--color-control-typo-disable);
    --day-event-color-hover: var(--color-control-typo-disable);
    --day-text-color: var(--color-control-typo-disable);
    --day-text-color-hover: var(--color-control-typo-disable);
  }

  &_event {
    &::before {
      content: '';
      position: absolute;
      bottom: var(--space-2xs);
      width: var(--space-2xs);
      height: var(--space-2xs);
      background: var(--event-color);
      border-radius: 50%;
      transition: background 0.2s;
    }
  }

  &_today {
    box-shadow: inset 0 0 0 1.3px var(--border-color);
  }
}
