.DateTimeTypeTime {
  &-Label {
    display: block;
    width: calc((var(--control-height-s) + (var(--space-3xs) * 2)) * 3);
    height: var(--control-height-s);
    margin-bottom: var(--space-s);
    line-height: var(--control-height-s);
  }
}
