.select-options-list {
  &__group {
    position: relative;
  }
  &__collapse {
    position: absolute;
    right: 12px;
    top: 8px;
    color: var(--color-typo-primary);
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;

    & svg {
      width: 11px;
      height: 11px;
      opacity: 0.4;
      transition: opacity 0.2s linear;
    }

    &_down {
      & svg {
        transform: rotate(180deg);
      }
    }

    &:not(&_down) svg {
      opacity: 1;
    }

    &:hover {
      background-color: transparent;
      & svg {
        opacity: 1;
      }
    }
  }
}
