.select-options-list {
  &__group {
    position: relative;
  }

  &__collapse {
    position: absolute;
    top: 8px;
    right: 12px;
    color: var(--color-typo-primary);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: transparent;
    }
  }

  &__icon {
    width: 11px;
    height: 11px;
    opacity: 0.4;
    transition: opacity 0.2s linear;
  }

  &__collapse_down &__icon {
    transform: rotate(180deg);
  }

  &__collapse:not(&__collapse_down) &__icon {
    opacity: 1;
  }

  &__collapse:hover &__icon {
    opacity: 1;
  }
}
