.ColorPickerPoint {
  position: absolute;

  box-sizing: border-box;

  width: var(--space-m);
  height: var(--space-m);
  transform: translate(-50%, -50%);
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: var(--shadow-layer);
  cursor: pointer;

  &-Fill {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    border-radius: inherit;
  }
}
