.Select {
  position: relative;
  display: block;

  &_size_xs {
    height: var(--control-height-xs);
  }

  &_size_s {
    height: var(--control-height-s);
  }

  &_size_m {
    height: var(--control-height-m);
  }

  &_size_l {
    height: var(--control-height-l);
  }

  &_isMulti&_size_xs {
    min-height: var(--control-height-xs);
    height: auto;
  }

  &_isMulti&_size_s {
    min-height: var(--control-height-s);
    height: auto;
  }

  &_isMulti&_size_m {
    min-height: var(--control-height-m);
    height: auto;
  }

  &_isMulti&_size_l {
    min-height: var(--control-height-l);
    height: auto;
  }

  &__label {
    display: block;
  }

  &__menu {
    max-height: 290px;

    & .popover__children {
      background: var(--color-control-bg-default);
      border-radius: var(--control-radius);
    }
  }

  &__options {
    max-height: 290px;
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    border: var(--control-border-width) solid var(--color-control-bg-border-default);
    border-radius: var(--control-radius);
    box-shadow: 0 2px 2px rgba(var(--color-nums-shadow), 0.04),
      0 4px 16px rgba(var(--color-nums-shadow), 0.18);
  }

  &__input {
    padding-right: calc(36px + var(--input-space));

    &_focused,
    &_focused:hover {
      border-color: var(--color-control-bg-border-focus);
    }

    &_multi {
      position: relative;
      display: flex;
      min-height: var(--input-height);
      height: auto;
      padding-top: 3px;
      padding-bottom: 3px;
      cursor: text;
    }
  }

  &_size_s &__input_multi {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  &_size_xs &__input_multi {
    padding-top: 0;
    padding-bottom: 0;
  }

  &_selected &__input {
    padding-right: calc(54px + var(--input-space));
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    align-items: center;
    height: 24px;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    transform: translateY(-50%);

    &_type_delete {
      right: 36px;
      justify-content: center;
    }
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--space-xs);
    color: var(--color-control-typo-default);
    opacity: 0.4;
  }

  &__icon_type_delete:hover &__icon-wrapper,
  &:not(&_disabled):hover &__icon_type_arrow &__icon-wrapper {
    opacity: 1;
  }

  &__delimiter {
    position: absolute;
    top: 50%;
    right: 32px;
    height: 24px;
    width: 1px;
    background-color: var(--color-control-bg-border-default);
    transform: translateY(-50%);
  }

  &_size_xs &__delimiter {
    height: 12px;
  }

  &_size_s &__delimiter {
    height: 16px;
  }

  &_size_m &__delimiter {
    height: 24px;
  }

  &_size_l &__delimiter {
    height: 32px;
  }

  &__placeholder {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
    color: var(--color-control-typo-placeholder);
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    pointer-events: none;
  }

  &_disabled &__placeholder {
    color: var(--color-control-typo-disable);
  }

  &__input-wrapper {
    overflow: hidden;
  }

  &__values {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-height: 98px;
    overflow-y: scroll;
    line-height: initial;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__arrow_opened {
    transform: rotate(180deg);
  }

  &__close {
    width: 12px;
    height: 12px;
  }
}
