.FileIcon {
  display: inline-flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  &_size {
    &_s {
      width: 24px;
      height: 28px;
    }

    &_m {
      width: 34px;
      height: 40px;
    }
  }

  &-Svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: currentcolor;
  }

  &.FileIconLoading,
  &.FileIconUndefined,
  &.FileIconExe,
  &.FileIconRar,
  &.FileIconJson,
  &.FileIconZip,
  &.FileIconVsd {
    color: #a2abb4;
  }

  &.FileIconAvi,
  &.FileIconMov,
  &.FileIconMp4,
  &.FileIconBmp,
  &.FileIconGif,
  &.FileIconJpg,
  &.FileIconPng,
  &.FileIconPpt,
  &.FileIconTiff,
  &.FileIconSvg,
  &.FileIconMsg {
    color: #ed9254;
  }

  &.FileIconCsv,
  &.FileIconXls {
    color: #69c57f;
  }

  &.FileIconDoc,
  &.FileIconRtf,
  &.FileIconTxt {
    color: #75adea;
  }

  &.FileIconPdf {
    color: #fb6a6a;
  }

  &.FileIconMp3,
  &.FileIconWav {
    color: #b56afb;
  }
}
