.Layout {
  display: flex;
  box-sizing: border-box;
  transition: flex 0.3s, width 0.3s, height 0.3s;

  &_direction {
    &_row {
      flex-direction: row;
    }

    &_column {
      flex-direction: column;
    }
  }

  &-Mock {
    transition: flex 0.3s, width 0.3s, height 0.3s;
  }

  &_fixed {
    position: fixed;
  }
}
