.header {
  &__menu-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__menu-item {
    margin-right: var(--space-m);
    &:last-child {
      margin-right: 0;
    }
  }

  &__menu-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--color-typo-primary);
    line-height: var(--header-height);
    transition: color 0.2s;
    cursor: pointer;

    &:hover {
      color: var(--color-typo-link-hover);
    }

    &_active {
      color: var(--color-typo-link);
      pointer-events: none;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100%;
        height: 4px;
        max-width: 40px;
        background-color: var(--color-typo-link);
        border-radius: 4px 4px 0 0;
        transform: translateX(-50%);
      }
    }
  }
}
