.Header {
  &-MenuList {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &-MenuItem {
    margin-right: var(--space-m);

    &:last-child {
      margin-right: 0;
    }
  }

  &-MenuLink {
    position: relative;
    display: inline-block;
    color: var(--color-typo-primary);
    line-height: var(--header-height);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: var(--color-typo-link-hover);
    }

    &_active {
      color: var(--color-typo-link);
      pointer-events: none;

      &::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 100%;
        max-width: 40px;
        height: 4px;
        background-color: var(--color-typo-link);
        border-radius: 4px 4px 0 0;
        transform: translateX(-50%);
      }
    }
  }
}
