.ListAddItem {
  --list-add-item-color: var(--color-control-typo-default);
  display: flex;
  align-items: center;
  color: var(--list-add-item-color);
  border-bottom: 1px solid var(--color-control-bg-border-default);
  cursor: pointer;

  &_disabled {
    --list-add-item-color: var(--color-control-typo-disable);
    pointer-events: none;
  }

  &-AddIcon {
    color: var(--list-add-item-color);
  }
}
