.MixLabel {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;

  &_align {
    &_top {
      flex-direction: column;

      & .FieldLabel {
        margin-bottom: var(--space-xs);
      }
    }

    &_left {
      flex-direction: row;

      & .FieldLabel {
        display: inline-flex;
        align-items: center;
        margin-right: var(--space-s);
      }

      &.MixLabel_size {
        &_xs .FieldLabel {
          height: var(--control-height-xs);
        }

        &_s .FieldLabel {
          height: var(--control-height-s);
        }

        &_m .FieldLabel {
          height: var(--control-height-m);
        }

        &_l .FieldLabel {
          height: var(--control-height-l);
        }
      }
    }
  }
}
