.canary--BookmarkTabsTab {
  --bookmark-tabs-tab-close-size: calc(0 * 1px);
  --bookmark-tabs-tab-right-icon-size: calc(0 * 1px);
  position: relative;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
  width: var(--bookmarks-tab-width);
  min-width:
    calc(
      var(--bookmark-tabs-tab-close-size) +
      var(--bookmark-tabs-tab-right-icon-size) +
      var(--bookmark-tabs-tab-left-icon-size) + var(--space-3xl) +
      var(--space-m)
    );
  max-width: 200px;
  height: var(--bookmark-tabs-tab-size);
  max-height: 100%;
  padding: var(--bookmark-tabs-tab-padding-top) var(--space-xs);
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;

  &:not(.canary--BookmarkTabsTab_active) {
    border-bottom: 1px solid var(--color-bg-border);
  }

  &:not(.canary--BookmarkTabsTab_withLeftIcon) {
    --bookmark-tabs-tab-left-icon-size: calc(0 * 1px);
  }

  &_withCloseButton {
    --bookmark-tabs-tab-close-size: var(--space-2xl);
  }

  &_withRightIcon {
    --bookmark-tabs-tab-right-icon-size: var(--space-l);
  }

  &_view {
    &_ghost {
      --bookmark-tabs-tab-color: var(--color-typo-primary);
      background: var(--color-bg-secondary);
    }

    &_clear {
      --bookmark-tabs-tab-color: var(--color-typo-secondary);
    }
  }

  &_size {
    &_s {
      --bookmark-tabs-tab-size: var(--space-2xl);
      --bookmark-tabs-tab-padding-top: var(--space-2xs);
      --bookmark-tabs-tab-left-icon-size: var(--space-l);
    }

    &_m {
      --bookmark-tabs-tab-size: var(--space-3xl);
      --bookmark-tabs-tab-padding-top: var(--space-xs);
      --bookmark-tabs-tab-left-icon-size: var(--space-2xl);
    }
  }

  &_bordered::after {
    content: '';
    position: absolute;
    top: var(--bookmark-divider-top);
    right: 0;
    width: 1px;
    height: var(--bookmark-divider-height);
    background: var(--color-bg-border);
  }

  &_form {
    &_round {
      --bookmark-divider-top: calc(var(--space-l) / 2);
      --bookmark-divider-height: calc(100% - var(--space-l));
      border-radius: var(--space-xs) var(--space-xs) 0 0;

      &.canary--BookmarkTabsTab_active {
        padding-top: calc(var(--bookmark-tabs-tab-padding-top) - 1px);
        border-top: 1px solid var(--color-bg-border);
        border-left: 1px solid var(--color-bg-border);
        border-right: 1px solid var(--color-bg-border);
      }
    }

    &_brick {
      --bookmark-divider-height: 100%;
      --bookmark-divider-top: 0;
    }
  }

  &_fixed {
    --bookmark-tabs-tab-padding-top: var(--space-xs);
    width: var(--bookmark-tabs-tab-size);
    min-width: var(--bookmark-tabs-tab-size);
  }

  &_hovered[class*='view'] {
    --bookmark-tabs-tab-color: var(--color-control-typo-ghost-hover);
    background-color: var(--color-control-bg-ghost-hover);
  }

  &_active {
    --bookmark-tabs-tab-color: var(--color-typo-primary);
    background: var(--color-bg-default);
  }

  &-Icon_side_left,
  &-Label.Text {
    color: var(--bookmark-tabs-tab-color);
    transition: color 0.3s;
  }

  &-Icon {
    display: block;
    min-width: var(--icon-size);
  }

  &-Label {
    overflow: hidden;
    flex: auto;
    min-width: var(--space-3xl);
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
