.Tabs {
  position: relative;

  &_size {
    &_xs {
      --list-offset: var(--space-xs);
    }

    &_s {
      --list-offset: var(--space-s);
    }

    &_m {
      --list-offset: var(--space-m);
    }
  }

  &-List {
    position: relative;
    display: flex;

    &_direction_horizontal {
      align-items: center;
      white-space: nowrap;
    }

    &_direction_vertical {
      flex-direction: column;
    }

    &_linePosition_left {
      padding-left: var(--list-offset);
    }

    &_linePosition_right {
      padding-right: var(--list-offset);
    }
  }

  &-Tab {
    flex-shrink: 0;

    &_direction_horizontal {
      margin-right: var(--space-m);
    }

    &_direction_vertical {
      text-align: left;

      & > * {
        width: 100%;
      }
    }
  }
}
