.Icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: var(--icon-size);
  height: var(--icon-size);

  &_size {
    &_xs {
      --icon-size: var(--graphics-size-xs);
    }
    &_s {
      --icon-size: var(--graphics-size-s);
    }
    &_m {
      --icon-size: var(--graphics-size-m);
    }
  }
  &_view {
    &_alert {
      --icon-color: var(--color-typo-alert);
    }
    &_brand {
      --icon-color: var(--color-typo-brand);
    }
    &_ghost {
      --icon-color: var(--color-typo-ghost);
    }
    &_link {
      --icon-color: var(--color-typo-link);
    }
    &_primary {
      --icon-color: var(--color-typo-primary);
    }
    &_secondary {
      --icon-color: var(--color-typo-secondary);
    }
    &_success {
      --icon-color: var(--color-typo-success);
    }
    &_warning {
      --icon-color: var(--color-typo-warning);
    }
  }

  &-Svg {
    width: 100%;
    height: 100%;
    fill: var(--icon-color);
    color: var(--icon-color);
  }
}
