.ListItem {
  --list-item-color: var(--color-typo-primary);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: var(--list-item-vertical-space) var(--list-item-horizontal-space);
  background: var(--color-control-bg-clear);
  word-wrap: break-word;
  transition: color 0.3s;
  gap: var(--space-xs);

  &.Text {
    color: var(--list-item-color);
  }

  &_interactive {
    cursor: pointer;
  }

  &_size {
    &_xs {
      --list-item-vertical-space: calc(var(--control-space-s) / 4);
      --list-item-horizontal-space: calc(var(--control-space-s) / 2);

      &.ListItem_indent_increased {
        --list-item-horizontal-space: var(--control-space-xs);
      }
    }

    &_s {
      --list-item-vertical-space: calc(var(--control-space-s) / 4);
      --list-item-horizontal-space: calc(var(--control-space-s) / 2);

      &.ListItem_indent_increased {
        --list-item-horizontal-space: var(--control-space-xs);
      }
    }

    &_m {
      --list-item-vertical-space: calc(var(--control-space-s) / 2);
      --list-item-horizontal-space: var(--control-space-xs);

      &.ListItem_indent_increased {
        --list-item-horizontal-space: var(--control-space-s);
      }
    }

    &_l {
      --list-item-vertical-space: calc(var(--control-space-s) / 2);
      --list-item-horizontal-space: var(--control-space-xs);

      &.ListItem_indent_increased {
        --list-item-horizontal-space: var(--control-space-m);
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--space-3xs);
    background-color: transparent;
    transition: background-color 0.2 ease-in;
  }

  &_active::before {
    background-color: var(--list-item-color);
  }

  &_active {
    --list-item-color: var(--color-control-typo-secondary);
  }

  &_disabled {
    --list-item-color: var(--color-control-typo-disable);
    cursor: auto;
  }

  &:hover {
    background-color: var(--color-control-bg-clear-hover);
  }

  &-Icon {
    color: var(--list-item-color);
  }

  &-Label {
    flex: 1;
    word-wrap: break-word;
  }

  &-Slot {
    display: flex;
    align-items: center;

    &_position {
      &_left,
      &_right {
        flex: 0;
        width: max-content;
      }

      &_center {
        flex: 1;
      }
    }
  }
}
