.ListItem {
  --list-item-color: var(--color-typo-primary);
  position: relative;
  background: var(--color-control-bg-clear);
  transition: color 0.3s;

  &.Text {
    color: var(--list-item-color);
  }

  &_interactive {
    cursor: pointer;

    &:hover {
      background-color: var(--color-control-bg-clear-hover);
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--space-3xs);
    background-color: transparent;
    transition: background-color 0.2 ease-in;
  }

  &_active::before {
    background-color: var(--list-item-color);
  }

  &_active {
    --list-item-color: var(--color-control-typo-secondary);
  }

  &_disabled {
    --list-item-color: var(--color-control-typo-disable);
    cursor: auto;
  }

  &-Icon {
    color: var(--list-item-color);
  }
}
