.stand--StandPage {
    &-Navigation {
        margin-bottom: var(--space-3xl);
    }

    &-Informer {
        margin-bottom: var(--space-3xl);
    }

    &-Figma {
        margin-bottom: var(--space-2xl);
    }

    &-Footer {
        margin-top: calc(var(--space-2xl) + var(--space-4xl));
    }
}