.Collapse {
  &_size {
    &_2xs {
      --vertical-space: var(--space-2xs);
      --elements-offset: var(--space-xs);
      --body-width: 277px;
      --body-offset-up: var(--space-2xs);
      --body-offset-bottom: var(--space-xs);
    }

    &_xs {
      --vertical-space: var(--space-2xs);
      --elements-offset: var(--space-xs);
      --body-width: 394px;
      --body-offset-up: var(--space-2xs);
      --body-offset-bottom: var(--space-xs);
    }

    &_s {
      --vertical-space: var(--space-xs);
      --elements-offset: var(--space-xs);
      --body-width: 407px;
      --body-offset-up: var(--space-xs);
      --body-offset-bottom: var(--space-m);
    }

    &_m {
      --vertical-space: var(--space-s);
      --elements-offset: var(--space-s);
      --body-width: 539px;
      --body-offset-up: var(--space-s);
      --body-offset-bottom: var(--space-xl);
    }

    &_l {
      --vertical-space: var(--space-s);
      --elements-offset: var(--space-s);
      --body-width: 539px;
      --body-offset-up: var(--space-s);
      --body-offset-bottom: var(--space-xl);
    }
  }

  &-Label {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    transition: background 0.3s;
    padding: var(--vertical-space) var(--horizontal-space);

    &_withHoverEffect {
      &:hover {
        background: var(--color-control-bg-clear-hover);
      }
    }

    &_withDivider {
      border-bottom: 1px solid var(--color-bg-border);
    }

    .Collapse-Icon {
      margin-right: var(--elements-offset);
      transition: transform 0.3s;

      &_isOpen {
        transform: rotate(180deg);
      }

      &_hasCloseIcon {
        transform: none;
      }
    }

    &_iconPosition {
      &_right {
        flex-direction: row-reverse;

        .Collapse-Icon {
          margin-right: 0;
          margin-left: var(--elements-offset);
        }
      }
    }

    &_horizontalPadding {
      &_3xs {
        --horizontal-space: var(--space-3xs);
      }

      &_2xs {
        --horizontal-space: var(--space-2xs);
      }

      &_xs {
        --horizontal-space: var(--space-xs);
      }

      &_s {
        --horizontal-space: var(--space-s);
      }

      &_m {
        --horizontal-space: var(--space-m);
      }

      &_l {
        --horizontal-space: var(--space-l);
      }

      &_xl {
        --horizontal-space: var(--space-xl);
      }

      &_2xl {
        --horizontal-space: var(--space-2xl);
      }

      &_3xl {
        --horizontal-space: var(--space-3xl);
      }

      &_4xl {
        --horizontal-space: var(--space-4xl);
      }

      &_5xl {
        --horizontal-space: var(--space-5xl);
      }

      &_6xl {
        --horizontal-space: var(--space-6xl);
      }
    }
  }

  &-Body {
    overflow: hidden;
    transition: max-height 0.3s;
  }

  .Collapse-rightSide {
    :nth-child(n) {
      margin-left: var(--elements-offset);
    }
  }

  &-CollapseIcon {
    flex-shrink: 0;
    margin-left: var(--space-s);
    transition: transform 0.3s, color 0.3s;
  }

  &_isOpen {
    .Collapse-Body {
      width: var(--body-width);
      max-height: 200vh;
      padding: var(--body-offset-up) 0 var(--body-offset-bottom);
      transition-timing-function: cubic-bezier(0.7, 0, 0.5, 1);
    }

    .Collapse-CollapseIcon {
      transform: scale(1.4) rotate(45deg);
    }
  }

  &:not(&_isOpen) {
    .Collapse-Body {
      width: var(--body-width);
      max-height: 0;
      padding-top: var(--body-offset-up);
    }
  }

  &_view {
    &_secondary {
      color: var(--color-typo-secondary);
    }
  }
}
