.NotificationExamplePopover {
  &-Popover {
    --modal-layout-z-index-for-fixed-slot: 10;
    overflow: hidden;
    border-radius: 60px;
  }

  &-Header {
    background: var(--color-bg-default);
  }

  &-ScrollContainer {
    position: relative;
    overflow: auto;
    width: 300px;
    max-height: 300px;
    background: var(--color-bg-default);
  }
}
