.canary--SelectLoader {
  --loader-height: 0;
  position: relative;
  height:
    calc(
      var(--select-dropdown-height) - var(--space-padding-bottom) -
      var(--space-padding-top)
    );
  cursor: wait;

  &-Loader.Loader {
    --backgroundColor: var(--color-control-typo-disable);
    position: absolute;
    height: var(--select-dropdown-height);
  }
}
