.TableFilterPopover {
  &-Button {
    z-index: 1;
    opacity: 0;
    transition: opacity var(--show-transition);

    &_isOpened {
      --color-hover: var(--color-control-typo-secondary);
      color: var(--color-control-typo-secondary);
      opacity: 1;
    }

    &_isActive {
      --color-hover: var(--color-control-typo-secondary);
      color: var(--color-control-typo-secondary);
      opacity: 1;
    }
  }
}
