/* Базовые цвета от которых выстраивается вся политра */
$color-base-base: #f6fbfd; /* Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ... */
$color-base-essential: #002033; /* Базовый цвет поверхностей */
$color-base-project: #0071b2; /* Проектный цвет, от которого выстраивают акцентные состояния */
$color-base-phantom: #f6fbfd; /* Тонирующий цвет, от которого выстраиватся бордеры, паранджа, ... */
$color-base-path: #0096eb; /* Ссылочный цвет, от которого выстраиваются все их состояния */
$color-base-system: #2b4150; /* Цвет системнный */

$color-base-success: #22C38E; /* Цвет успеха */
$color-base-alert: #eb5757; /* Цвет ошибки */
$color-base-warning: #f38b00; /* Цвет предупреждения */
$color-base-caution: #f2c94c; /* Цвет осторожности */
$color-base-normal: #0aa5ff; /* Цвет нейтральный */
$color-base-critical: #33000f;

/* stylelint-disable */
.theme_color_gpn-display {
  /* //////////////////////////////
  // Цвета фонов /////////////// */
  --color-bg-default: color($color-base-essential a(100%)); /* Цвет дефолта */
  --color-bg-secondary: color($color-base-essential s(+25) l(+4)); /* Цвет дефолта */
  --color-bg-brand: color($color-base-project a(100%)); /* Цвет фона брендированый */
  --color-bg-link: color($color-base-path a(100%)); /* Цвет фона ссылки */
  --color-bg-border: color($color-base-phantom a(20%) l(+10)); /* Цвет границ */
  --color-bg-stripe: color($color-base-phantom a(5%)); /* Цвет зебры */
  --color-bg-ghost: color($color-base-phantom a(8%)); /* Цвет затенения */
  --color-bg-tone: color($color-base-phantom s(+100%) l(-92%) a(85%)); /* Цвет паранджи */
  --color-bg-soft: color($color-base-essential l(+100%) a(90%)); /* Цвет молока */
  --color-bg-system: color($color-base-system a(100%)); /* Цвет фона системнный */
  --color-bg-normal: color($color-base-normal a(100%)); /* Цвет фона нейтральный */
  --color-bg-success: color($color-base-success a(100%)); /* Цвет фона успеха */
  --color-bg-caution: color($color-base-caution a(100%)); /* Цвет фона осторожности */
  --color-bg-warning: color($color-base-warning a(100%)); /* Цвет фона предупреждения */
  --color-bg-alert: color($color-base-alert s(+10)); /* Цвет фона ошибки */
  --color-bg-critical: color($color-base-critical a(100%)); /* Цвет фона системнный */

  /* //////////////////////////////
  // Цвета текста ////////////// */
  --color-typo-primary: color($color-base-base l(-2)); /* Цвет основного текста */
  --color-typo-secondary: color($color-base-base a(60%)); /* Цвет второстепенного текста */
  --color-typo-ghost: color($color-base-base a(30%)); /* Цвет дополнительного текста */
  --color-typo-brand: color($color-base-project a(100%)); /* Цвет брендового текста */
  --color-typo-system: color($color-base-system s(+6) l(+12)); /* Цвет фона системнный */
  --color-typo-normal: color($color-base-normal s(+14) l(-4)); /* Цвет фона нейтральный */
  --color-typo-success: color($color-base-success s(+14) l(-8)); /* Цвет текста успеха */
  --color-typo-caution: color($color-base-caution s(+7) l(-3)); /* Цвет текста осторожности */
  --color-typo-warning: color($color-base-warning s(+7) l(-3)); /* Цвет текста предупреждения */
  --color-typo-alert: color($color-base-alert s(+3) l(-3)); /* Цвет текста ошибки */
  --color-typo-critical: color($color-base-critical l(+9%)); /* Цвет фона системнный */
  --color-typo-link: color($color-base-path a(100%)); /* Цвет основной ссылки */
  --color-typo-link-minor: color($color-base-path s(-50%) l(+20%)); /* Цвет второстепенной ссылки */
  --color-typo-link-hover: color($color-base-path l(-7%)); /* Цвет ховера ссылки */
  --color-nums-shadow: 0, 3, 6;

  /* /////////////////////////////
  // Цвета контролов /////////// */

  /* Default */
  --color-control-bg-default: color($color-base-essential); /* Цвет фона контрола */
  --color-control-bg-default-hover: color($color-base-phantom s(+20%) l(16%)); /* Цвет фона контрола по ховеру */
  --color-control-typo-default: color($color-base-base a(80%)); /* Цвет основного текста контрола */
  --color-control-typo-placeholder: color($color-base-base a(35%)); /* Цвет плейсхолдера контрола */
  --color-control-bg-border-default: color($color-base-phantom a(16%)); /* Цвет фона бордеров котрола */
  --color-control-bg-border-default-hover: color($color-base-phantom a(44%)); /* Цвет фона бордеров контрола по ховеру */
  --color-control-bg-border-focus: color($color-base-project l(+10%)); /* Цвет аутлайна контролов при фокусе */ /* TODO заменить на правило целиком */

  /* Primary */
  --color-control-bg-primary: color($color-base-project l(+10%)); /* Цвет фона активного контрола */
  --color-control-bg-primary-hover: color($color-base-project l(+18%)); /* Цвет фона активного контрола по ховеру */
  --color-control-typo-primary: color($color-base-base l(+100%)); /* Цвет акцентного текста */
  --color-control-typo-primary-hover: color($color-base-base l(+100%)); /* Цвет акцентного текста */

  /* Secondary */
  --color-control-bg-secondary: color($color-base-essential a(0%)); /* Цвет фона бордеров котрола */
  --color-control-bg-secondary-hover: color($color-base-project a(5%)); /* Цвет фона бордеров контрола по ховеру */
  --color-control-bg-border-secondary: color($color-base-project l(+10%)); /* Цвет фона бордеров котрола */
  --color-control-bg-border-secondary-hover: color($color-base-project l(+18%)); /* Цвет фона бордеров контрола по ховеру */
  --color-control-typo-secondary: color($color-base-project l(+14%)); /* Цвет второстепеного текста контрола */
  --color-control-typo-secondary-hover: color($color-base-project l(+22%)); /* Цвет акцентного текста */

  /* Ghost */
  --color-control-bg-ghost: color($color-base-phantom s(-100) a(16%)); /* Цвет фона дополнительного контрола */
  --color-control-bg-ghost-hover: color($color-base-phantom s(-90) a(24%)); /* Цвет фона дополнительного контрола по ховеру */
  --color-control-typo-ghost: color($color-base-base a(70%)); /* Цвет дополнительного текста контрола */
  --color-control-typo-ghost-hover: color($color-base-base a(90%)); /* Цвет акцентного текста */

  /* Clear */
  --color-control-bg-clear: color($color-base-phantom a(0%)); /* Цвет фона чистого контрола */
  --color-control-bg-clear-hover: color($color-base-phantom a(7%)); /* Цвет фона чистого контрола по ховеру */
  --color-control-typo-clear: color($color-base-base a(70%)); /* Цвет акцентного текста */
  --color-control-typo-clear-hover: color($color-base-base a(90%)); /* Цвет акцентного текста */

  /* Disable */
  --color-control-bg-disable: color($color-base-phantom s(-16) l(16%)); /* Цвет фона неактивного контрола */
  --color-control-bg-border-disable: color($color-base-phantom s(-32) l(32%) a(20%)); /* Цвет фона бордеров неактивного контрола */
  --color-control-typo-disable: color($color-base-phantom s(-70) a(24%)); /* Цвет основного текста неактивного контрола */
}
/* stylelint-enable */
