/* Базовые цвета от которых выстраивается вся политра */
$color-base-base: #f6fbfd; /* Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ... */
$color-base-essential: #002033; /* Базовый цвет поверхностей */
$color-base-project: #0071b2; /* Проектный цвет, от которого выстраивают акцентные состояния */
$color-base-phantom: #f6fbfd; /* Тонирующий цвет, от которого выстраиватся бордеры, паранджа, ... */
$color-base-path: #0096eb; /* Ссылочный цвет, от которого выстраиваются все их состояния */
$color-base-system: #2b4150; /* Цвет системнный */

$color-base-success: #22C38E; /* Цвет успеха */
$color-base-alert: #eb5757; /* Цвет ошибки */
$color-base-warning: #f38b00; /* Цвет предупреждения */
$color-base-caution: #f2c94c; /* Цвет осторожности */
$color-base-normal: #56b9f2; /* Цвет нейтральный */
$color-base-critical: #33000f;

.theme_color_gpn-display {
  /* Цвета фона */
  --color-bg-default: color($color-base-essential a(100%)); /* Цвет дефолта */
  --color-bg-secondary: color($color-base-essential s(+25) l(+4)); /* Цвет дефолта */
  --color-bg-brand: color($color-base-project a(100%)); /* Цвет фона брендированый */
  --color-bg-link: color($color-base-path a(100%)); /* Цвет фона ссылки */
  --color-bg-border: color($color-base-phantom a(20%) l(+10)); /* Цвет границ */
  --color-bg-stripe: color($color-base-phantom a(5%)); /* Цвет зебры */
  --color-bg-ghost: color($color-base-phantom a(8%)); /* Цвет затенения */
  --color-bg-tone: color($color-base-phantom s(+100%) l(-92%) a(85%)); /* Цвет паранджи */
  --color-bg-soft: color($color-base-essential l(+100%) a(90%)); /* Цвет молока */
  --color-bg-system: color($color-base-system a(100%)); /* Цвет фона системнный */
  --color-bg-normal: color($color-base-normal a(100%)); /* Цвет фона нейтральный */
  --color-bg-success: color($color-base-success a(100%)); /* Цвет фона успеха */
  --color-bg-caution: color($color-base-caution a(100%)); /* Цвет фона осторожности */
  --color-bg-warning: color($color-base-warning a(100%)); /* Цвет фона предупреждения */
  --color-bg-alert: color($color-base-alert s(+10)); /* Цвет фона ошибки */
  --color-bg-critical: color($color-base-critical a(100%)); /* Цвет фона системнный */

  /* Цвета текста */
  --color-typo-primary: color($color-base-base); /* Цвет основного текста */
  --color-typo-secondary: color($color-base-base a(60%)); /* Цвет второстепенного текста */
  --color-typo-ghost: color($color-base-base a(30%)); /* Цвет дополнительного текста */
  --color-typo-brand: color($color-base-project a(100%)); /* Цвет брендового текста */
  --color-typo-system: color($color-base-system s(+6) l(+12)); /* Цвет фона системнный */
  --color-typo-normal: color($color-base-normal s(+14) l(-4)); /* Цвет фона нейтральный */
  --color-typo-success: color($color-base-success s(+14) l(-8)); /* Цвет текста успеха */
  --color-typo-caution: color($color-base-caution s(+7) l(-3)); /* Цвет текста осторожности */
  --color-typo-warning: color($color-base-warning s(+7) l(-3)); /* Цвет текста предупреждения */
  --color-typo-alert: color($color-base-alert s(+3) l(-3)); /* Цвет текста ошибки */
  --color-typo-critical: color($color-base-critical l(+9%)); /* Цвет фона системнный */
  --color-typo-link: color($color-base-path a(100%)); /* Цвет основной ссылки */
  --color-typo-link-minor: color($color-base-path s(-50%) l(+20%)); /* Цвет второстепенной ссылки */
  --color-typo-link-hover: color($color-base-path l(-7%)); /* Цвет ховера ссылки */
  --color-nums-shadow: 0, 6, 9;
}
