/* TODO из-за этого импорта происходит дублирование */
@import './theme_color_gpn-display.css';

/* stylelint-disable */
.theme_control_gpn-display {
  /* Default */
  --control-color-bg-default: color($color-base-essential); /* Цвет фона контрола */
  --control-color-bg-default-hover: color($color-base-phantom s(+20%) l(16%)); /* Цвет фона контрола по ховеру */
  --control-color-typo-default: color($color-base-base); /* Цвет основного текста контрола */
  --control-color-typo-placeholder: color($color-base-base a(35%)); /* Цвет плейсхолдера контрола */
  --control-color-bg-border-default: color($color-base-phantom a(14%)); /* Цвет фона бордеров котрола */
  --control-color-bg-border-default-hover: color($color-base-phantom a(44%)); /* Цвет фона бордеров контрола по ховеру */
  --control-color-bg-border-focus: color($color-base-project l(+10%)); /* Цвет аутлайна контролов при фокусе */ /* TODO заменить на правило целиком */

  /* Primary */
  --control-color-bg-primary: color($color-base-project l(+10%)); /* Цвет фона активного контрола */
  --control-color-bg-primary-hover: color($color-base-project l(+18%)); /* Цвет фона активного контрола по ховеру */
  --control-color-typo-primary: color($color-base-base l(+100%)); /* Цвет акцентного текста */
  --control-color-typo-primary-hover: color($color-base-base l(+100%)); /* Цвет акцентного текста */

  /* Secondary */
  --control-color-bg-secondary: color($color-base-essential a(0%)); /* Цвет фона бордеров котрола */
  --control-color-bg-secondary-hover: color($color-base-project a(5%)); /* Цвет фона бордеров контрола по ховеру */
  --control-color-bg-border-secondary: color($color-base-project l(+10%)); /* Цвет фона бордеров котрола */
  --control-color-bg-border-secondary-hover: color($color-base-project l(+18%)); /* Цвет фона бордеров контрола по ховеру */
  --control-color-typo-secondary: color($color-base-project l(+14%)); /* Цвет второстепеного текста контрола */
  --control-color-typo-secondary-hover: color($color-base-project l(+22%)); /* Цвет акцентного текста */

  /* Ghost */
  --control-color-bg-ghost: color($color-base-phantom s(-100) a(9%)); /* Цвет фона дополнительного контрола */
  --control-color-bg-ghost-hover: color($color-base-phantom s(-90) a(15%)); /* Цвет фона дополнительного контрола по ховеру */
  --control-color-typo-ghost: color($color-base-base a(70%)); /* Цвет дополнительного текста контрола */
  --control-color-typo-ghost-hover: color($color-base-base a(90%)); /* Цвет акцентного текста */

  /* Clear */
  --control-color-bg-clear: color($color-base-phantom a(0%)); /* Цвет фона чистого контрола */
  --control-color-bg-clear-hover: color($color-base-phantom a(7%)); /* Цвет фона чистого контрола по ховеру */
  --control-color-typo-clear: color($color-base-base a(70%)); /* Цвет акцентного текста */
  --control-color-typo-clear-hover: color($color-base-base a(90%)); /* Цвет акцентного текста */

  /* Checked */
  --control-color-bg-checked: color($color-base-project l(+5%)); /* Цвет фона активного контрола */
  --control-color-bg-checked-hover: color($color-base-project l(+11%)); /* Цвет фона активного контрола по ховеру */
  --control-color-typo-checked: color($color-base-base l(+100%)); /* Цвет фона содержимого контрола */
  --control-color-bg-border-checked: color($color-base-project l(+5%)); /* Цвет фона бордеров котрола */
  --control-color-bg-border-checked-hover: color($color-base-project l(+11%)); /* Цвет фона бордеров контрола по ховеру */

  /* Disable */
  --control-color-bg-disable: color($color-base-phantom s(-20) l(16%)); /* Цвет фона неактивного контрола */
  --control-color-bg-border-disable: color($color-base-phantom s(-32) l(32%) a(20%)); /* Цвет фона бордеров неактивного контрола */
  --control-color-typo-disable: color($color-base-phantom s(-70) a(18%)); /* Цвет основного текста неактивного контрола */
  /* stylelint-enable */

  /* Others */
  --control-press-scale: scale(0.95);
  --control-radius: 4px; /* Основной радиус скругления контроллов */
  --control-border-width: 2px; /* Основная толщина контроллов */
  --control-height-l: var(--space-4xl);
  --control-height-m: var(--space-3xl);
  --control-height-s: var(--space-2xl);
  --control-height-xs: var(--space-xl);
  --control-box-size-m: var(--space-m);
  --control-box-size-l: var(--space-l);
  --control-space-l: var(--space-xl);
  --control-space-m: var(--space-l);
  --control-space-s: var(--space-m);
  --control-space-xs: var(--space-s);
  --control-text-size-l: var(--size-typo-l);
  --control-text-size-m: var(--size-typo-m);
  --control-text-size-s: var(--size-typo-s);
  --control-text-size-xs: var(--size-typo-xs);
}
