.SelectDropdown {
  box-sizing: border-box;
  width: 100%;
  min-width: 220px;
  margin: -1px 0 -1px;
  background: var(--color-bg-default);
  border: var(--control-border-width) solid var(--color-control-bg-border-default);
  border-radius: var(--control-radius);
  outline: none;
  box-shadow: 0 2px 2px rgba(var(--color-nums-shadow), 0.04),
    0 4px 16px rgba(var(--color-nums-shadow), 0.18);
}
