.List {
  width: 100%;
  height: 100%;
  padding: var(--list-space) 0;
  line-height: 120%;

  &_size {
    &_xs {
      --list-space: var(--space-2xs);
    }

    &_s {
      --list-space: var(--space-2xs);
    }

    &_m {
      --list-space: var(--space-xs);
    }

    &_l {
      --list-space: var(--space-xs);
    }
  }

  &-Loader {
    width: 100%;
  }
}
