.Header {
  --header-height: 60px;

  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: var(--header-height);
  padding: 0 var(--space-xl);
  border-bottom: 1px solid var(--color-bg-border);

  &-LeftSide,
  &-RightSide {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
  }

  &-RightSide {
    justify-content: flex-end;
  }
}
