.header {
  --header-height: 60px;

  display: flex;
  width: 100%;
  height: var(--header-height);
  box-sizing: border-box;
  padding: 0 var(--space-xl);
  border-bottom: 1px solid var(--color-bg-border);

  &__left-side,
  &__right-side {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }

  &__right-side {
    justify-content: flex-end;
  }
}
