.header {
  --header-height: 60px;

  display: flex;
  width: 100%;
  height: var(--header-height);
  box-sizing: border-box;
  padding: 0 var(--space-xl);
  border-bottom: 1px solid var(--color-bg-border);

  &__module {
    &_indent {
      &_s {
        --module-indent: var(--space-xs);
      }
      &_m {
        --module-indent: var(--space-m);
      }
      &_l {
        --module-indent: var(--space-2xl);
      }
    }
  }

  &__left-side,
  &__right-side {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }

  &__left-side {
    .header__module {
      margin-right: var(--module-indent);
    }
  }

  &__right-side {
    justify-content: flex-end;

    .header__module {
      margin-left: var(--module-indent);
    }
  }
}
