.stand--StandPageHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  &-Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: var(--space-xl);
  }

  &-Badges {
    & > *:not(:last-child) {
      margin-right: var(--space-s);
    }
  }

  &-Description {
    width: 100%;
    margin-bottom: var(--space-2xl);
  }
}
