.DatePicker {
  display: inline-flex;
  align-items: baseline;
  width: fit-content;
  outline: none;
}

.DatePicker-Tooltip {
  padding: var(--space-l);
  background: var(--color-bg-default);
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(var(--color-nums-shadow), 0.07),
    0 4px 4px rgba(var(--color-nums-shadow), 0.07), 0 8px 8px rgba(var(--color-nums-shadow), 0.07),
    0 12px 16px rgba(var(--color-nums-shadow), 0.07),
    0 16px 32px rgba(var(--color-nums-shadow), 0.07);
}
