.DatePickerDropdown {
  --transition-spase: var(--space-2xs);
  padding: var(--space-l);
  background: var(--color-bg-default);
  box-shadow: var(--shadow-layer);

  &_form {
    &_default {
      border-radius: var(--control-radius);
    }

    &_brick {
      border-radius: 0;
    }

    &_round {
      border-radius: var(--space-l);
    }
  }
}
