.MixScrollBar {
  &_size {
    &_xs {
      --scrollbar-size: var(--space-3xs);
    }

    &_s {
      --scrollbar-size: var(--space-2xs);
    }

    &_m {
      --scrollbar-size: var(--space-xs);
    }
  }

  &_invisible {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-scroll-bg);
  }

  &::-webkit-scrollbar-corner {
    background-color: var(--color-scroll-bg);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll-thumb);
    border-radius: var(--space-2xs);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scroll-thumb-hover);
  }
}
