/* Thin 100 */

@font-face {
  font-family: 'Inter';
  src:
    url('Inter-Thin.woff2') format('woff2'),
    url('Inter-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

/* ExtraLight 200 */

@font-face {
  font-family: 'Inter';
  src:
    url('Inter-ExtraLight.woff2') format('woff2'),
    url('Inter-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

/* Light 300 */

@font-face {
  font-family: 'Inter';
  src:
    url('Inter-Light.woff2') format('woff2'),
    url('Inter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

/* Regular 400 */

@font-face {
  font-family: 'Inter';
  src:
    url('Inter-Regular.woff2') format('woff2'),
    url('Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:
    url('Inter-Regular.woff2') format('woff2'),
    url('Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Medium 500 */

@font-face {
  font-family: 'Inter';
  src:
    url('Inter-Medium.woff2') format('woff2'),
    url('Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* SemiBold 600 */

@font-face {
  font-family: 'Inter';
  src:
    url('Inter-SemiBold.woff2') format('woff2'),
    url('Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* Bold 700 */

@font-face {
  font-family: 'Inter';
  src:
    url('Inter-Bold.woff2') format('woff2'),
    url('Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:
    url('Inter-Bold.woff2') format('woff2'),
    url('Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* ExtraBold 800 */

@font-face {
  font-family: 'Inter';
  src:
    url('Inter-ExtraBold.woff2') format('woff2'),
    url('Inter-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

/* Black 900 */

@font-face {
  font-family: 'Inter';
  src:
    url('Inter-Black.woff2') format('woff2'),
    url('Inter-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

.Theme_font_gpnDefault {
  --font-primary:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  --font-mono:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
  font-family: var(--font-primary);
}
