.Checkbox {
  position: relative;
  display: inline-flex;
  font-family: var(--font-sans);
  cursor: pointer;

  &-Input {
    position: relative;
    box-sizing: border-box;
    width: var(--box-size);
    height: var(--box-size);
    margin: 0;
    background-color: transparent;
    border: var(--control-border-width) solid var(--color-control-bg-border-default);
    border-radius: var(--control-radius);
    cursor: pointer;
    transition: border-color 0.15s, background-color 0.15s;
    flex-shrink: 0;
    -webkit-appearance: none;

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      box-sizing: border-box;
      width: calc(var(--box-size) * 0.6);
      height: calc(var(--box-size) * 0.35);
      background-color: var(--color-control-bg-affect);
      border-left: 2px solid var(--color-control-typo-primary);
      border-bottom: 2px solid var(--color-control-typo-primary);
      opacity: 0;
      transition: opacity 0.15s, transform 0.15s, background-color 0.08s;
      transform: rotate(-50deg) scale(0, 1);
      transform-origin: 0 0;
    }
  }

  &-Label {
    margin-left: var(--offset);
    color: var(--color-control-typo-default);
    font-size: var(--checkbox-font-size);
  }

  &_size {
    &_m {
      --checkbox-font-size: var(--control-text-size-m);
      --box-size: var(--control-box-size-m);
      --offset: var(--space-xs);

      .Checkbox-Input {
        &::before {
          top: 7px;
          left: 2px;
        }
      }
    }

    &_l {
      --checkbox-font-size: var(--control-text-size-l);
      --box-size: var(--control-box-size-l);
      --offset: var(--space-s);

      .Checkbox-Input {
        &::before {
          top: 9px;
          left: 2px;
        }
      }
    }
  }

  &-Input:checked {
    background-color: var(--color-control-bg-primary);
    border-color: var(--color-control-bg-primary);

    &::before {
      opacity: 1;
      transform: rotate(-50deg) scale(1, 1);
    }
  }

  &:hover &-Input {
    border-color: var(--color-control-bg-border-default-hover);

    &:checked {
      background-color: var(--color-control-bg-primary-hover);
      border-color: var(--color-control-bg-primary-hover);
    }
  }

  &_intermediate,
  &_intermediate:hover {
    .Checkbox-Input,
    .Checkbox-Input:checked {
      background-color: var(--color-control-bg-primary);
      border-color: var(--color-control-bg-primary);

      &::before {
        background-color: var(--color-control-typo-primary);
        opacity: 1;
        transition: opacity 0.15s, transform 0.15s, background-color 0.08s 0.04s;
        transform: rotate(0) scale(1, 0.35) translate(0, -50%);
      }
    }
  }

  &_disabled {
    pointer-events: none;

    .Checkbox-Input:disabled {
      background-color: var(--color-control-bg-disable);
      border-color: transparent;

      &::before {
        border-color: var(--color-control-typo-disable);
      }
    }

    &.Checkbox_intermediate .Checkbox-Input:disabled {
      &::before {
        background-color: var(--color-control-typo-disable);
      }
    }

    .Checkbox-Input:disabled ~ .Checkbox-Label {
      color: var(--color-control-typo-disable);
    }
  }

  &_align {
    &_center {
      align-items: center;
    }

    &_top {
      align-items: top;

      .Checkbox-Input {
        margin-top: var(--space-3xs);
      }
    }
  }
}
