.checkbox {
  position: relative;
  align-items: center;
  display: inline-flex;
  font-family: var(--font-sans);
  cursor: pointer;

  &__box {
    position: relative;
    flex-shrink: 0;
    width: var(--box-size);
    height: var(--box-size);
    box-sizing: border-box;
    border: var(--control-border-width) solid var(--color-control-bg-border-default);
    border-radius: var(--control-radius);
    background-color: transparent;
    transition: border-color 0.15s, background-color 0.15s;

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      width: calc(var(--box-size) * 0.6);
      height: calc(var(--box-size) * 0.35);
      box-sizing: border-box;
      border-bottom: var(--control-border-width) solid var(--color-control-typo-checked);
      border-left: var(--control-border-width) solid var(--color-control-typo-checked);
      background-color: var(--color-control-bg-affect);
      opacity: 0;
      transform-origin: 0 0;
      transform: rotate(-50deg) scale(0, 1);
      transition: opacity 0.15s, transform 0.15s, background-color 0.08s;
    }
  }

  &__text {
    margin-left: var(--offset);
    color: var(--color-control-typo-default);
    font-size: var(--checkbox-font-size);
  }

  &_size_m {
    --checkbox-font-size: var(--control-text-size-m);
    --box-size: var(--control-box-size-m);
    --offset: var(--space-xs);

    .checkbox__box {
      &::before {
        top: 6px;
        left: 1px;
      }
    }
  }

  &_size_l {
    --checkbox-font-size: var(--control-text-size-l);
    --box-size: var(--control-box-size-l);
    --offset: var(--space-s);

    .checkbox__box {
      &::before {
        top: 8px;
        left: 2px;
      }
    }
  }

  &__input {
    position: absolute;
    appearance: none;

    &:checked {
      + .checkbox__box {
        border-color: var(--color-control-bg-border-checked);
        background-color: var(--color-control-bg-checked);

        &::before {
          opacity: 1;
          transform: rotate(-50deg) scale(1, 1);
        }
      }
    }

    &:focus {
      + .checkbox__box {
        box-shadow: 0 0 2px 1px var(--color-control-bg-border-focus);
      }
    }
  }

  &:hover {
    .checkbox__box {
      border-color: var(--color-control-bg-border-default-hover);
    }
    .checkbox__input:checked + .checkbox__box {
      border-color: var(--color-control-bg-border-checked-hover);
      background-color: var(--color-control-bg-checked-hover);
    }
  }

  /* stylelint-disable  no-descending-specificity  */
  &_intermediate,
  &_intermediate:hover {
    .checkbox__box,
    .checkbox__input:checked + .checkbox__box {
      border-color: var(--color-control-bg-border-checked);
      background-color: var(--color-control-bg-checked);

      &::before {
        background-color: var(--color-control-typo-checked);
        transition: opacity 0.15s, transform 0.15s, background-color 0.08s 0.04s;
        transform: rotate(0) scale(1, 0.35) translate(0, -50%);
        opacity: 1;
      }
    }
  }

  &_disabled {
    pointer-events: none;
    .checkbox__input:disabled + .checkbox__box {
      border-color: transparent;
      background-color: var(--color-control-bg-disable);

      &::before {
        border-color: var(--color-control-typo-disable);
      }
    }
    .checkbox__input:disabled ~ .checkbox__text {
      color: var(--color-control-typo-disable);
    }
  }
  /* stylelint-enable  no-descending-specificity  */
}
