.Select {
  position: relative;
  display: flex;
  width: 100%;

  &-Delimiter {
    width: 1px;
    background-color: var(--color-control-bg-border-default);
  }

  &_size {
    &_xs {
      --input-height: var(--control-height-xs);
      --input-font-size: var(--control-text-size-xs);
      --input-space: calc(var(--control-space-xs) * 0.5);
      --tag-space: calc(var(--space-xs) / 2);
    }

    &_s {
      --input-height: var(--control-height-s);
      --input-font-size: var(--control-text-size-s);
      --input-space: calc(var(--control-space-s) * 0.5);
      --tag-space: calc(var(--space-xs) / 2 - var(--control-border-width));
    }

    &_m {
      --input-height: var(--control-height-m);
      --input-font-size: var(--control-text-size-m);
      --input-space: calc(var(--control-space-m) * 0.5);
      --tag-space: calc(var(--space-s) / 2 - var(--control-border-width));
    }

    &_l {
      --input-height: var(--control-height-l);
      --input-font-size: var(--control-text-size-l);
      --input-space: calc(var(--control-space-l) * 0.5);
      --tag-space: calc(var(--space-m) / 2 - var(--control-border-width));
    }
  }

  &-Control {
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
    height: var(--input-height);
    padding: 0;
    color: currentColor;
    background: transparent;
    border: none;
    outline: none;
    font-family: var(--font-primary);
    font-weight: normal;
    line-height: calc(var(--input-height) - var(--control-border-width));
    cursor: pointer;
    transition: border-color 0.15s, box-shadow 0.15s, background-color 0.15s;

    &:focus {
      outline: none;
    }
  }

  &_multi &-Control {
    height: auto;
    min-height: var(--input-height);
  }

  &_view_default .Select-Control {
    padding: 0;
    color: var(--color-control-typo-default);
    background: var(--color-control-bg-default);
    border: var(--control-border-width) solid var(--color-control-bg-border-default);
    border-radius: var(--control-radius);

    &:hover {
      border-color: var(--color-control-bg-border-default-hover);
    }
  }

  &_view_default.Select_focused .Select-Control {
    z-index: 1;
    border-color: var(--color-control-bg-border-focus);
    outline: none;
  }

  &_form {
    &_round .Select-Control {
      padding-left: calc(var(--input-space) * 1.6);
      border-radius: calc(var(--input-height) / 2);
    }

    &_brick .Select-Control {
      border-radius: 0;
    }

    &_clear .Select-Control {
      border-width: 0;
      border-bottom-width: var(--control-border-width);
      border-radius: 0;
    }

    &_defaultClear .Select-Control {
      border-right-width: 0;
      border-radius: var(--control-radius) 0 0 var(--control-radius);
    }

    &_clearDefault .Select-Control {
      border-left-width: 0;
      border-radius: 0 var(--control-radius) var(--control-radius) 0;
    }

    &_defaultBrick .Select-Control {
      border-radius: var(--control-radius) 0 0 var(--control-radius);
    }

    &_brickDefault .Select-Control {
      border-radius: 0 var(--control-radius) var(--control-radius) 0;
    }

    &_roundBrick .Select-Control {
      padding-left: calc(var(--input-space) * 1.6);
      border-radius: calc(var(--input-height) / 2) 0 0 calc(var(--input-height) / 2);
    }

    &_brickRound .Select-Control {
      padding-right: calc(var(--input-space) * 1.6);
      border-radius: 0 calc(var(--input-height) / 2) 99rem calc(var(--input-height) / 2);
    }

    &_brickClear .Select-Control {
      border-right-width: 0;
      border-radius: 0;
    }

    &_clearBrick .Select-Control {
      border-left-width: 0;
      border-radius: 0;
    }

    &_clearRound .Select-Control {
      padding-right: calc(var(--input-space) * 1.6);
      border-left-width: 0;
      border-radius: 0 calc(var(--input-height) / 2) calc(var(--input-height) / 2) 0;
    }

    &_roundClear .Select-Control {
      padding-left: calc(var(--input-space) * 1.6);
      border-right-width: 0;
      border-radius: calc(var(--input-height) / 2) 0 0 calc(var(--input-height) / 2);
    }

    &_clearClear .Select-Control {
      border-width: 0;
      border-top-width: var(--control-border-width);
      border-bottom-width: var(--control-border-width);
      border-radius: 0;
    }
  }

  &_view_default.Select_form_clear.Select_focused .Select-Control,
  &_view_default.Select_form_clearClear.Select_focused .Select-Control {
    box-shadow: var(--control-border-width) 0 var(--color-control-bg-border-focus),
      calc(-1 * var(--control-border-width)) 0 var(--color-control-bg-border-focus);
  }

  &_view_default.Select_form_defaultClear.Select_focused .Select-Control,
  &_view_default.Select_form_brickClear.Select_focused .Select-Control,
  &_view_default.Select_form_roundClear.Select_focused .Select-Control {
    box-shadow: var(--control-border-width) 0 var(--color-control-bg-border-focus);
  }

  &_view_default.Select_form_clearDefault.Select_focused .Select-Control,
  &_view_default.Select_form_clearBrick.Select_focused .Select-Control,
  &_view_default.Select_form_clearRound.Select_focused .Select-Control {
    box-shadow: calc(-1 * var(--control-border-width)) 0 var(--color-control-bg-border-focus);
  }

  &_view_default.Select_disabled .Select-Control {
    color: var(--color-control-typo-disable);
    background: var(--color-control-bg-disable);
    border-color: var(--color-control-bg-border-disable);
    pointer-events: none;
  }

  &_view_clear .Select-Control,
  &_view_clear .Select-Control:hover,
  &_view_clear .Select-Control:focus {
    padding: 0;
    color: var(--color-control-typo-default);

    &.Select_disabled {
      pointer-events: none;

      & .Select-Control {
        color: var(--color-control-typo-disable);
      }
    }
  }

  &-Indicators {
    display: flex;
    height: 100%;
  }

  &-IndicatorsDropdown {
    display: block;
    width: var(--input-height);
    margin: 0;
    padding: 0;
    color: var(--color-control-typo-disable);
    background-color: transparent;
    border: none;
    text-align: center;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &_form_round &-IndicatorsDropdown {
    border-radius: 0 calc(var(--input-height) / 2) calc(var(--input-height) / 2) 0;
  }

  &-ControlInner {
    position: relative;
    width: 100%;
  }

  &-ControlValueContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: none;
    font-size: var(--input-font-size);
    line-height: calc(var(--input-height) - 2px);
    text-align: left;

    &:focus {
      outline: none;
    }
  }

  &_view_default .Select-ControlValueContainer {
    padding: 0 0 0 var(--input-space);
  }

  &_multi &-ControlValueContainer {
    position: relative;
    display: flex;
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1;
  }

  &-Control[aria-expanded='true'] &-IndicatorsDropdown {
    transform: rotate(180deg);
  }

  &-ControlValue,
  &-Placeholder {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &_multi &-ControlValue {
    overflow: visible;
    padding-top: var(--tag-space);
    padding-bottom: calc(var(--tag-space) - calc(var(--space-xs) / 2));
    white-space: normal;
  }

  &_multi&_size_l &-ControlValue {
    padding-top: calc(var(--tag-space) - var(--control-border-width));
  }

  &-Placeholder {
    padding-right: var(--input-space);
    color: var(--color-control-typo-placeholder);
    font-size: var(--input-font-size);
    text-align: left;

    &_isHidden {
      visibility: hidden;
      opacity: 0;
    }
  }

  &-Control_hasInput &-Placeholder {
    position: absolute;
    top: 0;
    width: calc(100% - var(--input-space));
    background-color: transparent;
    line-height: calc(var(--input-height) - 2px);
  }

  &-DropdownIndicatorIcon {
    position: relative;
    top: 1px;
  }

  &-ClearIndicator {
    margin: 0;
    padding: 0 var(--space-xs);
    color: var(--color-control-typo-clear);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &-ClearIndicatorIcon {
    position: relative;
    top: 1px;
  }

  &-Input {
    position: relative;
    width: calc(100% - calc(var(--input-space) * 2));
    margin: 0;
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    line-height: calc(var(--input-height) - 2px);

    &_hide {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      opacity: 0;
    }
  }

  &_multi &-Input {
    display: inline-flex;
    min-width: 10px;
    margin-top: calc(var(--control-border-width) + var(--tag-space) - calc(var(--space-xs) / 2));
    line-height: 1;
  }

  &_multi&_size_s &-Input {
    margin-top: calc(
      var(--control-border-width) * 3 + var(--tag-space) - calc(var(--space-xs) / 2)
    );
  }

  &-FakeField {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
  }

  &-Tag {
    margin-right: calc(var(--space-xs) / 2);
    margin-bottom: calc(var(--space-xs) / 2);

    .TagBase-Label {
      word-break: break-word;
    }
  }

  &_size_xs &-Tag,
  &_size_s &-Tag {
    margin-top: calc(var(--space-xs) / 2 - calc(var(--control-border-width) * 4));
    margin-bottom: calc(var(--space-xs) / 2 - calc(var(--control-border-width) * 3));
  }

  &_disabled &-Tag {
    opacity: 0.8;
  }

  &-GroupName {
    margin-right: var(--input-space);
    margin-left: var(--input-space);
    color: var(--color-typo-secondary);
    border-bottom: 1px solid var(--color-bg-border);
    font-size: calc(var(--input-font-size) - 4px);
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }

  &-List_size_xs &-GroupName {
    font-size: calc(var(--input-font-size) - 2px);
  }

  &-List_size_xs &-GroupName,
  &-List_size_s &-GroupName {
    padding-top: var(--space-2xs);
    padding-bottom: var(--space-2xs);
  }

  &-List_size_m &-GroupName {
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
  }

  &-List_size_l &-GroupName {
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
  }

  &-List {
    overflow-y: auto;
    width: 100%;
    max-height: 200px;
    margin: 0;
    padding-left: 0;
    font-size: var(--input-font-size);
    line-height: 120%;

    &_size {
      &_xs {
        --input-height: var(--control-height-xs);
        --input-font-size: var(--control-text-size-xs);
        --input-space: calc(var(--control-space-xs) * 0.5);
        --box-size: var(--control-box-size-m);
      }

      &_s {
        --input-height: var(--control-height-s);
        --input-font-size: var(--control-text-size-s);
        --input-space: calc(var(--control-space-s) * 0.5);
        --box-size: var(--control-box-size-m);
      }

      &_m {
        --input-height: var(--control-height-m);
        --input-font-size: var(--control-text-size-m);
        --input-space: calc(var(--control-space-m) * 0.5);
        --box-size: var(--control-box-size-l);
      }

      &_l {
        --input-height: var(--control-height-l);
        --input-font-size: var(--control-text-size-l);
        --input-space: calc(var(--control-space-l) * 0.5);
        --box-size: var(--control-box-size-l);
      }
    }

    &_size_xs,
    &_size_s {
      padding: var(--space-2xs) 0;
    }

    &_size_m,
    &_size_l {
      padding: var(--space-xs) 0;
    }
  }

  &-ListItem {
    position: relative;
    padding-right: var(--input-space);
    padding-left: var(--input-space);
    color: var(--color-control-typo-default);
    background-color: var(--color-control-bg-clear);
    cursor: pointer;

    &_hovered {
      background-color: var(--color-control-bg-clear-hover);
    }

    &_active {
      color: var(--color-control-typo-secondary);
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 2px;
      background-color: transparent;
      transition: background-color 0.2s ease-in;
    }

    &_active::before {
      background-color: var(--color-control-bg-primary);
    }
  }

  &-List_size_xs &-ListItem,
  &-List_size_s &-ListItem,
  &-List_size_xs &-CheckItem,
  &-List_size_s &-CheckItem {
    padding-top: var(--space-2xs);
    padding-bottom: var(--space-2xs);
  }

  &-List_size_m &-ListItem,
  &-List_size_m &-CheckItem {
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
  }

  &-List_size_l &-ListItem,
  &-List_size_l &-CheckItem {
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
  }

  &-CreateOption {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-control-typo-default);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-bg-border);
    font-family: inherit;
    font-size: inherit;
    text-align: left;
  }

  &-List_size_xs &-CreateOption,
  &-List_size_s &-CreateOption {
    margin-top: calc(-1 * var(--space-2xs));
    margin-bottom: calc(-1 * var(--space-2xs));
    padding-top: var(--space-2xs);
    padding-bottom: var(--space-2xs);
  }

  &-List_size_m &-CreateOption {
    margin-top: calc(-1 * var(--space-xs));
    margin-bottom: calc(-1 * var(--space-xs));
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
  }

  &-List_size_l &-CreateOption {
    margin-top: calc(-1 * var(--space-xs));
    margin-bottom: calc(-1 * var(--space-xs));
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
  }

  &-CheckItem {
    position: relative;
    padding-right: var(--input-space);
    padding-left: calc(var(--input-space) + var(--box-size) + var(--space-xs));
    color: var(--color-control-typo-default);
    background-color: var(--color-control-bg-clear);
    cursor: pointer;

    &_hovered {
      background-color: var(--color-control-bg-clear-hover);
    }

    &_active {
      color: var(--color-control-typo-secondary);
    }

    &::before {
      content: '';
      position: absolute;
      left: var(--input-space);
      box-sizing: border-box;
      width: var(--box-size);
      height: var(--box-size);
      margin: 0;
      background: var(--color-bg-default);
      border: var(--control-border-width) solid var(--color-control-bg-border-default);
      border-radius: var(--control-radius);
      cursor: pointer;
      transition: border-color 0.15s, background-color 0.15s;
      flex-shrink: 0;
      -webkit-appearance: none;
    }

    &_active::before {
      background-color: var(--color-control-bg-primary);
      border-color: var(--color-control-bg-primary);
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      top: calc(var(--space-2xs) + var(--box-size) * 0.75);
      left: calc(var(--input-space) + var(--box-size) * 0.175);
      box-sizing: border-box;
      width: calc(var(--box-size) * 0.6);
      height: calc(var(--box-size) * 0.35);
      background-color: var(--color-control-bg-affect);
      border-left: 2px solid var(--color-control-typo-primary);
      border-bottom: 2px solid var(--color-control-typo-primary);
      opacity: 0;
      transition: opacity 0.15s, transform 0.15s, background-color 0.08s;
      transform: rotate(-50deg) scale(0, 1);
      transform-origin: 0 0;
    }

    &_active::after {
      opacity: 1;
      transform: rotate(-50deg) scale(1, 1);
    }

    &_forCreate {
      padding-left: var(--input-space);

      &::before,
      &::after {
        display: none;
      }
    }
  }

  &-List_size_xs &-CheckItem,
  &-List_size_s &-CheckItem {
    &::after {
      top: calc(var(--space-2xs) + var(--box-size) * 0.55);
    }
  }

  &-HelperInputFakeElement {
    position: absolute;
    top: 0;
    display: inline-block;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    font-size: var(--input-font-size);
    white-space: nowrap;
  }
}
