.Sidebar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;

  &_position {
    &_top {
      flex-direction: column;
    }

    &_bottom {
      flex-direction: column;
      justify-content: flex-end;
    }

    &_right {
      justify-content: flex-end;
    }
  }

  &-Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background: var(--color-bg-tone);
    border: none;
  }

  &-Window {
    z-index: 100;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-default);
    box-shadow: 0 4px 12px rgba(var(--color-nums-shadow), 0.08),
      0 9px 24px rgba(var(--color-nums-shadow), 0.16);

    &_position {
      &_right {
        min-width: 300px;
        max-width: 480px;
        height: 100vh;
        border-radius: var(--control-radius) 0 0 var(--control-radius);
      }

      &_bottom {
        width: 100vw;
        min-height: 200px;
        max-height: 380px;
        border-radius: var(--control-radius) var(--control-radius) 0 0;
      }

      &_left {
        min-width: 300px;
        max-width: 480px;
        height: 100vh;
        border-radius: 0 var(--control-radius) var(--control-radius) 0;
      }

      &_top {
        width: 100vw;
        min-height: 200px;
        max-height: 380px;
        border-radius: 0 0 var(--control-radius) var(--control-radius);
      }
    }
  }

  &-Content {
    overflow: auto;
    flex: 1;
  }

  &-Actions {
    flex-shrink: 0;
    border-top: 1px solid var(--color-bg-border);
  }

  &_animate {
    &_appear,
    &_enter,
    &_exit,
    &_appearActive,
    &_enterActive,
    &_exitActive {
      .Sidebar {
        &-Overlay {
          transition: opacity 0.2s ease;
        }

        &-Window {
          transition: transform 0.2s ease;
        }
      }
    }

    &_appear,
    &_enter {
      .Sidebar {
        &-Overlay {
          opacity: 0;
        }

        &-Window {
          &_position {
            &_right {
              transform: translateX(100%);
            }

            &_bottom {
              transform: translateY(100%);
            }

            &_left {
              transform: translateX(-100%);
            }

            &_top {
              transform: translateY(-100%);
            }
          }
        }
      }
    }

    &_appearActive,
    &_enterActive {
      .Sidebar {
        &-Overlay {
          opacity: 1;
        }

        &-Window {
          &_position {
            &_right {
              transform: translateX(0);
            }

            &_bottom {
              transform: translateY(0);
            }

            &_left {
              transform: translateX(0);
            }

            &_top {
              transform: translateY(0);
            }
          }
        }
      }
    }

    &_exit {
      .Sidebar {
        &-Overlay {
          opacity: 1;
        }

        &-Window {
          &_position {
            &_right {
              transform: translateX(0);
            }

            &_bottom {
              transform: translateY(0);
            }

            &_left {
              transform: translateX(0);
            }

            &_top {
              transform: translateY(0);
            }
          }
        }
      }
    }

    &_exitActive {
      .Sidebar {
        &-Overlay {
          opacity: 0;
        }

        &-Window {
          &_position {
            &_right {
              transform: translateX(100%);
            }

            &_bottom {
              transform: translateY(100%);
            }

            &_left {
              transform: translateX(-100%);
            }

            &_top {
              transform: translateY(-100%);
            }
          }
        }
      }
    }
  }
}
