.Sidebar {
  --width-min-horizontal: 300px;
  --width-max-horizontal: 480px;
  --height-min-vertical: 200px;
  --height-max-vertical: 380px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  overflow: hidden;

  &_position {
    &_top {
      flex-direction: column;
    }

    &_bottom {
      flex-direction: column;
      justify-content: flex-end;
    }

    &_right {
      justify-content: flex-end;
    }
  }

  &-Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background: var(--color-bg-tone);
    border: none;
  }

  &-Window {
    z-index: 100;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-default);
    box-shadow: var(--shadow-modal);

    &_position {
      &_right {
        min-width: var(--width-min-horizontal);
        max-width: var(--width-max-horizontal);
        height: 100vh;
      }

      &_bottom {
        width: 100vw;
        min-height: var(--height-min-vertical);
        max-height: var(--height-max-vertical);
      }

      &_left {
        min-width: var(--width-min-horizontal);
        max-width: var(--width-max-horizontal);
        height: 100vh;
      }

      &_top {
        width: 100vw;
        min-height: var(--height-min-vertical);
        max-height: var(--height-max-vertical);
      }
    }
  }

  &-Content {
    overflow: auto;
    flex: 1;
  }

  &-Actions {
    flex-shrink: 0;
    border-top: 1px solid var(--color-bg-border);
  }

  &_animate {
    &_appear,
    &_enter,
    &_exit,
    &_appearActive,
    &_enterActive,
    &_exitActive {
      .Sidebar {
        &-Overlay {
          transition: opacity 0.2s ease;
        }

        &-Window {
          transition: transform 0.2s ease;
        }
      }
    }

    &_appear,
    &_enter {
      .Sidebar {
        &-Overlay {
          opacity: 0;
        }

        &-Window {
          &_position {
            &_right {
              transform: translate3d(100%, 0, 0);
            }

            &_bottom {
              transform: translate3d(0, 100%, 0);
            }

            &_left {
              transform: translate3d(-100%, 0, 0);
            }

            &_top {
              transform: translate3d(0, -100%, 0);
            }
          }
        }
      }
    }

    &_appearActive,
    &_enterActive {
      .Sidebar {
        &-Overlay {
          opacity: 1;
        }

        &-Window {
          &_position {
            &_right,
            &_bottom,
            &_left,
            &_top {
              transform: translate3d(0, 0, 0);
            }
          }
        }
      }
    }

    &_exit {
      .Sidebar {
        &-Overlay {
          opacity: 1;
        }

        &-Window {
          &_position {
            &_right,
            &_bottom,
            &_left,
            &_top {
              transform: translate3d(0, 0, 0);
            }
          }
        }
      }
    }

    &_exitActive {
      .Sidebar {
        &-Overlay {
          opacity: 0;
        }

        &-Window {
          &_position {
            &_right {
              transform: translate3d(100%, 0, 0);
            }

            &_bottom {
              transform: translate3d(0, 100%, 0);
            }

            &_left {
              transform: translate3d(-100%, 0, 0);
            }

            &_top {
              transform: translate3d(0, -100%, 0);
            }
          }
        }
      }
    }
  }
}
