.Sidebar {
  --sidebar-size-s: 260px;
  --sidebar-size-m: 320px;
  --sidebar-size-l: 480px;
  --sidebar-size-1-of-4: calc(1 / 4 * 100);
  --sidebar-size-3-of-4: calc(3 / 4 * 100);
  --sidebar-size-1-of-2: calc(1 / 2 * 100);
  --sidebar-size-1-of-3: calc(1 / 3 * 100);
  --sidebar-size-2-of-3: calc(2 / 3 * 100);
  --sidebar-size-full: 100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  overflow: hidden;

  &_position {
    &_top {
      flex-direction: column;
    }

    &_bottom {
      flex-direction: column;
      justify-content: flex-end;
    }

    &_right {
      justify-content: flex-end;
    }
  }

  &-Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background: var(--color-bg-tone);
    border: none;
  }

  &-Window {
    z-index: 100;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-default);
    box-shadow: var(--shadow-modal);

    &_position {
      &_right,
      &_left {
        width: var(--sidebar-width);
        height: 100vh;

        &.Sidebar-Window_size {
          &_s {
            --sidebar-width: var(--sidebar-size-s);
          }

          &_m {
            --sidebar-width: var(--sidebar-size-m);
          }

          &_l {
            --sidebar-width: var(--sidebar-size-l);
          }

          &_full {
            --sidebar-width: calc(var(--sidebar-size-full) * 1vw);
          }

          &_1\/4 {
            --sidebar-width: calc(var(--sidebar-size-1-of-4) * 1vw);
          }

          &_3\/4 {
            --sidebar-width: calc(var(--sidebar-size-3-of-4) * 1vw);
          }

          &_1\/2 {
            --sidebar-width: calc(var(--sidebar-size-1-of-2) * 1vw);
          }

          &_1\/3 {
            --sidebar-width: calc(var(--sidebar-size-1-of-3) * 1vw);
          }

          &_2\/3 {
            --sidebar-width: calc(var(--sidebar-size-2-of-3) * 1vw);
          }
        }
      }

      &_bottom,
      &_top {
        width: 100vw;
        height: var(--sidebar-height);

        &.Sidebar-Window_size {
          &_s {
            --sidebar-height: var(--sidebar-size-s);
          }

          &_m {
            --sidebar-height: var(--sidebar-size-m);
          }

          &_l {
            --sidebar-height: var(--sidebar-size-l);
          }

          &_full {
            --sidebar-height: calc(var(--sidebar-size-full) * 1vh);
          }

          &_1\/4 {
            --sidebar-height: calc(var(--sidebar-size-1-of-4) * 1vh);
          }

          &_3\/4 {
            --sidebar-height: calc(var(--sidebar-size-3-of-4) * 1vh);
          }

          &_1\/2 {
            --sidebar-height: calc(var(--sidebar-size-1-of-2) * 1vh);
          }

          &_1\/3 {
            --sidebar-height: calc(var(--sidebar-size-1-of-3) * 1vh);
          }

          &_2\/3 {
            --sidebar-height: calc(var(--sidebar-size-2-of-3) * 1vh);
          }
        }
      }
    }
  }

  &-Content {
    overflow: auto;
    flex: 1;
  }

  &-Actions {
    flex-shrink: 0;
    border-top: 1px solid var(--color-bg-border);
  }

  &_animate {
    &_appear,
    &_enter,
    &_exit,
    &_appearActive,
    &_enterActive,
    &_exitActive {
      .Sidebar {
        &-Overlay {
          transition: opacity 0.2s ease;
        }

        &-Window {
          transition: transform 0.2s ease;
        }
      }
    }

    &_appear,
    &_enter {
      .Sidebar {
        &-Overlay {
          opacity: 0;
        }

        &-Window {
          &_position {
            &_right {
              transform: translate3d(100%, 0, 0);
            }

            &_bottom {
              transform: translate3d(0, 100%, 0);
            }

            &_left {
              transform: translate3d(-100%, 0, 0);
            }

            &_top {
              transform: translate3d(0, -100%, 0);
            }
          }
        }
      }
    }

    &_appearActive,
    &_enterActive {
      .Sidebar {
        &-Overlay {
          opacity: 1;
        }

        &-Window {
          &_position {
            &_right,
            &_bottom,
            &_left,
            &_top {
              transform: translate3d(0, 0, 0);
            }
          }
        }
      }
    }

    &_exit {
      .Sidebar {
        &-Overlay {
          opacity: 1;
        }

        &-Window {
          &_position {
            &_right,
            &_bottom,
            &_left,
            &_top {
              transform: translate3d(0, 0, 0);
            }
          }
        }
      }
    }

    &_exitActive {
      .Sidebar {
        &-Overlay {
          opacity: 0;
        }

        &-Window {
          &_position {
            &_right {
              transform: translate3d(100%, 0, 0);
            }

            &_bottom {
              transform: translate3d(0, 100%, 0);
            }

            &_left {
              transform: translate3d(-100%, 0, 0);
            }

            &_top {
              transform: translate3d(0, -100%, 0);
            }
          }
        }
      }
    }
  }
}
