import React from 'react';
import { components } from '##/containers/MDXProvider';
#imports#
const Component: React.FC = () => {
  return <Docs components={components} />;
};

export default Component;
