.stand--LibPage {
  &-Title {
    margin-bottom: 0.4em;
  }

  &-Wrapper {
    width: 100%;

    & > *:not(:last-child) {
      margin-bottom: var(--space-m);
    }
  }

  &-Section {
    --gap: var(--space-l);
    display: grid;
    width: 100%;
    grid-column-gap: var(--gap);
    grid-template-columns: 1fr;

    @media screen and (min-width: 460px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: 720px) {
      --gap: var(--space-2xl);
    }
    @media screen and (min-width: 860px) {
      --gap: var(--space-3xl);
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media screen and (min-width: 1280px) {
      --gap: var(--space-4xl);
    }
  }
}
