.canary--Spoiler {
  width: 100%;

  &-Wrapper {
    --spoiler-content-max-heigt: max-content;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: var(--spoiler-content-max-heigt);

    &_mode {
      &_blur {
        &:not(.canary--Spoiler-Wrapper_open) {
          --spoiler-content-max-heigt: var(--spoiler-content-height);

          &::after {
            content: '';
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            height: min(100%, var(--space-6xl));
            background:
              linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0) 0%,
                var(--color-bg-default) 100%
              );
            pointer-events: none;
          }
        }
      }
    }
  }
}
