.TagBase.FieldArrayValueItem {
  overflow: hidden;
  flex: none;
  max-width:
    calc(
      var(--field-control-layout-children-width) - var(--space-2xs)
    );

  & .TagBase-Label {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &_disabled {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
