.TagBase.FieldArrayValueItem {
  flex: none;
  max-width: calc(
    var(--field-control-layout-children-width) - var(--space-2xs)
  );
  overflow: hidden;

  & .TagBase-Label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
  }

  &_disabled {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }
}
