.ListLoader {
  box-sizing: border-box;
  height: var(--loader-height);
  cursor: wait;

  &-Container {
    display: inline-flex;
    align-items: center;
    width: calc(var(--space-l) + var(--space-xs));
    height: 100%;
  }

  &_size {
    &_xs {
      --loader-height: calc(var(--space-l) / 2 + var(--size-text-xs));
    }

    &_s {
      --loader-height: calc(5 * var(--space-l) / 4);
    }

    &_m {
      --loader-height: calc(7 * var(--space-l) / 4);
    }

    &_l {
      --loader-height: calc(var(--space-l) + var(--size-text-l));
    }
  }

  &-Loader.Loader {
    --backgroundColor: var(--color-control-typo-disable);
  }
}
