.TextField {
  --input-side-text-color: var(--color-control-typo-placeholder);
  --input-side-icon-color: var(--color-control-typo-placeholder);
  --input-bg-color: var(--color-control-bg-default);
  --input-border: none;
  --input-border-color: var(--color-control-bg-border-default);
  --input-placeholder-color: var(--color-control-typo-placeholder);
  --input-text-color: var(--color-control-typo-default);
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  max-width: 100%;
  min-height: var(--input-height);
  color: var(--input-text-color);
  background: var(--input-bg-color);
  border: var(--input-border);
  font-family: var(--font-primary);
  font-weight: normal;
  transition: border-color 0.15s, box-shadow 0.15s, background-color 0.15s;

  &_size {
    &_xs {
      --input-height: var(--control-height-xs);
      --input-font-size: var(--control-text-size-xs);
      --input-space: calc(var(--control-space-xs) * 0.5);
    }

    &_s {
      --input-height: var(--control-height-s);
      --input-font-size: var(--control-text-size-s);
      --input-space: calc(var(--control-space-s) * 0.5);
    }

    &_m {
      --input-height: var(--control-height-m);
      --input-font-size: var(--control-text-size-m);
      --input-space: calc(var(--control-space-m) * 0.5);
    }

    &_l {
      --input-height: var(--control-height-l);
      --input-font-size: var(--control-text-size-l);
      --input-space: calc(var(--control-space-l) * 0.5);
    }
  }

  &_state {
    &_alert {
      --input-border-color: var(--color-bg-alert);
    }

    &_success {
      --input-border-color: var(--color-bg-success);
    }

    &_warning {
      --input-border-color: var(--color-bg-warning);
    }
  }

  &_width {
    &_full {
      width: 100%;
    }
  }

  &_view {
    &_clear,
    &_clear:hover,
    &_clear:focus {
      padding: 0;
    }

    &_default {
      --input-border: var(--control-border-width) solid var(--input-border-color);
      padding: 0 var(--input-space);
      border-radius: var(--control-radius);

      &:hover {
        --input-border-color: var(--color-control-bg-border-default-hover);
      }
    }
  }

  &_form {
    &_defaultClear {
      border-right-width: 0;
      border-radius: var(--control-radius) 0 0 var(--control-radius);
    }

    &_defaultBrick {
      border-radius: var(--control-radius) 0 0 var(--control-radius);
    }

    &_round {
      padding-right: calc(var(--input-space) * 1.6);
      padding-left: calc(var(--input-space) * 1.6);
      border-radius: calc(var(--input-height) / 2);
    }

    &_roundBrick {
      padding-left: calc(var(--input-space) * 1.6);
      border-radius: calc(var(--input-height) / 2) 0 0 calc(var(--input-height) / 2);
    }

    &_roundClear {
      padding-left: calc(var(--input-space) * 1.6);
      border-right-width: 0;
      border-radius: calc(var(--input-height) / 2) 0 0 calc(var(--input-height) / 2);
    }

    &_brick {
      border-radius: 0;
    }

    &_brickDefault {
      border-radius: 0 var(--control-radius) var(--control-radius) 0;
    }

    &_brickRound {
      padding-right: calc(var(--input-space) * 1.6);
      border-radius: 0 calc(var(--input-height) / 2) calc(var(--input-height) / 2) 0;
    }

    &_brickClear {
      border-right-width: 0;
      border-radius: 0;
    }

    &_clearDefault {
      border-left-width: 0;
      border-radius: 0 var(--control-radius) var(--control-radius) 0;
    }

    &_clearBrick {
      border-left-width: 0;
      border-radius: 0;
    }

    &_clearRound {
      padding-right: calc(var(--input-space) * 1.6);
      border-left-width: 0;
      border-radius: 0 calc(var(--input-height) / 2) calc(var(--input-height) / 2) 0;
    }

    &_clearClear {
      border-width: 0;
      border-top-width: var(--control-border-width);
      border-bottom-width: var(--control-border-width);
      border-radius: 0;
    }
  }

  &_focus {
    &.TextField_view_default {
      z-index: 1;
      border-color: var(--color-control-bg-border-focus);
      outline: none;
    }

    &.TextField_form_clearClear {
      box-shadow: var(--control-border-width) 0 var(--color-control-bg-border-focus),
        calc(-1 * var(--control-border-width)) 0 var(--color-control-bg-border-focus);
    }

    &.TextField_form_defaultClear,
    &.TextField_form_brickClear,
    &.TextField_form_roundClear {
      box-shadow: var(--control-border-width) 0 var(--color-control-bg-border-focus);
    }

    &.TextField_form_clearDefault,
    &.TextField_form_clearBrick,
    &.TextField_form_clearRound {
      box-shadow: calc(-1 * var(--control-border-width)) 0 var(--color-control-bg-border-focus);
    }
  }

  &_withValue {
    --input-side-text-color: var(--color-control-typo-default);
    --input-side-icon-color: var(--color-typo-secondary);
  }

  &_disabled {
    --input-text-color: var(--color-control-typo-disable);
    --input-placeholder-color: var(--color-control-typo-disable);
    --input-border-color: var(--color-control-bg-border-disable);
    --input-bg-color: var(--color-control-bg-disable);
    --input-side-text-color: var(--color-control-typo-disable);
    --input-side-icon-color: var(--color-control-typo-disable);
    pointer-events: none;
  }

  &-Input {
    flex: 1;
    width: 100%;
    min-width: 80px;
    height: calc(var(--input-height) - (var(--control-border-width) * 2));
    padding: 0;
    color: currentColor;
    background: transparent;
    border: none;
    outline: none;
    font-family: var(--font-primary);
    font-size: var(--input-font-size);

    &:focus {
      outline: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      border: none;
      -webkit-box-shadow: 0 0 0 1000px transparent inset;
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: var(--input-text-color);
    }

    &::placeholder {
      color: var(--input-placeholder-color);
    }

    &_type {
      &_textarea {
        resize: none;
        display: block;
        min-width: 0;
        padding-top: calc(
          (var(--input-height) - (var(--control-border-width) * 2) - var(--line-height-text-m)) / 2
        );
        padding-bottom: calc(
          (var(--input-height) - (var(--control-border-width) * 2) - var(--line-height-text-m)) / 2
        );
        line-height: var(--line-height-text-m);
      }
    }
  }

  &-Side {
    display: flex;
    overflow: hidden;
    align-items: center;
    height: calc(var(--input-height) - (var(--control-border-width) * 2));

    &_position {
      &_left {
        margin-right: var(--input-space);
      }

      &_right {
        margin-left: var(--input-space);
      }
    }

    &_type {
      &_string {
        color: var(--input-side-text-color);
        font-size: var(--input-font-size);
        white-space: nowrap;
      }
    }
  }

  &-Icon {
    color: var(--input-side-icon-color);
  }
}
