.TextField {
  position: relative;
  display: inline-flex;
  min-height: var(--input-height);
  box-sizing: border-box;
  font-family: var(--font-primary);
  font-weight: normal;
  transition: border-color 0.15s, box-shadow 0.15s, background-color 0.15s;

  &_width_full {
    width: 100%;
  }

  /* stylelint-disable  no-descending-specificity  */
  &-Input {
    height: calc(var(--input-height) - (var(--control-border-width) * 2));
    font-size: var(--input-font-size);
    font-family: var(--font-primary);
    padding: 0;
    border: none;
    outline: none;
    color: currentColor;
    background: transparent;
    width: 100%;
    &:focus {
      outline: none;
    }
  }

  &-Side {
    display: flex;
    align-items: center;
    height: calc(var(--input-height) - (var(--control-border-width) * 2));
    &_position {
      &_left {
        padding-right: var(--input-space);
      }
      &_right {
        padding-left: var(--input-space);
      }
    }
    &_type {
      &_string {
        font-size: var(--input-font-size);
        white-space: nowrap;
      }
    }
  }

  &-Icon {
    fill: var(--color-control-typo-placeholder);
  }

  &_size {
    &_xs {
      --input-height: var(--control-height-xs);
      --input-font-size: var(--control-text-size-xs);
      --input-space: calc(var(--control-space-xs) * 0.5);
    }

    &_s {
      --input-height: var(--control-height-s);
      --input-font-size: var(--control-text-size-s);
      --input-space: calc(var(--control-space-s) * 0.5);
    }

    &_m {
      --input-height: var(--control-height-m);
      --input-font-size: var(--control-text-size-m);
      --input-space: calc(var(--control-space-m) * 0.5);
    }

    &_l {
      --input-height: var(--control-height-l);
      --input-font-size: var(--control-text-size-l);
      --input-space: calc(var(--control-space-l) * 0.5);
    }
  }

  &_view_clear,
  &_view_clear:hover,
  &_view_clear:focus {
    padding: 0;
    color: var(--color-control-typo-default);

    &.TextField_disabled {
      pointer-events: none;

      & .TextField-Input {
        color: var(--color-control-typo-disable);
      }
      & .TextField-Input::placeholder {
        color: var(--color-control-typo-disable);
      }
      & .TextField-Side_type_string,
      &.TextField_withValue .TextField-Side_type_string {
        color: var(--color-control-typo-disable);
      }
      &.TextField .TextField-Icon,
      &.TextField_withValue .TextField-Icon {
        fill: var(--color-control-typo-disable);
      }
    }
  }

  &_view_default {
    padding: 0 var(--input-space);
    border: var(--control-border-width) solid var(--color-control-bg-border-default);
    border-radius: var(--control-radius);
    background: var(--color-control-bg-default);
    color: var(--color-control-typo-default);

    &:hover {
      border-color: var(--color-control-bg-border-default-hover);
    }

    &.TextField_state {
      &_alert {
        border-color: var(--color-bg-alert);
      }
      &_success {
        border-color: var(--color-bg-success);
      }
      &_warning {
        border-color: var(--color-bg-warning);
      }
    }
    & .TextField-Input {
      color: var(--color-control-typo-default);
      &::placeholder {
        color: var(--color-control-typo-placeholder);
      }
    }

    & .TextField-Side {
      &_type_string {
        color: var(--color-control-typo-placeholder);
      }
    }

    &.TextField_focus {
      border-color: var(--color-control-bg-border-focus);
      outline: none;
      z-index: 1;

      &.TextField_form_clear,
      &.TextField_form_clearClear {
        box-shadow: var(--control-border-width) 0 var(--color-control-bg-border-focus),
          calc(-1 * var(--control-border-width)) 0 var(--color-control-bg-border-focus);
      }

      &.TextField_form_defaultClear,
      &.TextField_form_brickClear,
      &.TextField_form_roundClear {
        box-shadow: var(--control-border-width) 0 var(--color-control-bg-border-focus);
      }

      &.TextField_form_clearDefault,
      &.TextField_form_clearBrick,
      &.TextField_form_clearRound {
        box-shadow: calc(-1 * var(--control-border-width)) 0 var(--color-control-bg-border-focus);
      }
    }

    &.TextField_disabled {
      border-color: var(--color-control-bg-border-disable);
      background: var(--color-control-bg-disable);
      pointer-events: none;

      & .TextField-Input {
        color: var(--color-control-typo-disable);
      }
      & .TextField-Input::placeholder {
        color: var(--color-control-typo-disable);
      }
      & .TextField-Side_type_string,
      &.TextField_withValue .TextField-Side_type_string {
        color: var(--color-control-typo-disable);
      }
      &.TextField .TextField-Icon,
      &.TextField_withValue .TextField-Icon {
        fill: var(--color-control-typo-disable);
      }
    }
  }

  &_form {
    &_round {
      border-radius: calc(var(--input-height) / 2);
      padding-left: calc(var(--input-space) * 1.6);
      padding-right: calc(var(--input-space) * 1.6);
    }

    &_brick {
      border-radius: 0;
    }

    &_clear {
      border-radius: 0;
      border-width: 0;
      border-bottom-width: var(--control-border-width);
    }

    &_defaultClear {
      border-radius: var(--control-radius) 0 0 var(--control-radius);
      border-right-width: 0;
    }

    &_clearDefault {
      border-radius: 0 var(--control-radius) var(--control-radius) 0;
      border-left-width: 0;
    }

    &_defaultBrick {
      border-radius: var(--control-radius) 0 0 var(--control-radius);
    }

    &_brickDefault {
      border-radius: 0 var(--control-radius) var(--control-radius) 0;
    }

    &_roundBrick {
      border-radius: calc(var(--input-height) / 2) 0 0 calc(var(--input-height) / 2);
      padding-left: calc(var(--input-space) * 1.6);
    }

    &_brickRound {
      border-radius: 0 calc(var(--input-height) / 2) 99rem calc(var(--input-height) / 2);
      padding-right: calc(var(--input-space) * 1.6);
    }

    &_brickClear {
      border-radius: 0;
      border-right-width: 0;
    }

    &_clearBrick {
      border-radius: 0;
      border-left-width: 0;
    }

    &_clearRound {
      border-radius: 0 calc(var(--input-height) / 2) calc(var(--input-height) / 2) 0;
      border-left-width: 0;
      padding-right: calc(var(--input-space) * 1.6);
    }

    &_roundClear {
      border-radius: calc(var(--input-height) / 2) 0 0 calc(var(--input-height) / 2);
      border-right-width: 0;
      padding-left: calc(var(--input-space) * 1.6);
    }

    &_clearClear {
      border-radius: 0;
      border-width: 0;
      border-top-width: var(--control-border-width);
      border-bottom-width: var(--control-border-width);
    }
  }

  &_withValue {
    & .TextField-Side.TextField-Side_type_string {
      color: var(--color-control-typo-default);
    }
    & .TextField-Icon {
      fill: var(--color-typo-secondary);
    }
  }

  &_type_textarea {
    & .TextField-Input {
      padding-bottom: calc(
        (var(--input-height) - (var(--control-border-width) * 2) - var(--line-height-text-m)) / 2
      );
      padding-top: calc(
        (var(--input-height) - (var(--control-border-width) * 2) - var(--line-height-text-m)) / 2
      );
      line-height: var(--line-height-text-m);
      resize: none;
      display: block;
    }
  }

  /* stylelint-enable  no-descending-specificity  */
}
