.TagBase {
  --tag-base-typo-color: var(--color-control-typo-ghost);
  --tag-base-half-space: calc(var(--tag-base-spaсe) / 2);
  position: relative;
  display: inline-flex;
  overflow: hidden;
  height: var(--tag-base-height);
  padding-top: 0;
  padding-right: var(--tag-base-spaсe);
  padding-left: var(--tag-base-spaсe);
  padding-bottom: 0;
  color: var(--tag-base-typo-color);
  background: var(--tag-base-bg-color);
  border: none;
  border-radius: var(--control-radius);
  box-shadow: inset 0 0 0 1px var(--tag-base-border-color);
  font-family: var(--font--primary);
  font-size: var(--tag-base-font-size);
  line-height: var(--tag-base-height);
  text-decoration: none;
  transition: box-shadow 0.15s ease, background 0.15s ease, color 0.15s ease;

  &:focus,
  &:focus:hover {
    outline: none;
  }

  &_view {
    &_stroked {
      --tag-base-border-color: var(--color-control-bg-border-default);
      --tag-base-bg-color: var(--color-bg-default);
    }

    &_filled {
      --tag-base-border-color: transparent;
      --tag-base-bg-color: var(--color-control-bg-ghost);
    }
  }

  &_withAction {
    cursor: pointer;
  }

  &_withAction&_view {
    &_stroked {
      &:hover {
        --tag-base-border-color: var(--color-control-bg-border-default-hover);
      }
    }

    &_filled {
      &:hover {
        --tag-base-bg-color: var(--color-control-bg-ghost-hover);
        --tag-base-border-color: transparent;
      }
    }
  }

  &_size {
    &_xs {
      --tag-base-height: var(--space-l);
      --tag-base-spaсe: var(--space-2xs);
      --tag-base-font-size: var(--size-text-2xs);
    }

    &_s {
      --tag-base-height: var(--space-xl);
      --tag-base-spaсe: var(--space-xs);
      --tag-base-font-size: var(--size-text-xs);
    }

    &_m {
      --tag-base-height: calc(var(--space-2xl) - var(--space-2xs));
      --tag-base-spaсe: var(--space-xs);
      --tag-base-font-size: var(--size-text-s);
    }

    &_l {
      --tag-base-height: var(--space-2xl);
      --tag-base-spaсe: var(--space-s);
      --tag-base-font-size: var(--size-text-m);
    }
  }

  &_withCancel {
    padding-right: 0;
  }

  &_withIcon {
    padding-left: 0;
  }

  &[class*='TagBase_group'] {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background: var(--tag-base-group-color);
    }
  }

  &_group {
    &_1 {
      --tag-base-group-color: #e92064;
    }

    &_2 {
      --tag-base-group-color: #b92eff;
    }

    &_3 {
      --tag-base-group-color: #1160ff;
    }

    &_4 {
      --tag-base-group-color: #0fafff;
    }

    &_5 {
      --tag-base-group-color: #02e2ff;
    }

    &_6 {
      --tag-base-group-color: #0c6;
    }

    &_7 {
      --tag-base-group-color: #b4d50b;
    }

    &_8 {
      --tag-base-group-color: #f5b800;
    }

    &_9 {
      --tag-base-group-color: #f56600;
    }
  }

  &-CancelButton {
    display: inline-flex;
    align-items: center;
    height: var(--tag-base-height);
    padding: 0 var(--tag-base-half-space) 0 var(--tag-base-half-space);
    color: var(--color-control-typo-ghost);
    background: transparent;
    border: none;
    outline: none;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.15s ease;

    &:hover {
      background: transparent;
      outline: none;
      opacity: 1;
    }
  }

  &-Label {
    height: var(--tag-base-height);
    line-height: var(--tag-base-height);
  }

  &-IconWrapper {
    display: inline-flex;
    align-items: center;
    height: var(--tag-base-height);
    padding: 0 var(--tag-base-half-space) 0 var(--tag-base-half-space);
  }
}
