.MixScrollBarExample {
  overflow: auto;
  width: 200px;
  height: 200px;
  border: 1px solid var(--color-bg-border);

  &-Block {
    width: 100%;
    height: 800px;
    background: var(--color-bg-brand);
  }
}
