.select-option {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--space-xs) var(--space-s);
  box-sizing: border-box;
  color: var(--color-control-typo-default);
  font-size: var(--size-text-m);
  line-height: var(--line-height-text-s);
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: color 0.2s;
  overflow: hidden;
  cursor: pointer;

  &_selected {
    background-color: var(--color-control-bg-default-hover);
  }

  &_focused {
    color: var(--color-control-bg-checked-hover);
  }

  &_empty {
    text-align: center;
    color: hsl(0, 0%, 60%);
    pointer-events: none;
  }

  &_new:not(:only-child)::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: var(--space-s);
    width: calc(100% - (var(--space-s) * 2));
    height: 1px;
    background-color: var(--color-control-bg-border-default);
  }

  &_isSubOption {
    padding-left: calc(var(--space-s) + var(--space-xs));
  }

  &__check {
    height: 18px;
    pointer-events: none;
  }

  &_focused &__check {
    .checkbox__box {
      border-color: var(--color-control-bg-border-default-hover);
    }
    .checkbox__input:checked + .checkbox__box {
      border-color: var(--color-control-bg-border-checked-hover);
      background-color: var(--color-control-bg-checked-hover);
    }
  }

  &__label {
    flex: 1;
    pointer-events: none;
  }

  &__suggestion {
    color: var(--color-control-bg-default);
  }

  &__new-label {
    display: block;
  }

  &__icon {
    position: relative;
    top: 2px;
    margin-right: 8px;
  }

  &__new-value {
    font-weight: 600;
  }

  &_size_xs {
    font-size: var(--control-text-size-xs);
    line-height: var(--line-height-text-xs);
  }

  &_size_s {
    font-size: var(--control-text-size-s);
    line-height: var(--line-height-text-s);
  }

  &_size_m {
    font-size: var(--control-text-size-m);
    line-height: var(--line-height-text-m);
  }

  &_size_l {
    font-size: var(--control-text-size-l);
    line-height: var(--line-height-text-l);
  }

  &_indent {
    &_0 {
      padding-left: var(--space-xs);
    }
    &_1 {
      padding-left: calc(var(--space-xs) + var(--space-xl));
    }
    &_2 {
      padding-left: calc(var(--space-xs) + var(--space-xl) * 2);
    }
    &_3 {
      padding-left: calc(var(--space-xs) + var(--space-xl) * 3);
    }
  }
}
