.select-option {
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--space-xs) var(--space-s);
  width: 100%;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: var(--color-control-typo-default);
  transition: color 0.2s;
  overflow: hidden;
  cursor: pointer;

  &_size_xs {
    font-size: var(--control-text-size-xs);
    line-height: var(--line-height-typo-xs);
  }

  &_size_s {
    font-size: var(--control-text-size-s);
    line-height: var(--line-height-typo-s);
  }

  &_size_m {
    font-size: var(--control-text-size-m);
    line-height: var(--line-height-typo-m);
  }

  &_size_l {
    font-size: var(--control-text-size-l);
    line-height: var(--line-height-typo-l);
  }

  &_selected {
    background-color: var(--color-control-bg-default-hover);
  }

  &_focused {
    color: var(--color-control-bg-checked-hover);
  }

  &_empty {
    pointer-events: none;
    text-align: center;
    color: hsl(0, 0%, 60%);
  }

  &_isSubOption {
    padding-left: calc(var(--space-s) + var(--space-xs));
  }

  &__check {
    height: 18px;
    pointer-events: none;
  }

  &__label {
    flex: 1;
    pointer-events: none;
  }

  &__suggestion {
    color: var(--color-control-bg-default);
  }

  &__new-label {
    display: block;
    font-size: 15px;
    line-height: 21px;
  }

  &__icon {
    position: relative;
    top: 2px;
    margin-right: 8px;
  }

  &__new-value {
    font-weight: 600;
  }
}
