.TextFieldTypeNumber {
  &-Input {
    width: 100%;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      display: none;
    }
  }
}

.TextFieldTypeNumber_incrementButtons.FieldControlLayout_view_default {
  &:not(.FieldControlLayout_form_brickRound, .FieldControlLayout_form_clearRound, .FieldControlLayout_form_round) {
    padding-right: 0;
  }
}
