.Avatar {
  --avatar-color: transparent;
  --avatar-color-0: #f9a825;
  --avatar-color-1: #f56b00;
  --avatar-color-2: #c62828;
  --avatar-color-3: #c2185b;
  --avatar-color-4: #e92064;
  --avatar-color-5: #911fa2;
  --avatar-color-6: #9010d1;
  --avatar-color-7: #7448dd;
  --avatar-color-8: #3e3acb;
  --avatar-color-9: #2044d5;
  --avatar-color-10: #016bdc;
  --avatar-color-11: #2196f3;
  --avatar-color-12: #00bcd4;
  --avatar-color-13: #0088a3;
  --avatar-color-14: #008f7c;
  --avatar-color-15: #00a352;
  --avatar-color-16: #1abc1a;
  --avatar-color-17: #6fb80a;

  /* последний цвет должен быть для модификации _monochrome */
  --avatar-color-18: #70788b;
  overflow: hidden;
  width: var(--avatar-size);
  height: var(--avatar-size);
  color: #fff;
  background:
    linear-gradient(rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0)),
    linear-gradient(var(--avatar-color), var(--avatar-color));
  font-size: var(--avatar-font-size);
  font-weight: var(--font-weight-text-semibold);
  line-height: var(--avatar-size);
  text-align: center;
  filter: grayscale(0%);

  &_size {
    &_xs {
      --avatar-size: var(--space-l);
      --avatar-font-size: calc(var(--size-text-xs) / 2);
    }

    &_s {
      --avatar-size: var(--space-xl);
      --avatar-font-size: calc(var(--size-text-m) / 2);
    }

    &_m {
      --avatar-size: var(--space-2xl);
      --avatar-font-size: var(--size-text-2xs);
    }

    &_l {
      --avatar-size: var(--space-3xl);
      --avatar-font-size: var(--size-text-s);
    }
  }

  &_form {
    &_round {
      border-radius: 50%;
    }

    &_brick {
      border-radius: 0;
    }

    &_default {
      border-radius: var(--control-radius);
    }
  }

  &_monochrome {
    filter: grayscale(100%);
  }

  &-Image {
    width: 100%;
    height: 100%;
  }
}
