.Avatar {
  --avatar-color: transparent;
  --avatar-color-0: #f9a825;
  --avatar-color-1: #f56b00;
  --avatar-color-2: #c62828;
  --avatar-color-3: #c2185b;
  --avatar-color-4: #e92064;
  --avatar-color-5: #911fa2;
  --avatar-color-6: #9010d1;
  --avatar-color-7: #7448dd;
  --avatar-color-8: #3e3acb;
  --avatar-color-9: #2044d5;
  --avatar-color-10: #016bdc;
  --avatar-color-11: #2196f3;
  --avatar-color-12: #00bcd4;
  --avatar-color-13: #0088a3;
  --avatar-color-14: #008f7c;
  --avatar-color-15: #00a352;
  --avatar-color-16: #1abc1a;
  --avatar-color-17: #6fb80a;
  overflow: hidden;
  color: #fff;
  background: linear-gradient(rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0)),
    linear-gradient(var(--avatar-color), var(--avatar-color));
  font-weight: var(--font-weight-text-semibold);
  text-align: center;
  letter-spacing: 0.1em;

  &_size {
    &_xs {
      width: 20px;
      height: 20px;
      font-size: 6px;
      line-height: 20px;
    }

    &_s {
      width: 24px;
      height: 24px;
      font-size: 8px;
      line-height: 24px;
    }

    &_m {
      width: 32px;
      height: 32px;
      font-size: 10px;
      line-height: 32px;
    }
  }

  &_form {
    &_round {
      border-radius: 50%;
    }

    &_brick {
      border-radius: 0;
    }

    &_default {
      border-radius: var(--control-radius);
    }
  }

  &-Image {
    width: 100%;
    height: 100%;
  }
}
