.Breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--color-typo-secondary);
  flex-wrap: wrap;

  &_size {
    &_xs {
      font-size: var(--control-text-size-xs);

      .Breadcrumbs-Delimiter {
        margin: 0 var(--space-xs);
      }
    }

    &_s {
      font-size: var(--control-text-size-s);
    }

    &_m {
      font-size: var(--control-text-size-m);
    }

    &_l {
      font-size: var(--control-text-size-l);

      .Breadcrumbs-Delimiter {
        margin: 0 var(--space-m);
      }
    }
  }

  &-Item {
    display: flex;
    align-items: center;
  }

  &-Link {
    display: flex;
    align-items: center;
    color: var(--color-typo-secondary);
    text-decoration: none;
    transition: color 0.2s;

    &_active {
      color: var(--color-typo-link);
      pointer-events: none;
    }

    &:hover {
      color: var(--color-typo-link-hover);
    }
  }

  &-Icon {
    margin-right: var(--space-xs);
  }

  &-Delimiter {
    margin: 0 var(--space-s);
    color: var(--color-typo-ghost);
  }

  &-More {
    color: var(--color-control-typo-clear);
  }
}
