.Tooltip {
  --tooltip-bg-color: var(--color-bg-default);
  --popover-arrow-bg-color: var(--tooltip-bg-color);

  &_status {
    &_alert {
      --tooltip-bg-color: var(--color-bg-alert);
    }

    &_warning {
      --tooltip-bg-color: var(--color-bg-warning);
    }

    &_success {
      --tooltip-bg-color: var(--color-bg-success);
    }

    &_normal {
      --tooltip-bg-color: var(--color-bg-normal);
    }
  }

  &[class*='status'] {
    & .Tooltip-Content {
      text-shadow: var(--shadow-group);
    }
  }

  /* Фон отдельным элементом, чтобы можно было добавить ему opacity */
  &-Background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--tooltip-bg-color);
    border-radius: var(--control-radius);
    box-shadow: var(--shadow-layer);
  }

  &-Content {
    position: relative; /* чтобы отображаться над фоном */
    box-sizing: border-box;
    width: 100%;
    padding: var(--space-xs);

    &_size_s {
      max-width: 150px;
    }

    &_size_m {
      max-width: 260px;
    }

    &_size_l {
      max-width: 400px;
    }
  }
}
