.SnackBar {
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
  width: 100%;
  max-width: calc(400px + var(--space-xs) * 2);
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);

  &-Item {
    &:not(:first-child) {
      margin-bottom: var(--space-s);
    }

    &_animate {
      &_entered,
      &_entering,
      &_exiting,
      &_exited {
        transition: transform 0.2s, opacity 0.2s;
      }

      &_entering {
        opacity: 0;
        transform: scale(0.5);
      }

      &_entered {
        opacity: 1;
        transform: scale(1);
      }

      &_exiting,
      &_exited {
        opacity: 0;
        transform: scale(0.5);
      }
    }
  }
}
