.snackbar {
  position: fixed;
  bottom: var(--space-l, 20px);
  left: 50%;
  box-sizing: border-box;
  max-width: 400px;
  width: 100%;
  font-size: 14px;
  color: black;
  overflow: hidden;
  z-index: 1000;
  transform: translateX(-50%);

  &__item {
    height: 0;
    overflow: hidden;
    transition: transform 300ms ease, opacity 300ms ease, height 300ms ease;

    &_animation_entering {
      transform: translateY(100%);
    }

    &_animation_exiting {
      opacity: 0;
      transform: scale(0.8);
    }
  }
}
