.snackbar {
  position: fixed;
  max-width: 400px;
  width: 100%;
  transform: translateX(-50%);
  bottom: var(--space-l, 20px);
  left: 50%;
  font-size: 14px;
  color: black;
  box-sizing: border-box;
  overflow: hidden;

  &__item {
    overflow: hidden;
    height: 0;
    transition: transform 300ms ease, opacity 300ms ease, height 300ms ease;

    &_animation_entering {
      transform: translate3d(0, 110%, 0);
    }

    &_animation_exiting {
      transform: scale(0.8);
      opacity: 0;
    }
  }
}
