.snackbar {
  position: fixed;
  bottom: var(--space-l, 20px);
  left: 50%;
  box-sizing: border-box;
  max-width: 400px;
  width: 100%;
  z-index: 1000;
  transform: translateX(-50%);

  &__item {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
