.FileFieldStories--ExampleValueInterception {
  &-FieldLabel {
    margin-bottom: var(--space-xs);
  }

  &-Button {
    margin-bottom: var(--space-xs);
  }

  .DocsDecorator ul&-FileList {
    margin-bottom: var(--space-xs);
  }
}
