.NotificationItem {
  &_withAvatar {
    --notification-item-gap: var(--space-m, 0px);
  }

  &-Avatar {
    flex: none;
  }

  &-Content {
    position: relative;
    flex: 1;
    width: calc(
      var(--notification-item-wrapper-width) -
        var(--notification-item-user-width) - var(--notification-item-gap)
    );
  }

  &-TitleWrapper {
    min-height: var(--control-height-xs);
  }

  &-Date {
    white-space: nowrap;
  }

  &-Badge {
    flex: none;
  }

  &-AdditionalInfo {
    overflow: hidden;
    min-height: var(--space-m);
  }

  &-Badges {
    overflow: hidden;
    width: 100%;
  }

  &-Title {
    margin-bottom: var(--space-2xs);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-Button {
    position: absolute;
    top: 0;
    right: 0;
  }

  &-Actions {
    position: absolute;
    top: 0;
    right: 0;
  }

  &-MixMR {
    margin-right: calc(var(--control-height-xs) + var(--space-2xs));
  }
}
