.Button.PaginationItem {
  --pagination-item-ph: var(--space-2xs);
  display: inline-flex;
  box-sizing: border-box;
  width: auto;
  min-width: var(--button-height);
  padding: 0 var(--pagination-item-ph);

  &:not(.PaginationItem_clickable) {
    --button-bg-color-hover: transparent;
    cursor: auto;
  }

  &_size {
    &_xs {
      --pagination-item-ph: var(--space-2xs);
    }

    &_s {
      --pagination-item-ph: var(--space-2xs);
    }

    &_m {
      --pagination-item-ph: var(--space-xs);
    }

    &_l {
      --pagination-item-ph: var(--space-xs);
    }
  }

  &_active {
    --button-bg-color: var(--color-control-bg-ghost);
  }
}
