.stand--LibPageMenu {
  &-Controls {
    margin-bottom: var(--space-xs);

    & > *:not(:last-child) {
      margin-bottom: var(--space-l);
    }

    & > *:first-child {
      margin-bottom: var(--space-xl);
    }
  }

  &-Input {
    margin-bottom: var(--space-l);
  }

  &-Image {
    margin-bottom: var(--space-l);
  }
}
