.IconFile {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &_size {
    &_s {
      width: 21px;
      height: 28px;
    }
    &_m {
      width: 30px;
      height: 40px;
    }
  }

  &-Svg {
    width: 100%;
    height: 100%;
    fill: currentcolor;
  }

  &.IconFileLoading,
  &.IconFileUndefined,
  &.IconFileExe,
  &.IconFileRar,
  &.IconFileZip {
    color: #c3cad1;
  }
  &.IconFileAvi,
  &.IconFileMov,
  &.IconFileMp4 {
    color: #fcd55f;
  }
  &.IconFileBmp,
  &.IconFileGif,
  &.IconFileJpg,
  &.IconFilePng,
  &.IconFilePtt,
  &.IconFileTiff {
    color: #ed9254;
  }
  &.IconFileCsv,
  &.IconFileXls {
    color: #69c57f;
  }
  &.IconFileDoc,
  &.IconFileRtf,
  &.IconFileTxt {
    color: #75adea;
  }
  &.IconFilePdf {
    color: #fb6a6a;
  }
  &.IconFileMp3,
  &.IconFileWav {
    color: #b56afb;
  }
}
