.canary--SelectInput {
  --select-input-text-height:
    calc(
      var(--field-control-layout-height) -
      var(--field-control-layout-border-width)
    );
  position: relative;

  &_withValue &-Input {
    opacity: 0;
  }

  &_withValue &-Input:not([disabled]),
  &-Input[readonly]:not([disabled]) {
    cursor: pointer;
    caret-color: transparent;
  }

  &-Value {
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--field-control-layout-input-color);
    pointer-events: none;
  }

  &-ValueText {
    height: var(--select-input-text-height);
    line-height: var(--select-input-text-height);
  }
}
