.SnackBarExampleTimer {
  &-SnackBar {
    position: fixed;
    z-index: 10;
    right: 10px;
    bottom: 10px;
    overflow: auto;
    flex: none;
    width: 100%;
    padding-right: var(--space-xs);
    padding-left: var(--space-xs);

    @media (min-width: 800px) {
      position: static;
      z-index: auto;
      right: auto;
      bottom: auto;
      max-width: 400px;
      height: 100%;
    }
  }

  &-Buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 300px;
    padding-right: var(--space-xs);
    padding-left: var(--space-xs);
  }

  &-ButtonAdd {
    margin-bottom: var(--space-xs);
  }
}
