.PopoverStories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  &_for_anchor {
    min-height: 200px;
    background: var(--color-bg-secondary);
  }

  &-Content {
    padding: var(--space-s);
    background: var(--color-bg-default);
    border: 1px solid var(--color-bg-border);
    box-shadow: var(--shadow-modal);
  }
}
