import React from 'react';

import { DataItem } from './types';

#imports#

export const data: DataItem[] = #data#

export const imageMap: Record<string, React.FC<React.SVGProps<SVGSVGElement>>> = {
  #imageMap#
};
