import { createIcon } from '../createIcon/createIcon';

import #componentName#SizeM from './#componentName#_size_m';
import #componentName#SizeS from './#componentName#_size_s';
import #componentName#SizeXs from './#componentName#_size_xs';

export const #componentName# = createIcon({
  m: #componentName#SizeM,
  s: #componentName#SizeS,
  xs: #componentName#SizeXs,
  name: '#componentName#',
});
