.StepsVariants {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  height: 330px;
  width: 100%;

  &-Content {
    flex: 1;
  }

  &-Actions {
    display: flex;
    justify-content: space-between;
  }
}
