.StepsVariants {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 330px;

  &-Content {
    flex: 1;
  }

  &-Actions {
    display: flex;
    justify-content: space-between;
  }
}
