.NotificationVariants {
  position: absolute;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  &-Header {
    overflow-y: auto;
    flex: none;
    padding: var(--space-s);
    background-color: var(--color-bg-secondary);
    border-bottom: 1px solid var(--color-bg-border);
  }

  &-Choice.Chips {
    flex-wrap: nowrap;
  }

  &-ChoiceWrapper {
    width: max-content;
    padding-right: calc(var(--control-height-s) + (var(--space-xs) * 2));
  }

  &-Body {
    overflow-y: auto;
    flex: 1;
    padding: var(--space-s);
  }
}
