.Tabs {
  &-Tab {
    --tab-indent: var(--space-m);
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: var(--space-xs) 0;
    color: var(--color-typo-secondary);
    background-color: transparent;
    border: none;
    font-family: var(--font);
    font-size: var(--tab-font-size);
    line-height: var(--line-height-text-s);
    cursor: pointer;
    transition: color 0.2s;

    &:not(:last-child) {
      margin-right: var(--space-m);
    }

    &_active,
    &:hover {
      color: var(--color-typo-primary);
    }

    &_size {
      &_s {
        --tab-font-size: var(--size-text-s);
      }

      &_m {
        --tab-font-size: var(--size-text-m);
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: -4px;
      left: -4px;
      bottom: 0;
      display: block;
      border-radius: var(--control-radius);
    }

    &:focus {
      outline: none;
    }

    &:not(.Tabs-Tab_onlyIcon) .Tabs-Icon {
      margin-right: calc(var(--tab-indent) * 0.5);
    }

    &_onlyIcon {
      justify-content: center;

      &.Tabs-Tab_size_s {
        width: 20px;
      }

      &.Tabs-Tab_size_m {
        width: 24px;
      }
    }
  }
}
