.header {
  &__search-bar {
    position: relative;
    width: 25vw;
    max-width: 260px;
  }
  &__search-bar-label {
    position: absolute;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  &__search-bar-button {
    position: absolute;
    right: var(--space-2xs);
    top: var(--space-2xs);
  }
}
