.HeaderSearchBar {
  position: relative;
  width: 25vw;
  max-width: 260px;

  &-Label {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    opacity: 0;
    pointer-events: none;
  }

  &-Button {
    position: absolute;
    top: var(--space-2xs);
    right: var(--space-2xs);
  }
}
