.Slider {
  --slider-side-margin: 0;
  --slider-container-margin: 0;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  touch-action: none;

  &_size {
    &_xs {
      --slider-container-margin: var(--space-2xs);
      --slider-side-margin: var(--space-xs);
    }

    &_s {
      --slider-container-margin: var(--space-2xs);
      --slider-side-margin: var(--space-s);
    }

    &_m {
      --slider-container-margin: var(--space-2xs);
      --slider-side-margin: var(--space-s);
    }

    &_l {
      --slider-container-margin: var(--space-xs);
      --slider-side-margin: var(--space-l);
    }
  }

  &-Label {
    margin-bottom: var(--slider-container-margin);
  }

  &-Caption {
    margin-top: var(--slider-container-margin);
  }

  &-Container {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    min-height: var(--space-m);
  }

  &-Control {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: var(--space-m);
    user-select: none;
  }

  &-Side {
    display: flex;
    align-items: center;

    &_position {
      &_left {
        margin-right: var(--slider-side-margin);
      }

      &_right {
        margin-left: var(--slider-side-margin);
      }
    }
  }
}
