.Slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;

  &-Input {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    min-height: 4px;
    background-color: var(--color-bg-stripe);
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &_disabled .Slider-point {
      border: 2px solid var(--color-control-typo-disable);
    }

    &_division,
    &_division &-divided_disabled {
      background: transparent;
    }

    &-divided {
      display: flex;
      width: 100%;
      margin: 0;
    }

    &-divide {
      height: 4px;
      margin: 0 2px;

      &_first {
        margin: 0 2px 0 0;
      }

      &_last {
        margin: 0 0 0 2px;
      }

      &::before {
        content: '';
        display: flex;
        width: 100%;
        height: 100%;
        background-color: var(--color-bg-stripe);
        border-radius: 4px;
      }

      &_focus {
        box-shadow: none !important;
      }

      &_fill:not(.Slider-input-divide_disabled)::before {
        background: var(--color-control-bg-primary);
      }

      &_fill::before {
        background: var(--color-bg-stripe);
      }
    }
  }

  &_disabled {
    cursor: inherit;
    pointer-events: none;

    .Slider-Input-divide_fill:not(.Slider-input-divide_disabled)::before {
      background: var(--color-control-typo-disable);
    }
  }

  &-Fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background-color: var(--color-control-bg-primary);
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &_disabled {
      background: var(--color-control-typo-disable);
    }

    &_focus {
      background-color: #0091ff;
      box-shadow: none !important;
    }
  }

  &-Point {
    position: absolute;
    z-index: 2;
    top: 50%;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    background: var(--color-bg-default);
    border: 2px solid #0078d2;
    border-radius: 8px;
    transition: border 0.3s ease;
    transform: translate(-50%, -50%);

    &_disabled {
      border: 2px solid var(--color-control-typo-disable);
    }

    &:hover {
      cursor: pointer;
    }
  }

  &-Prefix {
    margin-right: 12px;
  }

  &-Suffix {
    margin-left: 12px;
  }

  &-Tooltip {
    z-index: 2;
    padding: 8px;
    color: var(--color-bg-default);
    border-radius: 4px;
    opacity: 0.9;
    box-shadow: 0 3px 8px 8px rgb(0 66 105 / 7%);
  }
}
