.ChoiceGroup {
  position: relative;
  display: inline-flex;
  max-width: 100%;
  border-radius: var(--choice-radius);
  box-shadow: inset 0 0 0 var(--control-border-width) var(--color-control-bg-border-default);

  &_view {
    &_primary {
      --choice-bg-color: var(--color-control-bg-primary);
      --choice-text-color: var(--color-control-typo-primary);
    }

    &_ghost {
      --choice-bg-color: var(--color-control-bg-ghost);
      --choice-text-color: var(--color-control-typo-ghost);
    }

    &_secondary {
      --choice-bg-color: var(--color-control-bg-secondary);
      --choice-text-color: var(--color-control-typo-secondary);

      .ChoiceGroup-Label_checked {
        box-shadow: inset 0 0 0 1px var(--color-control-bg-border-secondary);
      }
    }
  }

  &_size {
    &_xs {
      --choice-height: var(--control-height-xs);
      --choice-font-size: var(--control-text-size-xs);
      --choice-space: var(--control-space-xs);
    }

    &_s {
      --choice-height: var(--control-height-s);
      --choice-font-size: var(--control-text-size-s);
      --choice-space: var(--control-space-s);
    }

    &_m {
      --choice-height: var(--control-height-m);
      --choice-font-size: var(--control-text-size-m);
      --choice-space: var(--control-space-m);
    }

    &_l {
      --choice-height: var(--control-height-l);
      --choice-font-size: var(--control-text-size-l);
      --choice-space: var(--control-space-l);
    }
  }

  &_form {
    &_default,
    &_brick {
      --divider-width: var(--control-border-width);
      --divider-height: 65%;
    }

    &_default {
      --choice-radius: var(--control-radius);
    }

    &_brick {
      --choice-radius: 0;
    }

    &_round {
      --choice-radius: 99em;
      --divider-width: 4px;
      --divider-height: 4px;

      .ChoiceGroup-Label {
        padding-right: calc(var(--choice-space) * 1.2 + var(--control-border-width));
        padding-left: calc(var(--choice-space) * 1.2);

        &::after {
          border-radius: 99em;
        }
      }
    }
  }

  &-Label {
    position: relative;
    z-index: 0;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    box-sizing: border-box;
    height: var(--choice-height);
    padding: 0 var(--choice-space) 0 var(--choice-space);
    color: var(--color-control-typo-default);
    border-radius: var(--choice-radius);
    font-size: var(--choice-font-size);
    font-weight: var(--font-weight-text-regular);
    line-height: calc(var(--choice-height) - var(--control-border-width) * 2);
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.15s ease, box-shadow 0.15s ease, color 0.15s ease,
      fill 0.15s ease;
  }

  &-Input {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
  }

  &-Label:last-child {
    padding-right: var(--choice-space);
  }

  &-Label:not(:last-child) {
    margin-right: var(--control-border-width);
  }

  /* Палочка */
  &-Label:not(:first-child)::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    width: var(--divider-width);
    height: var(--divider-height);
    transform: translateY(-50%);
  }

  &-Label:not(.ChoiceGroup-Label_checked) {
    &:hover {
      color: var(--color-control-typo-secondary-hover);
    }

    &::after {
      background-color: var(--color-control-bg-border-default);
    }
  }

  &-Label_checked {
    color: var(--choice-text-color);
    background-color: var(--choice-bg-color);

    & + .ChoiceGroup-Label::after {
      background-color: transparent;
    }
  }

  &-Text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &:not(.ChoiceGroup_onlyIcon) &-Icon {
    margin-right: calc(var(--choice-space) * 0.5);
  }

  &_onlyIcon {
    .ChoiceGroup-Label {
      justify-content: center;
      width: calc(var(--choice-height) + var(--control-border-width) * 2);
      padding: 0;
      padding-right: var(--control-border-width);
    }
  }

  &_width {
    &_full {
      width: 100%;
    }
  }
}
