.ChoiceGroup {
  position: relative;
  display: inline-flex;
  border: var(--control-border-width) solid var(--color-control-bg-border-default);
  border-radius: var(--choice-radius);

  &_view {
    &_primary {
      --choice-bg-color: var(--color-control-bg-primary);
      --choice-text-color: var(--color-control-typo-primary);
    }

    &_ghost {
      --choice-bg-color: var(--color-control-bg-ghost);
      --choice-text-color: var(--color-control-typo-ghost);

      .ChoiceGroup-Label::after {
        border-radius: 0;
      }

      .ChoiceGroup-Label:first-child::after {
        border-radius: var(--choice-radius) 0 0 var(--choice-radius);
      }

      .ChoiceGroup-Label:last-child::after {
        border-radius: 0 var(--choice-radius) var(--choice-radius) 0;
      }
    }

    &_secondary {
      --choice-bg-color: var(--color-control-bg-secondary);
      --choice-text-color: var(--color-control-typo-secondary);

      .ChoiceGroup-Label_checked::before {
        box-shadow: inset 0 0 0 1px var(--color-control-bg-border-secondary);
      }
    }
  }

  &_size {
    &_xs {
      --choice-height: var(--control-height-xs);
      --choice-font-size: var(--control-text-size-xs);
      --choice-space: var(--control-space-xs);
    }

    &_s {
      --choice-height: var(--control-height-s);
      --choice-font-size: var(--control-text-size-s);
      --choice-space: var(--control-space-s);
    }

    &_m {
      --choice-height: var(--control-height-m);
      --choice-font-size: var(--control-text-size-m);
      --choice-space: var(--control-space-m);
    }

    &_l {
      --choice-height: var(--control-height-l);
      --choice-font-size: var(--control-text-size-l);
      --choice-space: var(--control-space-l);
    }
  }

  &_form {
    &_default,
    &_brick {
      --divider-width: var(--control-border-width);
      --divider-height: 65%;
    }

    &_default {
      --choice-radius: var(--control-radius);
    }

    &_brick {
      --choice-radius: 0;
    }

    &_round {
      --choice-radius: 99em;
      --divider-width: 4px;
      --divider-height: 4px;

      .ChoiceGroup-Label {
        padding-right: calc(var(--choice-space) * 1.2 + var(--control-border-width));
        padding-left: calc(var(--choice-space) * 1.2);

        &::after {
          border-radius: 99em;
        }
      }
    }
  }

  &-Label {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: var(--choice-height);
    padding: 0 calc(var(--choice-space) + var(--control-border-width)) 0 var(--choice-space);
    color: var(--color-control-typo-default);
    font-size: var(--choice-font-size);
    font-weight: normal;
    line-height: calc(var(--choice-height) - var(--control-border-width) * 2);
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: background-color 0.15s ease, box-shadow 0.15s ease, color 0.15s ease,
      fill 0.15s ease;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: calc(-1 * var(--control-border-width));
      right: var(--control-border-width);
      left: 0;
      bottom: calc(-1 * var(--control-border-width));
      border-radius: var(--choice-radius);
    }
  }

  &-Input {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
  }

  /* Скругление углов */
  &-Label:first-child::before {
    left: calc(-1 * var(--control-border-width));
  }

  &-Label:last-child {
    padding-right: var(--choice-space);

    &::before {
      right: calc(-1 * var(--control-border-width));
    }
  }

  /* Палочка */
  &-Label:not(:first-child)::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: calc(-1 * var(--control-border-width));
    width: var(--divider-width);
    height: var(--divider-height);
    transform: translateY(-50%);
  }

  &-Label:not(.ChoiceGroup-Label_checked) {
    &:hover {
      color: var(--color-control-typo-secondary-hover);
    }

    &::after {
      background-color: var(--color-control-bg-border-default);
    }
  }

  &-Label_checked {
    color: var(--choice-text-color);

    &::before {
      background-color: var(--choice-bg-color);
    }

    & + .ChoiceGroup-Label::after {
      background-color: transparent;
    }
  }

  &:not(.ChoiceGroup_onlyIcon) &-Icon {
    margin-right: calc(var(--choice-space) * 0.5);
  }

  &_onlyIcon {
    .ChoiceGroup-Label {
      justify-content: center;
      width: calc(var(--choice-height) + var(--control-border-width) * 2);
      padding: 0;
      padding-right: var(--control-border-width);
    }
  }
}
