.canary--SpoilerButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--color-control-typo-secondary);
  cursor: pointer;
  transition: color 0.3s;
  gap: var(--space-xs);

  &:hover {
    color: var(--color-control-typo-secondary-hover);
  }

  &-Label.Text {
    color: currentColor;
  }
}
