.CalendarCell {
  --bg-color: var(--color-control-bg-ghost);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width:
    var(
      --calendar-cell-width,
      calc(var(--control-height-s) + var(--space-2xs))
    );
  height: var(--control-height-s);

  &_range {
    background: var(--bg-color);

    &_first::before,
    &_last::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      background: var(--bg-color);
    }

    &_first::before {
      right: 0;
      left: calc(var(--space-2xs) / 2);
      border-radius: 50% 0 0 50%;
    }

    &_last::before {
      right: calc(var(--space-2xs) / 2);
      left: 0;
      border-radius: 0 50% 50% 0;
    }
  }
}
